# Created by http://www.gitignore.io

### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules
report

### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Sublime Text
*.sublime-project
*.sublime-workspace
sftp-config.json

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Fonts
fonts

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#htaccess
.htaccess
