/* Account Login/Create Pages ============================================================ */
	.account-login .content 				{ min-height:240px; height:auto; padding: 20px 0; color:#000; background: none;}
	.account-login .content h2 				{ font-weight:bold; margin:0 0 14px; padding:0 0 5px 0; /* color:#a6a6a6; */ }
	.account-login .new-users h2 			{ }
	.account-login .registered-users h2 	{ }
	.account-login .buttons-set 			{ margin:0; position: relative; width: 100%; bottom: 0;}
	
	.account-create {}
/* Account Login/Create Pages ============================================================ */


/* My Account ============================================================================= */
	.my-account .title-buttons .link-rss 	{ float:none; margin:0; }
	
	/********** < Dashboard */
	.dashboard .welcome-msg 				{ margin:0; padding: 30px 0; font-size: 1.1em; color: #666;}
	.dashboard .welcome-msg p 				{ margin:0; }
	.dashboard .col2-set 					{ margin:0 0 15px; }
	.dashboard .col2-set .col-1 .box,
	.dashboard .box-info .col2-set .col-1 address		{ margin-right:10px; }
	.dashboard .col2-set .col-2 .box,
	.dashboard .box-info .col2-set .col-2 address,
	.dashboard .box-info .col2-set .col-2 h4			{ margin-left:10px;}	
	.dashboard .col2-set .box 				{ background: #fff; border:2px solid #e0e0e0; padding:10px; }
	
	/* General Box */
	.box-account 							{ padding:15px; margin: 10px 0; background: #fff; overflow: hidden;}
	.box-account .box-head 					{ margin:0 0 20px; text-align:right; }
	.box-account .box-head h2 				{ float:left; margin:0; font-size: 1.6em; background-position:0 0; background-repeat:no-repeat; padding: 5px 0; color:#db2525; }
	
	.dashboard .box .box-title 				{ padding:0 0 2px; margin:0 0 8px; text-align:right; }
	.dashboard .box .box-title h3,
	.dashboard .box .box-title h4 			{ float:left; font-size:1.1em; font-weight:bold; margin:-10px 0 0 -10px; background: #e0e0e0; padding: 3px 10px;}
	.dashboard .box .box-title > a 			{ font-size:0.9em; color:#999; font-weight:normal; text-decoration:none; display:inline-block; }
	.dashboard .box .box-title > a:hover 	{ color:#000; }
	/* Block: Recent Orders */
	.dashboard .box-recent .box-head h2 	{  }
	
	/* Block: Account Information */
	.dashboard .box-info .box-head h2 		{  padding-left:0; }
	.dashboard .box-info h4 				{ font-size:1em; }
	.dashboard .box-info .box-content		{ color:#000; }
	.dashboard .box-info .box-content a,
	.dashboard .box-info .box-content a:visited	{ color:#db2525; }	
	.dashboard .box-info .box-content a:hover { color:#000; text-decoration:underline; }
	
	/* Block: Reviews */
	.dashboard .box-reviews					{ background:#898b8c; color:#ccc; }
	.dashboard .box-reviews .box-head h2 	{ padding-left:0; color:#aaa;}
	.dashboard .box-reviews .box-head a,
	.dashboard .box-reviews .box-head a:visited { color:#aaa;}
	.dashboard .box-reviews .box-head a:hover	{ color:#fff; text-decoration:underline; }
	.dashboard .box-reviews .number 		{ float:left; font-size:1.2em; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
	.dashboard .box-reviews .details 		{ margin-left:20px; }
	.dashboard .box-reviews li.item 		{ margin:0 0 7px; }
	.dashboard .box-reviews li.item.last 	{ margin:0; }
	.dashboard .box-reviews .ratings 		{ margin:7px 0 0; }
	
	/* Block: Tags */
	.dashboard .box-tags .box-head h2 		{ }
	.dashboard .box-tags .number 			{ float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
	.dashboard .box-tags .details 			{ margin-left:20px; }
	.dashboard .box-tags li.item 			{ margin:0 0 7px; }
	.dashboard .box-tags li.item.last 		{ margin:0; }
	.dashboard .box-tags .tags strong,
	.dashboard .box-tags .tags ul,
	.dashboard .box-tags .tags ul li 		{ display:inline; }
	/********** Dashboard > */
	
	/* Address Book */
	.addresses-list							{ padding:20px; }
	.addresses-list h2 						{ font-weight:bold; font-size:13px; color:#000; text-transform:uppercase; }
	.addresses-list h3 						{ font-weight:bold; font-size:13px; }
	.addresses-list address 				{ margin:0 0 3px; }
	.addresses-list p 						{ margin:0; }
	.addresses-list a 						{ font-weight:bold; }
	.addresses-list .link-remove 			{ color:#646464; }
	.addresses-list .separator { margin:0 3px; }
	.addresses-list li.item { background:#fff url(../../images/bkg_account_box.gif) 0 0 repeat-x; border:1px solid #ccc; padding:10px 13px; margin:0 0 10px; }
	.addresses-list li.empty { background:none; border:0; padding:0; }
	.addresses-list li.empty p { font-weight:bold; }
	.addresses-list .addresses-additional li.item { background:none; border:0; padding:0; }
	
	/* Order View */
	.order-info { background:#dee5e8; border:1px solid #d0cbc1; padding:4px 8px; margin:0 0 8px; }
	.order-info dt,
	.order-info dd,
	.order-info ul,
	.order-info li { display:inline; }
	.order-info .current { font-weight:bold; }
	.order-info li { margin:0 3px; }
	
	.order-date { margin:10px 0; }
	
	.order-info-box { background:#fff url(../../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
	.order-info-box h2 { font-weight:bold; font-size:13px; }
	.order-info-box .box-payment p { margin:0 0 5px; }
	.order-info-box .box-payment th { font-weight:bold; padding-right:7px; }
	
	.order-items { width:100%; overflow-x:auto; }
	.order-items h2,
	.order-items h3 { font-weight:bold; font-size:13px; }
	.order-items .product-name { font-size:1em !important; font-weight:bold !important; }
	.order-items .link-print { float:right; color:#1e7ec8; font-weight:normal; }
	.order-items p .link-print { float:none; }
	
	.order-gift-message { margin:15px 0; }
	.gift-message dt strong { color:#666; }
	.gift-message dd { margin:5px 0 0; font-size:13px; }
	
	.order-about { margin:15px 0; }
	.order-about dt { font-weight:bold; }
	.order-about dd { font-size:13px; margin:0 0 7px; }
	
	.tracking-table { margin:0 0 15px; }
	.tracking-table th { font-weight:bold; white-space:nowrap; }
	.tracking-table th,
	.tracking-table td { padding:1px 5px 0 0; }
	
	.tracking-table-popup { width:100%; }
	.tracking-table-popup th { font-weight:bold; white-space:nowrap; }
	.tracking-table-popup th,
	.tracking-table-popup td { padding:1px 8px; }
	
	/* Order Print Pages */
	.page-print .print-head { margin:0 0 15px; }
	.page-print .print-head .logo { float:left; }
	.page-print .print-head address { float:left; margin-left:15px; }
	.page-print h1 { font-size:16px; font-weight:bold; }
	.page-print h2,
	.page-print h3 { font-size:13px; font-weight:bold; }
	.page-print h2.h2 { font-size:16px; font-weight:bold; }
	.page-print .order-date { background:url(../../images/bkg_divider1.gif) 0 100% repeat-x; padding:0 0 10px; margin:0 0 10px; }
	.page-print .col2-set { margin:0 0 10px; }
	/* Price Rewrites */
	.page-print .gift-message-link { display:none; }
	.page-print .price-excl-tax,
	.page-print .price-incl-tax { display:block; white-space:nowrap; }
	.page-print .cart-price,
	.page-print .price-excl-tax .label,
	.page-print .price-incl-tax .label,
	.page-print .price-excl-tax .price,
	.page-print .price-incl-tax .price { display:inline; }
	
	/* My Wishlist */
	.my-wishlist .data-table td { padding:10px; }
	.my-wishlist .product-image { display:block; width:113px; height:113px; margin:0 0 5px; }
	.my-wishlist textarea { display:block; width:97%; height:109px; }
	.my-wishlist .buttons-set { margin-top:2em; }
	.my-wishlist .buttons-set .button { float:none; }
	.my-wishlist .buttons-set .btn-add span,
	.my-wishlist .buttons-set .btn-share span {  }
	#wishlist-table .add-to-links { white-space:nowrap; }
	
	/* My Tags */
	.my-tag-edit { float:left; margin:0 0 10px; }
	.my-tag-edit .btn-remove { float:right; margin:5px 0 0 5px; }
	#my-tags-table { clear:both; }
	#my-tags-table td { padding:10px; }
	#my-tags-table .add-to-links { white-space:nowrap; }
	
	/* My Reviews */
	#my-reviews-table td { padding:10px; }
	
	/* Billing Agreements */
		.billing-agreements .info-box{ margin:15px 0; }
		.billing-agreements .form-list li select { float:left; }
		.billing-agreements .form-list li .button { float:left; margin-left:10px; }
		.billing-agreements .table-caption { font-weight:bold; font-size:13px; }
	
	.product-review .product-img-box { float:left; width:140px;  }
	.product-review .product-img-box .product-image { display:block; width:125px; height:125px; }
	.product-review .product-img-box .label { font-size:1em; margin:0 0 3px; }
	.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
	.product-review .product-details { margin-left:150px; }
	.product-review .product-name { font-size:16px; font-weight:bold; margin:0 0 10px; }
	.product-review h3 { font-size:1.1em; margin:0 0 3px; color:#2f2f2f; }
	.product-review .ratings-table { margin:0 0 10px; }
	.product-review dt { font-weight:bold; }
	.product-review dd { font-size:13px; margin:5px 0 0; }
/* ======================================================================================= */