// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-accordion-classes =           com_js.ACCORDION

$accordion-navigation-padding ?=             rem-calc(12 0)
$accordion-navigation-margin-bottom ?=       0 // rem-calc(10)
$accordion-navigation-bg-color ?=            false // $gray-light-2
$accordion-navigation-hover-bg-color ?=      false // darken($accordion-navigation-bg-color, 5%)
$accordion-navigation-active-bg-color ?=     false // darken($accordion-navigation-bg-color, 3%)
$accordion-navigation-border-width ?=        1px
$accordion-navigation-border-color ?=        $separator-color
$accordion-navigation-border-color-hover ?=  $separator-color
$accordion-navigation-border-color-active ?= $separator-color
$accordion-navigation-font-color ?=          $charcoal-1
$accordion-navigation-font-color-hover ?=    $primary-color
$accordion-navigation-active-font-color ?=   $primary-color
$accordion-navigation-font-size ?=           fontsize(1.2rem)
$accordion-navigation-font-family ?=         $body-font-family

$accordion-content-padding ?=                ($column-gutter / 2)
$accordion-content-active-bg-color ?=        $white


//  Mixin: accordion-container()
//  Decription: Responsible for the container component of accordions, generating styles relating to a margin of zero and a clearfix
//  Explicit Dependencies: a clearfix mixin *is* defined.
//  Implicit Dependencies: None

accordion-container() {
    clearfix()
    margin-bottom: 0
}

//  Mixin: accordion-navigation( $bg, $hover-bg, $active-bg, $padding, $active_class,  $font-color, $font-size, $font-family){
    //    @params $bg-color: [ color or string ]: Specify the background color for the navigation element
    //    @params $hover-bg-color [ color or string ]: Specify the background color for the navigation element when hovered
    //    @params $active-bg [ color or string ]: Specify the background color for the navigation element when clicked and not released.
    //    @params $active_class [ string ]: Specify the class name used to keep track of which accordion tab should be visible
    //    @params $font-color [ color or string ]: Color of the font for accordion
    //    @params $font-size [ number ]: Specifiy the font-size of the text inside the navigation element
    //    @params $font-family [ string ]: Specify the font family for the text of the navigation of the accorion

accordion-navigation($bg = $accordion-navigation-bg-color, $hover-bg = $accordion-navigation-hover-bg-color, $active-bg = $accordion-navigation-active-bg-color, $padding = $accordion-navigation-padding, $active_class = 'is-active',  $font-color = $accordion-navigation-font-color, $font-size = $accordion-navigation-font-size, $font-family = $accordion-navigation-font-family, $active-font = $accordion-navigation-active-font-color ){
    display: block
    margin-bottom: 0 !important

    &.is-active > a {
        if $active-bg {
            background: $active-bg
        }
        svg-background($file:'arrows_up.svg', $shapes:('polyline' 'polygon'), $stroke: $accordion-navigation-font-color-hover, $stroke-hover: $accordion-navigation-font-color-hover, $stroke-width: $svg-stroke-width-small, $position-x: $opposite-direction)
        if ($accordion-navigation-border-color != $accordion-navigation-border-color-active) {
            border-color: $accordion-navigation-border-color
        }
        color: $active-font
    }

    > a {
        if $bg {
            background: $bg
        }
        svg-background($file:'arrows_down.svg', $shapes:('polyline' 'polygon'), $stroke: $icon-color-normal, $stroke-hover: $accordion-navigation-font-color-hover, $stroke-width: $svg-stroke-width-small, $position-x: $opposite-direction)

        border-top: $accordion-navigation-border-width solid $accordion-navigation-border-color
        color: $font-color
        padding: $padding
        padding-{$opposite-direction}: (2.5 * $svg-icons-base-size)

        display: block
        font_family($font-family)
        font-size: $font-size


        &:hover {
            if $accordion-navigation-hover-bg-color {
                background-color: $accordion-navigation-hover-bg-color
            }
            if ($accordion-navigation-border-color-hover != $accordion-navigation-border-color) {
                border-color: $accordion-navigation-border-color-hover
            }
            color: $accordion-navigation-font-color-hover
        }
    }
}

//  Mixin: accordion-content($bg, $padding, $active-class)
//    @params $padding [ number ]: Padding for the content of the container
//    @params $bg [ color  ]: Background color for the content when it's visible
//    @params $active_class [ string ]: Class name used to keep track of which accordion tab should be visible.

accordion-content($bg = $accordion-content-active-bg-color, $padding = $accordion-content-padding, $active_class = 'is-active'){
    display: none
    padding: $padding

    &.is-active {
        background: $bg
        border-bottom: $accordion-navigation-border-width solid $accordion-navigation-border-color
        display: block
    }

}

//
// @styles
//
if $include-html-accordion-classes {
    .accordion {
        clearfix()
        margin-bottom: 0
        margin-left: 0

        .accordion-navigation,
        dd {
            display: block
            margin-bottom: $accordion-navigation-margin-bottom !important

            accordion-navigation()

            > .content {
                accordion-content()
            }
        }
    }
}