// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @Variables
//

$include-html-nav-breadcrumb-classes =                 com_css.BREADCRUMBS

// set the background color for the breadcrumb container.
$crumb-bg ?=                                 lighten($secondary-color, 55%)

// set the padding around the breadcrumbs.
$crumb-padding ?=                            rem-calc(9 14)
$crumb-side-padding ?=                       rem-calc(6) // rem-calc(12)

// border styles.
$crumb-function-factor ?=                    10% // -10%
$crumb-border-size ?=                        false // 1px
$crumb-border-style ?=                       solid
$crumb-border-color ?=                       darken($crumb-bg, $crumb-function-factor)
$crumb-radius ?=                             false // $global-radius

// set various text styles for breadcrumbs.
$crumb-font-size ?=                          fontsize(0.7rem)
$crumb-line-height ?=                        1
$crumb-font-weight ?=                        $font-weight-bold
$crumb-font-weight-current ?=                $font-weight-normal
$crumb-font-color ?=                         $primary-color
$crumb-font-color-current ?=                 $gray-base
$crumb-font-color-unavailable ?=             $gray-medium-2
$crumb-font-transform ?=                     uppercase
$crumb-link-decor ?=                         none // underline

// the slash between breadcrumbs
$crumb-slash-color ?=                        $gray-base
$crumb-slash ?=                              "/"

//
// Breadcrumb Mixins
//

// We use this mixin to create a container around our breadcrumbs
crumb-container() {
    display: block
    padding: $crumb-padding
    overflow: hidden
    margin: 0
    list-style: none
    if ($crumb-border-size) {
        border-style: $crumb-border-style
        border-width: $crumb-border-size
        border-color: $crumb-border-color
    }

    background-color: $crumb-bg
}

// We use this mixin to create breadcrumb styles from list items.
crumbs() {

    // A normal state will make the links look and act like clickable breadcrumbs.
    margin: 0
    float: $default-float
    font-size: $crumb-font-size
    line-height: $crumb-line-height
    text-transform: $crumb-font-transform
    color: $crumb-font-color

    &:hover a,
    &:focus a { 
        text-decoration: $crumb-link-decor
    }

    a {
        font-weight: $crumb-font-weight
        color: $crumb-font-color
    }

    // Current is for the link of the current page
    &.is-current {
        color: $crumb-font-color-current
        cursor: $cursor-default-value
        a {
            font-weight: $crumb-font-weight-current
            color: $crumb-font-color-current
            cursor: $cursor-default-value
        }

        &:hover,
        &:hover a,
        &:focus,
        &:focus a {
            text-decoration: none
        }
    }

    // Unavailable removed color and link styles so it looks inactive.
    &.is-unavailable {
        color: $crumb-font-color-unavailable
        a {
            color: $crumb-font-color-unavailable
        }

        &:hover,
        &:hover a,
        &:focus,
        a:focus {
            text-decoration: none
            color: $crumb-font-color-unavailable
            cursor: $cursor-disabled-value
        }
    }

    &:before {
        content: $crumb-slash
        color: $crumb-slash-color
        margin: 0 $crumb-side-padding
        position: relative
        top: 1px
    }

    &:first-child:before {
        content: " "
        margin: 0
    }
}

//
// @styles
//

if $include-html-nav-breadcrumb-classes {
    .breadcrumbs {
        crumb-container()
        if($crumb-radius) {
            radius($crumb-radius)
        }

        // & > * {
        > li {
            crumbs()
        }
    }

    // Accessibility - hides the forward slash
    [aria-label="breadcrumbs"] [aria-hidden="true"]:after {
        content: "/"
    }
}
