// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @Variables
//

$include-html-nav-breadcrumb-classes =                 com_css.BREADCRUMBS

// set the background color for the breadcrumb container.
$crumb-bg ?=                                 transparent // lightness($secondary-color, 80%)

// set the padding around the breadcrumbs.
$crumb-padding ?=                            rem-calc(9 14)
$crumb-side-padding ?=                       rem-calc(6) // rem-calc(12)

// border styles.
$crumb-function-factor ?=                    -(10%)
$crumb-border-size ?=                        false // 1px
$crumb-border-pos ?=                         false // top, right, bottom, left
$crumb-border-style ?=                       solid
$crumb-border-color ?=                       scale-color($crumb-bg, $crumb-function-factor)
$crumb-radius ?=                             false // $global-radius

// set various text styles for breadcrumbs.
$crumb-font-size ?=                          fontsize(0.7rem)
$crumb-line-height ?=                        1
$crumb-font-weight ?=                        $font-weight-bold
$crumb-font-weight-current ?=                $font-weight-normal
$crumb-font-color ?=                         $primary-color
$crumb-font-color-hover ?=                   scale-color($crumb-font-color, $crumb-function-factor)
$crumb-font-color-current ?=                 $gray-base
$crumb-font-color-unavailable ?=             $gray-medium-2
$crumb-font-transform ?=                     uppercase
$crumb-link-decor ?=                         none // underline

// the slash between breadcrumbs
$crumb-slash-color ?=                        $gray-base
$crumb-slash ?=                              '/'

//
// Breadcrumb Mixins
//

// We use this mixin to create a container around our breadcrumbs
crumb-container() {
    background-color: $crumb-bg
    if ($crumb-border-size) {
        if ($crumb-border-pos) {
            border-{$crumb-border-pos}: $crumb-border-size $crumb-border-style $crumb-border-color
        } else {
            border: $crumb-border-size $crumb-border-style $crumb-border-color
        }
    }
    display: block
    list-style: none
    margin: 0
    overflow: hidden
    padding: $crumb-padding
}

// We use this mixin to create breadcrumb styles from list items.
crumbs() {
    color: $crumb-font-color
    float: $default-float
    font-size: $crumb-font-size
    line-height: $crumb-line-height
    // A normal state will make the links look and act like clickable breadcrumbs.
    margin: 0
    text-transform: $crumb-font-transform

    &:hover a,
    &:focus a { 
        color: $crumb-font-color-hover
        text-decoration: $crumb-link-decor
    }

    a {
        color: $crumb-font-color
        font-weight: $crumb-font-weight
    }

    // Current is for the link of the current page
    &.is-current {
        color: $crumb-font-color-current
        cursor: $cursor-default-value
        a {
            font-weight: $crumb-font-weight-current
            color: $crumb-font-color-current
            cursor: $cursor-default-value
        }

        &:hover,
        &:hover a,
        &:focus,
        &:focus a {
            text-decoration: none
        }
    }

    // Unavailable removed color and link styles so it looks inactive.
    &.is-unavailable {
        color: $crumb-font-color-unavailable
        a {
            color: $crumb-font-color-unavailable
        }

        &:hover,
        &:hover a,
        &:focus,
        a:focus {
            color: $crumb-font-color-unavailable
            cursor: $cursor-disabled-value
            text-decoration: none
        }
    }

    &:before {
        content: $crumb-slash
        color: $crumb-slash-color
        margin: 0 $crumb-side-padding
        position: relative
        top: 1px
    }

    &:first-child:before {
        content: ' '
        margin: 0
    }
}

//
// @styles
//
if $include-html-nav-breadcrumb-classes {
    .breadcrumbs {
        crumb-container()
        if($crumb-radius) {
            radius($crumb-radius)
        }

        // & > * {
        > li {
            crumbs()
        }
    }

    // Accessibility - hides the forward slash
    [aria-label='breadcrumbs'] [aria-hidden='true']:after {
        content: '/'
    }
}
