// Checkout Progress Indicator Bar
// based on: http://codepen.io/whqet/pen/EJgwb?editors=110

//
// @variables
//

$include-html-checkout-progress-classes =       com_css.CHECKOUTPROGRESS

$checkout-progress-color ?=                     $gray-darker-2
$checkout-progress-font-family ?=               $font-family-custom
$checkout-progress-bar-height ?=                rem-calc(2)
$checkout-progress-bar-margin ?=                rem-calc(0 20)
$checkout-progress-bar-animation ?=             2s // false
$checkout-progress-step-font-size ?=            fontsize(1.6rem)
$checkout-progress-step-width ?=                rem-calc(42)
$checkout-progress-step-height ?=               $checkout-progress-step-width
$checkout-progress-step-line-height ?=          ($checkout-progress-step-height - rem-calc(4))
$checkout-progress-step-active-color ?=         $info-color
$checkout-progress-step-visited-color ?=        $success-color
$checkout-progress-step-hidden-color ?=         $white
$checkout-progress-step-next-color ?=           $gray-base
$checkout-progress-label-font-size ?=           fontsize(0.8rem)
$checkout-progress-label-margin-top ?=          rem-calc(8)
$checkout-progress-label-height ?=              rem-calc(20)
$checkout-progress-margin ?=                    rem-calc(20)
$checkout-progress-li-padding ?=                rem-calc(14 20 14 80)

$checkout-progress-zindex ?=                    999

//
// @mixins
//
// Mixins for checkout progress bar

hidden-progress() {
    background-color: $checkout-progress-step-hidden-color
}

next-progress() {
    background-color: $checkout-progress-step-next-color
    // background-size: 35px 35px
    // background-image: -webkit-linear-gradient(-45deg, rgba($white, .4) 25%, transparent 25%,transparent 50%, rgba($white, .4) 50%, rgba($white, .4) 75%,transparent 75%, transparent)
    // background-image: -moz-linear-gradient(-45deg, rgba($white, .4) 25%, transparent 25%,transparent 50%, rgba($white, .4) 50%, rgba($white, .4) 75%,transparent 75%, transparent)
}

success-progress() {
    background-color: $checkout-progress-step-visited-color
    // background-size: 35px 35px
    // background-image: -webkit-linear-gradient(-45deg, rgba($white, .2) 25%, transparent 25%,transparent 50%, rgba($white, .2) 50%, rgba($white, .2) 75%,transparent 75%, transparent)
    // background-image: -moz-linear-gradient(-45deg, rgba($white, .2) 25%, transparent 25%,transparent 50%, rgba($white, .2) 50%, rgba($white, .2) 75%,transparent 75%, transparent)
}

active-progress() {
    background-color: $checkout-progress-step-active-color
    // background-size: 35px 35px
    // background-image: -webkit-linear-gradient(-45deg, rgba($white, .2) 25%, transparent 25%,transparent 50%, rgba($white, .2) 50%, rgba($white, .2) 75%,transparent 75%, transparent)
    // background-image: -moz-linear-gradient(-45deg, rgba($white, .2) 25%, transparent 25%,transparent 50%, rgba($white, .2) 50%, rgba($white, .2) 75%,transparent 75%, transparent)
}

@-webkit-keyframes progressbar_animation {
    from {
        left: 0%
    }
    to {
        left: 50%
    }
}

//
// @styles
//

if $include-html-checkout-progress-classes {

    .checkout-wrap {
        color: $checkout-progress-color
        font-family: $checkout-progress-font-family
        margin: rem-calc(20) auto
        position: relative
    }

    .checkout-bar {
        margin: $checkout-progress-bar-margin

        li {
            color: $gray-base
            display: block
            font-size: $checkout-progress-step-font-size
            font-weight: $font-weight-normal
            padding: $checkout-progress-li-padding
            position: relative

            // Step Label
            span,
            a {
                color: $gray-base
                font-size: $checkout-progress-label-font-size
                font-weight: $font-weight-bold
                text-decoration: none
                text-transform: uppercase
                &:hover {
                    cursor: $cursor-default-value
                }
            }

            &:before {
                background-color: $white
                border: 2px solid $checkout-progress-step-next-color
                border-radius: 50%
                box-shadow: 0 0 0 2px $white // simualte white gap to progress bar
                color: $checkout-progress-step-next-color
                font-size: $checkout-progress-step-font-size
                font-weight: $font-weight-normal
                height: $checkout-progress-step-height //rem-calc(35)
                left: rem-calc(20)
                line-height: $checkout-progress-step-line-height //rem-calc(35)
                position: absolute
                text-align: center
                top: rem-calc(4)
                width: $checkout-progress-step-width //rem-calc(35)
                z-index: $checkout-progress-zindex

            }

            &.is-active {
                color: $info-color

                &:before {
                    // background-color: $checkout-progress-step-active-color
                    border-color: $checkout-progress-step-active-color
                    color: $checkout-progress-step-active-color // $white
                    z-index: $checkout-progress-zindex
                }
                
                span,
                a {
                    color: $info-color
                    &:hover {
                        color: darken($checkout-progress-step-active-color, 25%)
                        cursor: $cursor-pointer-value
                    }
                }
            }
            &.is-visited {
                color: $success-color
                z-index: $checkout-progress-zindex

                &:before {
                    // background-color: $checkout-progress-step-visited-color
                    svg-background($file:'arrows_check.svg', $size:($checkout-progress-step-height - rem-calc(10)), $stroke:$checkout-progress-step-visited-color, $stroke-width:$svg-stroke-width-large, $position-x:center)
                    content: '' !important
                    border-color: $checkout-progress-step-visited-color
                    box-shadow: none
                    color: $white
                    z-index: $checkout-progress-zindex
                }
                
                span,
                a {
                    color: $checkout-progress-step-visited-color

                    &:hover {
                        color: darken($checkout-progress-step-visited-color, 25%)
                        cursor: $cursor-pointer-value
                    }
                }
            }
            &:nth-child(1) {
                &:before {
                    content: '1'
                }
            }
            &:nth-child(2) {
                &:before {
                    content: '2'
                }
            }
            &:nth-child(3) {
                &:before {
                    content: '3'
                }
            }
            &:nth-child(4) {
                &:before {
                    content: '4'
                }
            }
            &:nth-child(5) {
                &:before {
                    content: '5'
                }
            }
            &:nth-child(6) {
                &:before {
                    content: '6'
                }
            }
        }

    } // EOF - ul.checkout-bar


    +mediaquery($small-up) {
        .checkout-wrap {
            margin: ((($checkout-progress-step-height/2)+$checkout-progress-margin) auto (($checkout-progress-step-height/2)+$checkout-progress-label-height+$checkout-progress-margin) auto)
        }

        .checkout-bar li.is-active:after {
            active-progress()
            content: ''
            height: $checkout-progress-bar-height
            left: 50%
            position: absolute
            top: -(($checkout-progress-step-height/2) + ($checkout-progress-bar-height/2) - rem-calc(1))
            width: 100%
            z-index: 0

            if $checkout-progress-bar-animation {
                -webkit-animation: progressbar_animation $checkout-progress-bar-animation 0
            }
        }

        .checkout-bar {
            next-progress()
            border-radius: $checkout-progress-bar-height
            height: $checkout-progress-bar-height
            margin: 0 auto
            padding: 0
            position: absolute
            width: 100%

            // Left end of progress bar stripe
            &:before {
                success-progress()
                border-radius: $checkout-progress-bar-height
                content: ' '
                height: $checkout-progress-bar-height
                left: 0
                position: absolute
                width: (percentage((1/4)) / 2) // 10%
            }
            
            // If first item in steps is active, colorize left stripe "active" and NOT "success"
            &.checkout-bar--firstactive {
                &:before {
                    active-progress()
                }
            }

            li {
                display: inline-block
                float: left
                margin: ($checkout-progress-step-height/2) 0 0 0
                padding: 0
                text-align: center
                width: percentage((1/5)) // default width for five steps

                // This is our Step number Circle
                &:before {
                    height: $checkout-progress-step-height
                    left: 50%
                    line-height: $checkout-progress-step-line-height
                    margin-left: -($checkout-progress-step-width/2)
                    position: absolute
                    top: -($checkout-progress-step-height + ($checkout-progress-bar-height/2))
                    width: $checkout-progress-step-width
                    z-index: ($checkout-progress-zindex - 1)
                }

                &.is-visited {
                    background: none

                    &:after {
                        success-progress()

                        content: ''
                        position: absolute
                        left: 50%
                        top: -(($checkout-progress-step-height/2) + ($checkout-progress-bar-height/2) - rem-calc(1))
                        width: 100%
                        height: $checkout-progress-bar-height
                        z-index: ($checkout-progress-zindex - 1)
                    }
                }

                span,
                a {
                    display: inline-block
                    line-height: 1
                    padding-top: ($checkout-progress-label-margin-top + $checkout-progress-step-height)
                    position: relative
                    top: -($checkout-progress-step-height) // move label closer to number
                    z-index: ($checkout-progress-zindex + 1) //move link above li:before to make it a nice block link
                }
            } // li

            // handle different step counts
            &__four {
                $stepwidth = percentage((1/4))
                &:before {
                    width: ($stepwidth/2)
                }
                li {
                    width: $stepwidth
                }
            }
            &__five {
                $stepwidth = percentage((1/5))
                &:before {
                    width: ($stepwidth/2)
                }
                li {
                    width: $stepwidth
                }
            }
            &__six {
                $stepwidth = percentage((1/6))
                &:before {
                    width: ($stepwidth/2)
                }
                li {
                    width: $stepwidth
                }
            }

        } // EOF - .checkout-bar
    } // EOF - +mediaquery($small-up)
}