// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-clearing-classes =            com_js.CLEARING

// set the background colors for parts of Clearing.
$clearing-bg ?=                              $charcoal-1
$clearing-caption-bg ?=                      $clearing-bg
$clearing-carousel-bg ?=                     rgba($charcoal-1,.8)
$clearing-img-bg ?=                          $clearing-bg

$clearing-thumb-margin ?=                    rem-calc(10)
$clearing-thumb-figure-margin ?=             0
$clearing-thumb-figure-padding ?=            0

// style the close button
$clearing-close-color ?=                     $gray-medium-2
$clearing-close-hover-color ?=               $gray-medium-2
$clearing-close-size ?=                      30px

// style the arrows
$clearing-arrow-size ?=                      12px
$clearing-arrow-color ?=                     $clearing-close-color

// style captions
$clearing-caption-font-color ?=              $gray-medium-2
$clearing-caption-font-size ?=               fontsize(.75rem)
$clearing-caption-padding ?=                 rem-calc(5 10)

// make the image and carousel height and style
$clearing-active-img-height ?=               85%
$clearing-carousel-height ?=                 120px
$clearing-carousel-thumb-width ?=            120px
$clearing-carousel-thumb-active-border ?=    1px solid $white

$clearing-touch-label-color ?=               $gray-base


//
// @styles
//
if $include-html-clearing-classes {
    // We decided to not create a mixin for Clearing because it relies
    // on predefined classes and structure to work properly.
    // The variables above should give enough control.

    // Clearing Styles
    .clearing-thumbs,
    {data('clearing')} {
        clearfix()
        list-style: none
        margin-bottom: 0
        margin-{$default-float}: 0

        li {
            float: $default-float
            margin-{$opposite-direction}: $clearing-thumb-margin
        }

        &[class*='block-grid-'] li {
            margin-{$opposite-direction}: 0

            .img,
            figure {
                margin: $clearing-thumb-figure-margin
                padding: $clearing-thumb-figure-padding
            }
        }
    }

    .clearing-blackout {
        {$default-float}: 0
        background: $clearing-bg
        height: 100%
        position: fixed
        top: 0
        width: 100%
        z-index: $zindex-modal

        .clearing-close {
            display: block
        }
    }

    .clearing-container {
        height: 100%
        margin: 0
        overflow: hidden
        position: relative
        z-index: $zindex-modal
    }

    .clearing-touch-label {
        color: $clearing-touch-label-color
        font-size: 0.6em
        left: 50%
        position: absolute
        top: 50%
    }

    .visible-img {
        height: 95%
        position: relative

        img {
            position: absolute
            max-height: 100%
            max-width: 100%
            top: 50%
            if ($default-float == left) {
                transform: translateY(-50%) translateX(-50%)
            } else {
                transform: translateY(-50%) translateX(50%)
            }
            {$default-float}: 50%
        }
    }

    .clearing-caption {
        background: $clearing-caption-bg
        // bottom: 0
        color: $clearing-caption-font-color
        font-size: $clearing-caption-font-size
        line-height: 1.2
        margin-bottom: 0
        text-align: $default-float
        padding: $clearing-caption-padding
        // position: absolute
        width: 100%
        // {$default-float}: 0
    }

    .clearing-close {
        color: $clearing-close-color
        display: none
        font-size: $clearing-close-size
        line-height: 1
        padding-{$default-float}: 20px
        padding-top: 10px
        z-index: ($zindex-modal + 1)

        &:hover,
        &:focus {
            color: $clearing-close-hover-color
        }
    }

    .clearing-assembled .clearing-container {
        height: 100%

        .carousel > ul {
            display: none
        }
    }

    // If you want to show a lightbox, but only have a single image come through as the thumbnail
    .clearing-feature li {
        display: none

        &.clearing-featured-img {
            display: block
        }
    }

    // Large screen overrides
    +mediaquery($medium-up) {
        .clearing-main-prev,
        .clearing-main-next {
            height: 100%
            position: absolute
            top: 0
            width: 40px

            > span {
                border: solid $clearing-arrow-size
                display: block
                height: 0
                position: absolute
                top: 50%
                width: 0

                &:hover {
                    opacity: 0.8
                }
            }
        }
        .clearing-main-prev {
            {$default-float}: 0

            > span {
                border-color: transparent
                border-{$opposite-direction}-color: $clearing-arrow-color
                {$default-float}: 5px
            }
        }
        .clearing-main-next {
            {$opposite-direction}: 0

            > span {
                border-color: transparent
                border-{$default-float}-color: $clearing-arrow-color
            }
        }
        
        .clearing-main-prev.is-disabled,
        .clearing-main-next.is-disabled {
            opacity: 0.3
        }

        .clearing-assembled .clearing-container {

            .carousel {
                background: $clearing-carousel-bg
                height: $clearing-carousel-height
                margin-top: 10px
                text-align: center

                > ul {
                    display: inline-block
                    float: none
                    height: 100%
                    position: relative
                    z-index: $zindex-modal

                    li {
                        clear: none
                        cursor: $cursor-pointer-value
                        display: block
                        float: $default-float
                        margin-{$opposite-direction}: 0
                        min-height: inherit
                        opacity: 0.4
                        overflow: hidden
                        padding: 0
                        position: relative
                        width: $clearing-carousel-thumb-width

                        &.fix-height {
                            img {
                                height: 100%
                                max-width: none
                            }
                        }

                        a.th {
                            border: none
                            box-shadow: none
                            display: block
                        }

                        img {
                            cursor: $cursor-pointer-value !important
                            width: 100% !important
                        }

                        &.visible {
                            opacity: 1
                        }
                        &:hover {
                            opacity: 0.8
                        }
                    }
                }
            }

            .visible-img {
                background: $clearing-img-bg
                height: $clearing-active-img-height
                overflow: hidden
            }
        }

        .clearing-close {
            padding-{$default-float}: 0
            padding-top: 0
            position: absolute
            top: 10px
            {$opposite-direction}: 20px
        }
    }

}