// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-dropdown-button-classes =              com_css.DROPDOWNBUTTONS

// set the color of the pip in dropdown buttons
$dropdown-button-pip-color ?=                $white
$dropdown-button-pip-color-alt ?=            $charcoal-1

// set the size of the pip in dropdown buttons
$button-pip-tny ?=                           rem-calc(6)
$button-pip-sml ?=                           rem-calc(7)
$button-pip-med ?=                           rem-calc(9)
$button-pip-lrg ?=                           rem-calc(11)

// style tiny dropdown buttons
$dropdown-button-padding-tny ?=              $button-pip-tny * 7
$dropdown-button-pip-size-tny ?=             $button-pip-tny
$dropdown-button-pip-opposite-tny ?=         $button-pip-tny * 3
$dropdown-button-pip-top-tny ?=              -(($button-pip-tny) / 2 + rem-calc(1))

// style small dropdown buttons
$dropdown-button-padding-sml ?=              $button-pip-sml * 7
$dropdown-button-pip-size-sml ?=             $button-pip-sml
$dropdown-button-pip-opposite-sml ?=         $button-pip-sml * 3
$dropdown-button-pip-top-sml ?=              -(($button-pip-sml) / 2 + rem-calc(1))

// style medium dropdown buttons
$dropdown-button-padding-med ?=              $button-pip-med * 6 + rem-calc(3)
$dropdown-button-pip-size-med ?=             $button-pip-med - rem-calc(3)
$dropdown-button-pip-opposite-med ?=         $button-pip-med * 2.5
$dropdown-button-pip-top-med ?=              -(($button-pip-med) / 2 + rem-calc(2))

// style large dropdown buttons
$dropdown-button-padding-lrg ?=              $button-pip-lrg * 5 + rem-calc(3)
$dropdown-button-pip-size-lrg ?=             $button-pip-lrg - rem-calc(6)
$dropdown-button-pip-opposite-lrg ?=         $button-pip-lrg * 2.5
$dropdown-button-pip-top-lrg ?=              -(($button-pip-lrg) / 2 + rem-calc(3))

$dropdown-button-svg-bg ?=                  'arrows_down.svg'
$dropdown-button-svg-bg-shapes ?=            ('polyline' 'polygon')

// @mixins
//
// Dropdown Button Mixin
//
// We use this mixin to build off of the button mixin and add dropdown button styles
//
// $padding - Determines the size of button you're working with. Default: medium. Options [tiny, small, medium, large]
// $pip-color - Color of the little triangle that points to the dropdown. Default: $white.
// $base-style - Add in base-styles. This can be set to false. Default:true

dropdown-button($padding = medium, $pip-color = $dropdown-button-pip-color, $base-style = true) {

    // We add in base styles, but they can be negated by setting to 'false'.
    if $base-style {
        position: relative
        
        &:focus {
            outline: none
        }
    }

    // If we're dealing with tiny buttons, use these styles
    if ($padding == tiny) {
        padding-{$opposite-direction}: $dropdown-button-padding-tny
    }

    // If we're dealing with small buttons, use these styles
    if ($padding == small) {
        padding-{$opposite-direction}: $dropdown-button-padding-sml
    }

    // If we're dealing with default (medium) buttons, use these styles
    if ($padding == medium) {
        padding-{$opposite-direction}: $dropdown-button-padding-med
    }

    // If we're dealing with large buttons, use these styles
    if ($padding == large) {
        padding-{$opposite-direction}: $dropdown-button-padding-lrg
    }

    // We can control the pip color. We didn't use logic in this case, just set it and forget it.
    if $pip-color {
        svg-background($file:$dropdown-button-svg-bg, $shapes:$dropdown-button-svg-bg-shapes, $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-small, $position-x:$opposite-direction)
    }
}

//
// @styles
//

if $include-html-dropdown-button-classes {
    .btn--dropdown,
    button.dropdown {
        dropdown-button()

        &--tny {
            dropdown-button(tiny, $base-style:false)
        }
        &--sml { 
            dropdown-button(small, $base-style:false)
        }
        &--lrg { 
            dropdown-button(large, $base-style:false)
        }
        
        &--secondary {
            svg-background($file:$dropdown-button-svg-bg, $shapes:$dropdown-button-svg-bg-shapes, $stroke:$dropdown-button-pip-color-alt, $stroke-hover:$dropdown-button-pip-color-alt, $stroke-width:$svg-stroke-width-small, $size:false, $repeat:false, $position-x:false)
        }
    }
}
