// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-inline-list-classes =         com_css.INLINELIST

// the margins and padding of the inline list.
$inline-list-top-margin ?=                   0
$inline-list-opposite-margin ?=              0
$inline-list-bottom-margin ?=                rem-calc(17)
$inline-list-default-float-margin ?=         -(rem-calc(22))
$inline-list-default-float-list-margin ?=    rem-calc(22)

$inline-list-padding ?=                      0

// the overflow of the inline list.
$inline-list-overflow ?=                     hidden

// the list items
$inline-list-display ?=                      block

// any elements within list items
$inline-list-children-display ?=             inline-block


//
// @mixins
//
// We use this mixin to create inline lists
inline-list() {
    list-style: none
    margin-top: $inline-list-top-margin
    margin-bottom: $inline-list-bottom-margin
    margin-{$default-float}: $inline-list-default-float-margin
    margin-{$opposite-direction}: $inline-list-opposite-margin
    overflow: $inline-list-overflow
    padding: $inline-list-padding

    > li {
        display: $inline-list-display
        float: $default-float
        list-style: none
        margin-{$default-float}: $inline-list-default-float-list-margin
        > * {
            display: $inline-list-children-display
        }
    }
}

//
// @styles
//
if $include-html-inline-list-classes {
    .list--inline,
    .inline-list {
        inline-list()
    }

    // Unstyled lists
    .list--unstyled,
    .list--unstyled > li {
        padding: 0
        margin: 0
        list-style: none
    }
}
