// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-keystroke-classes =           com_css.KEYSTROKES

// text styles.
$keystroke-font ?=                           $font-family-monospace
$keystroke-font-size ?=                      inherit
$keystroke-font-color ?=                     $charcoal-2
$keystroke-font-color-alt ?=                 $white
$keystroke-function-factor ?=                10% // -7%

// keystroke padding.
$keystroke-padding ?=                        rem-calc(2 4 0)

// background and border styles.
$keystroke-bg ?=                             darken($white, $keystroke-function-factor)
$keystroke-border-style ?=                   solid
$keystroke-border-width ?=                   1px
$keystroke-border-color ?=                   darken($keystroke-bg, $keystroke-function-factor)
$keystroke-radius ?=                         $global-radius


//
// @mixins
//
// We use this mixin to create keystroke styles.
// $bg - Default: $keystroke-bg || scale-color($white, $lightness: $keystroke-function-factor) !default
keystroke($bg = $keystroke-bg) {

    background-color: $bg
    border-color: scale-color($bg, $lightness: $keystroke-function-factor)

    // We adjust the font color based on the brightness of the background.
    if light($bg) {
        color: $keystroke-font-color
    } else {
        color: $keystroke-font-color-alt
    }

    border-style: $keystroke-border-style
    border-width: $keystroke-border-width
    font-size: $keystroke-font-size
    font_family($keystroke-font)
    margin: 0
    padding: $keystroke-padding
}

//
// @styles
//

if $include-html-keystroke-classes  {
    .keystroke,
    kbd {
        keystroke()
        radius($keystroke-radius)
    }
}