// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-label-classes =               com_css.LABELS

// style the labels
$label-padding ?=                            rem-calc(5 8)
$label-radius ?=                             $global-radius

// style the label text
$label-font-sizing ?=                        fontsize(.75rem)
$label-font-weight ?=                        $font-weight-bold
$label-text-transform ?=                     uppercase
$label-font-color ?=                         $charcoal-1
$label-font-color-alt ?=                     $white
$label-font-family ?=                        $font-family-headings

$label-font-size-med ?=                     fontsize(1rem)
$label-font-size-lrg ?=                     fontsize(1.2rem)
$label-font-size-xlrg ?=                    fontsize(1.6rem)
$label-font-size-xxlrg ?=                   fontsize(2.2rem)

$label-inverted-font-color ?=               $gray-dark-1
$label-inverted-bg ?=                       $white
$label-inverted-border-width ?=             1px
$label-inverted-border-colr ?=              $gray-light-1

$badge-padding ?=                            rem-calc(3 5)
$badge-radius ?=                             $global-radius
$badge-font-sizing ?=                        fontsize(.75rem)
$badge-font-weight ?=                        $font-weight-bold
$badge-font-color ?=                         $white
$badge-font-color-alt ?=                     $charcoal-1
$badge-hover-color ?=                        $badge-font-color
$badge-active-color ?=                       $charcoal-1
$badge-active-bg ?=                          $badge-font-color


//
// @mixins
//
// We use this mixin to create a default label base.
label-base() {
    display: inline-block
    font-weight: $label-font-weight
    font_family($label-font-family)
    line-height: 1
    margin-bottom: 0
    min-width: 10px
    position: relative
    text-align: $default-float
    text-decoration: none
    if ($label-text-transform != false) {
        text-transform: $label-text-transform
    }
    vertical-align: baseline
    white-space: nowrap
}

// @mixins
//
// add label size styles.
// $padding - Used to determine label padding. Default: $label-padding || rem-calc(3 10 4) !default
// $text-size - Used to determine label text-size. Default: $text-size found in settings
label-size($padding = $label-padding, $text-size = $label-font-sizing) {
    if $padding {
        padding: $padding
    }
    if $text-size {
        font-size: $text-size
    }
}

// @mixins
//
// add label styles.
// $bg - Default: $primary-color (found in settings file)
// $radius - Default: false, Options: true, sets radius to $global-radius (found in settings file)
label-style($bg = $gray-base, $radius = false, $font-color = $label-font-color, $border-color = false ) {

    // We control which background color comes through
    if $bg {
        background-color: $bg
        // We control the text color for you based on the background color.
        if ($font-color == $label-font-color) {
            color: (lightness($bg) > 75%) ? $font-color : $label-font-color-alt
        } else {
            color: $font-color
        }
    }

    // We use this to control the radius on labels.
    if ($radius == true) {
        radius($label-radius)
    } else if $radius {
        radius($radius)
    }

    // add border or not
    if $border-color {
        border: $label-inverted-border-width solid $border-color
    }

}

// @mixins
//
// add close buttons to alerts
// $padding - Default: $label-padding,
// $text-size - Default: $label-font-sizing,
// $bg - Default: $primary-color(found in settings file)
// $radius - Default: false, Options: true which sets radius to $global-radius (found in settings file)
label($padding = $label-padding, $text-size = $label-font-sizing, $bg = $primary-color, $radius = false) {
    label-base()
    label-size($padding, $text-size)
    label-style($bg, $radius)
}

//
// @styles
//

if $include-html-label-classes {
    .lbl {
        label-base()
        label-size()
        label-style()

        // Empty badges collapse automatically (not available in IE8)
        if !$ie8 {
            &:empty {
                display: none
            }
        }

        // Corner variants
        &--rad,
        &--radius {
            label-style($bg:false, $radius:true)
        }
        &--rnd,
        &--round {
            label-style($bg:false, $radius:1000px)
        }
        
        // inverted and flat Label
        &--inv,
        &--inverted {
            label-style($bg:$label-inverted-bg, $font-color:$label-inverted-font-color, $border-color:$label-inverted-font-color)
        }

        // Color variants
        &--primary {
            label-style($bg:$primary-color)
            &.lbl--inv {
                label-style($bg:$label-font-color-alt, $font-color:$primary-color, $border-color:$primary-color)
            }
        }
        &--success {
            label-style($bg:$success-color)
            &.lbl--inv {
                label-style($bg:$label-font-color-alt, $font-color:$success-color, $border-color:$success-color)
            }
        }
        &--info {
            label-style($bg:$info-color)
            &.lbl--inv {
                label-style($bg:$label-font-color-alt, $font-color:$info-color, $border-color:$info-color)
            }
        }
        &--warning {
            label-style($bg:$warning-color, $font-color:$warning-font-color)
            &.lbl--inv {
                label-style($bg:$warning-font-color, $font-color:$warning-color, $border-color:$warning-color)
            }
        }
        &--alert {
            label-style($bg:$alert-color, $font-color:$critical-font-color)
            &.lbl--inv {
                label-style($bg:$critical-font-color, $font-color:$alert-color, $border-color:$alert-color)
            }
        }

        // Flat style
        &--flat {
            label-style($bg:transparent, $font-color:$label-inverted-font-color)
        }
        &--primary.lbl--flat {
            color: $primary-color
        }

        // Different sizes
        &--med {
            label-size($padding:false, $label-font-size-med)
        }
        &--lrg {
            label-size($padding:false, $label-font-size-lrg)
        }
        &--xlrg {
            label-size($padding:false, $label-font-size-xlrg)
            font-weight: $font-weight-normal
        }
        &--xxlrg {
            label-size(false, $label-font-size-xxlrg)
            font-weight: $font-weight-normal
        }

        // Badges
        &--badge {
            label-size($padding:$badge-padding)
            label-style($bg:false, $radius:1000px)
        }

        // Hover state, but only for links
        a& {
            &:hover,
            &:focus {
              color: $badge-hover-color
              cursor: pointer
              text-decoration: none
            }
        }

        // Account for badges in navs
        .list-group-item.is-active > &,
        .nav-pills > .is-active > a > & {
            background-color: $badge-active-bg
            color: $badge-active-color
        }
        .list-group-item > & {
            float: right
        }
        .list-group-item > & + & {
            margin-right: rem-calc(5)
        }
        .nav-pills > li > a > & {
            margin-left: rem-calc(3)
        }
    }
}