// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-magellan-classes =            com_js.MAGELLAN

$magellan-bg ?=                              $white
$magellan-padding ?=                         rem-calc(10)

$magellan-list-border-style ?=               solid //false
$magellan-list-border-color ?=               darken($magellan-bg, 10%)
$magellan-list-border-width ?=               0 0 1px 0
$magellan-link-line-height ?=               1.4

$zindex-magellan-fixed ?=                   1031

//
// @styles
//

if $include-html-magellan-classes {

    {data('magellan-expedition')},
    {data('magellan-expedition-clone')} {
        background: $magellan-bg
        min-width: 100%
        padding: $magellan-padding
        z-index: $zindex-magellan-fixed
        {$default-float}: auto !important

        shadow-elevation(appbar)

        .sub-nav {
            margin-bottom: 0

            dd {
                margin-bottom: 0
                if ($magellan-list-border-style) {
                    border-color: $magellan-list-border-color
                    border-style: $magellan-list-border-style
                    border-width: $magellan-list-border-width
                }
            }

            a {
                line-height: $magellan-link-line-height
            }
        }
    }
}