// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-panel-classes =               com_css.PANELS

// the background and border styles
$panel-bg ?=                                 $gray-lighter-3
$panel-border-style ?=                       solid
$panel-border-size ?=                        1px

// We use this % to control how much we darken things on hover
$panel-function-factor ?=                    -10% // -11%
$panel-border-color ?=                       scale-color($panel-bg, $panel-function-factor)

// set default inner padding and bottom margin
$panel-margin-bottom ?=                      rem-calc(20)
$panel-padding ?=                            rem-calc(20)

// set default font colors
$panel-font-color ?=                         $charcoal-1
$panel-font-color-alt ?=                     $white

$panel-header-adjust ?=                      true
$callout-panel-link-color ?=                 $primary-color
$callout-panel-link-color-hover ?=           scale-color($callout-panel-link-color, $panel-function-factor)
$callout-panel-bg ?=                        lightness($primary-color, 94%)


//
// @mixins
//
// We use this mixin to create panels.
// $bg - Sets the panel background color. Default: $panel-pg || scale-color($white, $lightness: -5%) !default
// $padding - Sets the panel padding amount. Default: $panel-padding || rem-calc(20)
// $adjust - Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust || true
panel($bg = $panel-bg, $padding = $panel-padding, $adjust = $panel-header-adjust, $border = true) {

    if $bg {
        background: $bg
        if $border {
            border-style: $panel-border-style
            border-width: $panel-border-size
            border-color: $panel-border-color
        } else {
            border-style: none
            border-width: 0
        }
        color: (light($bg) ? $panel-font-color : $panel-font-color-alt)
        margin-bottom: $panel-margin-bottom
        padding: $padding

        // Respect the padding, fool.
        > :first-child {
            margin-top: 0
        }
        > :last-child {
            margin-bottom: 0
        }

        if $adjust {
            // We set the font color based on the darkness of the bg.
            if light($bg) {
                h1,h2,h3,h4,h5,h6,p,li,dl {
                    color: $panel-font-color
                }
            } else {
                h1,h2,h3,h4,h5,h6,p,li,dl {
                    color: $panel-font-color-alt
                }
            }

            // reset header line-heights for panels
            h1,h2,h3,h4,h5,h6 {
                line-height: 1
                margin-bottom: (rem-calc(20) / 2)

                &.subheader {
                    line-height: 1.4
                }
            }
        }
    }
}

//
// @styles
//

if $include-html-panel-classes {

    /* Panels */
    .panel { 
        panel()

        &--callout {
            
            panel($callout-panel-bg)

            a:not(.btn) {
                color: $callout-panel-link-color

                &:hover,
                &:focus {
                    color: $callout-panel-link-color-hover
                }
            }
        }

        &--flat {
            border: none
            margin: 0
        }
        &--outline {
            background: none
            margin: 0
        }

        &--radius {
            radius()
        }
    }
}