@require '_global'
@require '_buttons'
@require '_ribbons'
@require '_pricing-tables'

//
// @variables
//

$include-html-productlist-classes =             com_css.PRODUCTLIST

$product-list-padding ?=                         rem-calc(20)
$product-list-bg ?=                              $gray-lighter-3

$product-list-item-padding ?=                    rem-calc(10)
$product-grid-item-padding ?=                    $product-list-item-padding
$product-list-item-margin ?=                     rem-calc(15 0)
$product-grid-item-margin ?=                     rem-calc(16)
$product-list-item-bg ?=                         $white
$product-list-item-bg-hover ?=                   darken($product-list-bg,10%) // transparent
$product-list-item-border ?=                     false
$product-list-item-border-width ?=               2px
$product-list-item-border-style ?=               solid
$product-list-item-border-color ?=               transparent
$product-list-item-border-hover-color ?=         transparent
$product-list-item-hover-blur ?=                 10px // false

$product-list-img-bg ?=                          $white
$product-list-img-padding ?=                     rem-calc(8) // padding of actual image (not container!)
$product-grid-img-gutter ?=                      rem-calc(10)
$product-grid-img-margin ?=                      $product-grid-img-gutter // DEPRECATED - we use gutter instead
$product-list-img-gutter ?=                      rem-calc(20)
$product-list-img-margin ?=                      $product-list-img-gutter // DEPRECATED - we use gutter instead
$product-grid-img-height ?=                      120px
$product-list-img-height ?=                      140px
$product-list-img-width ?=                       $product-list-img-height

$product-list-title-font-family ?=               $font-family-custom
$product-grid-title-font-size ?=                 fontsize(.9rem)
$product-list-title-font-size ?=                 fontsize(1rem)
$product-list-title-color ?=                     $gray-darker-3
$product-list-title-color-hover ?=               $primary-color
$product-list-title-font-weight ?=               $font-weight-bold
$product-list-title-line-height ?=               1.1
$product-grid-title-row-count ?=                 3 // <- how many lines should be visible?
$product-grid-title-row-count-xxlrg ?=           3
$product-grid-title-height ?=                    unit(($product-list-title-line-height * $product-grid-title-row-count * $product-grid-title-font-size), 'rem')
$product-grid-title-height-xxlrg ?=              unit(($product-list-title-line-height * $product-grid-title-row-count-xxlrg * $product-grid-title-font-size), 'rem')
$product-list-title-padding ?=                   0
$product-list-title-margin ?=                    rem-calc(0 0 10 0)
$product-grid-title-margin ?=                    rem-calc(0 0 2 0)

$product-list-manu-font-size ?=                  fontsize(.8rem) // .9rem, if we do not use uppercase transform
$product-list-manu-line-height ?=                1
$product-list-manu-color ?=                      $gray-darker-1
$product-grid-manu-font-weight ?=                $font-weight-bold
$product-list-manu-font-weight ?=                $font-weight-bold
$product-grid-manu-height ?=                     unit(($product-list-manu-line-height * $product-list-manu-font-size), 'rem')
$product-grid-manu-text-transform ?=             uppercase
$product-list-manu-text-transform ?=             $product-grid-manu-text-transform
$product-list-manu-margin ?=                     rem-calc(0 0 4 0)
$product-grid-manu-margin ?=                     rem-calc(0 0 2 0)

$product-list-desc-margin ?=                     rem-calc(0 0 20 0)
$product-grid-desc-margin ?=                     rem-calc(0 0 5 0)
$product-list-desc-padding ?=                    0
$product-grid-desc-padding ?=                    0
$product-list-desc-font-family ?=                $font-family-custom
$product-list-desc-font-size ?=                  fontsize(.9rem)
$product-grid-desc-font-size ?=                  fontsize(.8rem)
$product-list-desc-line-height ?=                $product-list-title-line-height
$product-grid-desc-row-count ?=                  4 // <- how many lines should be visible?
$product-grid-desc-row-count-small-devices ?=    ($product-grid-desc-row-count - 1)
$product-grid-desc-height ?=                     unit(($product-grid-desc-font-size * $product-list-desc-line-height * $product-grid-desc-row-count), 'rem')
$product-grid-desc-height-small-devices ?=       unit(($product-grid-desc-font-size * $product-list-desc-line-height * $product-grid-desc-row-count-small-devices), 'rem')
$product-list-desc-color ?=                      $gray-dark-3
$product-list-desc-color-hover ?=                $gray-darker-3

$product-list-opts-line-height ?=                1.4
$product-list-opts-font-family ?=                $font-family-custom
$product-list-opts-font-size ?=                  fontsize(.75rem)
$product-list-opts-font-weight ?=                $font-weight-normal
$product-list-opts-color ?=                      $gray-darker-3
$product-list-opts-border ?=                     1px solid rgba($black, .15)
$product-list-opts-item-padding ?=               rem-calc(2 10)
$product-list-opts-item-margin ?=                rem-calc(0 4 4 0)
$product-list-opts-item-bg ?=                    $white
$product-list-opts-item-selected-bg ?=           $gray-dark-3
$product-list-opts-item-border ?=                1px solid rgba($black, .15)
$product-list-opts-item-border-width ?=          0 1px 1px 0
$product-list-opts-item-border-color ?=          rgba($black, .2)
$product-list-opts-item-border-hover ?=          $product-list-opts-item-border-color
$product-list-opts-label-padding ?=              rem-calc(2 0)
$product-list-opts-label-margin ?=               rem-calc(0 10 5 0)
$product-list-opts-label-border ?=               false // 1px solid rgba($black, 0.15)
$product-list-opts-label-bg ?=                   transparent
$product-list-opts-label-color ?=                $gray-darker-1

$product-list-opts-link-color ?=                 $charcoal-1
$product-list-opts-link-font-size ?=             fontsize(.8rem)
$product-list-opts-link-color-hover ?=           $charcoal-2
$product-list-opts-link-bg-hover ?=              $gray-light-3

$product-grid-pricebox-height ?=                 unit((($price-special-font-size * $price-line-height) + ($price-old-font-size * $price-line-height)), 'rem')
$product-grid-pricebox-padding ?=                0
$product-grid-pricebox-margin ?=                 rem-calc(3 0)
$product-list-button-bg-hover ?=                 $primary-color
$product-list-button-color ?=                    $primary-color
$product-list-button-ico-size ?=                 rem-calc(20)
$product-list-button-ico-color ?=                $product-list-button-color
$product-list-button-ico-color-hover ?=          scale-color($product-list-button-ico-color,$button-function-factor) // $white
$product-list-button-width ?=                    rem-calc(45)
$product-list-button-height ?=                   $product-list-button-width

$product-list-item-cta-overlay-bg ?=             rgba($product-list-item-bg-hover,.75)
$product-list-item-cta-overlay-height ?=         $product-grid-img-height
$product-list-item-cta-overlay-padding ?=        0
$product-list-item-cta-overlay-pos-x ?=          $default-float
$product-list-item-cta-overlay-pos-y ?=          top
$product-list-item-cta-overlay-text-align ?=     center
$product-list-item-cta-overlay-width ?=          100%

$product-list-ribbon-offset-top ?=               ($product-list-item-padding + rem-calc(5))
$product-list-ribbon-offset-top-sml ?=           $product-list-item-padding

$product-grid-sml-font-size ?=                   fontsize(.8rem)
$product-grid-sml-title-row-count ?=             4
$product-grid-sml-title-height ?=                unit(($product-list-title-line-height * $product-grid-sml-title-row-count * $product-grid-sml-font-size), 'rem')
$product-grid-sml-img-height ?=                  ($product-grid-img-height - 20px)
$product-grid-tny-font-size ?=                   fontsize(.8rem)
$product-grid-tny-img-height ?=                  50px

$product-list-transition-speed ?=               240ms


//
// @mixins
//
// Mixins for product listings pages e.g. categories in ecommerce

prd-opts() {
    color: $product-list-opts-color
    fontweight($product-list-opts-font-weight)
    font_family($product-list-opts-font-family)
    line-height: $product-list-opts-line-height
    text-transform: uppercase

    .lbl {
        background-color: $product-list-opts-label-bg
        if ($product-list-opts-label-border) {
            border: $product-list-opts-label-border
        }
        color: $product-list-opts-label-color
        float: none
        font-size: $product-list-opts-font-size
        line-height: $product-list-opts-line-height
        margin: $product-list-opts-label-margin
        padding: $product-list-opts-label-padding
    }

    ul {
        list-style-type: none
        margin: 0

        li {
            background: $product-list-opts-item-bg
            display: inline-block
            font-size: $product-list-opts-font-size
            list-style-type: none
            margin: $product-list-opts-item-margin
            padding: $product-list-opts-item-padding

            
            &:first-child {
                margin-{$default-float}: 0
                if ($product-list-opts-item-border) {
                    border-{$default-float}: none
                }
            }

            &.is-disabled {
                opacity: 0.5
            }

            &.is-selected {
                a,
                a:hover {
                    background-color: $product-list-opts-item-selected-bg
                    border-color: transparent
                    color: $white
                    cursor: $cursor-default-value
                }
            }
            a {
                if ($product-list-opts-item-border) {
                    border-style: solid
                    border-color: $product-list-opts-item-border-color
                    border-width: $product-list-opts-item-border-width
                }
                color: $product-list-opts-link-color
                display: inline-block
                font-size: $product-list-opts-link-font-size
                line-height: $product-list-opts-line-height
                padding: $product-list-opts-item-padding
                shadow-elevation('button')
                single-transition((background-color color box-shadow))

                &:hover {
                    if $product-list-opts-link-bg-hover {
                        background: $product-list-opts-link-bg-hover
                    }
                    color: $product-list-opts-link-color-hover
                }
            }
        }
    }
    // simple option info list without links inside
    .lst--plain li {
        border-{$opposite-direction}: $product-list-opts-item-border
    }
}

//
// @styles
//

if $include-html-productlist-classes {

    .prd {
        .ribbon {
            top: $product-list-ribbon-offset-top
        }

        // sorty ribbons if we have more than one ribbon
        &--special.prd--new {
            .ribbon--primary,
            .ribbon--special {
                top: ($product-list-ribbon-offset-top + rem-calc(30))
            }
        }
    }

    // Wrapper (ul)
    .prdlist {
        clearfix()
        padding: $product-list-padding
        margin: 0
        background-color: $product-list-bg

        &.row:not(.row--collapse) {
            margin-left: 0
            margin-right: 0
            padding-left: ($column-gutter / 2)
            padding-right: ($column-gutter / 2)
        }

        > li {
            list-style-type: none
            margin: 0
            padding: 0
        }
        
        // List item (li) or nested div inside of a "li.col" grid
        .prd {
            background-color: $product-list-item-bg
            if ($product-list-item-border) {
                border-longhand($width:$product-list-item-border-width, $style:$product-list-item-border-style, $color:$product-list-item-border-color)
            }
            padding: $product-list-item-padding
            position: relative
            z-index: 1
            shadow-elevation('card')
            single-transition($speed:$product-list-transition-speed)

            &__link {
                clearfix()
                display: block
            }

            // Images (wrapper)
            &__img {
                background: $product-list-img-bg
                height: $product-grid-img-height
                line-height: $product-grid-img-height
                overflow: hidden
                position: relative
                text-align: center

                img {
                    border: none
                    margin: 0
                    max-height: 100%
                    padding: $product-list-img-padding
                    single-transition($speed:$product-list-transition-speed)
                }
            }

            // Product Manufacturer (optional)
            &__brand {
                color: $product-list-manu-color
                display: block
                font-size: $product-list-manu-font-size
                fontweight($product-grid-manu-font-weight)
                font_family($product-list-title-font-family)
                line-height: $product-list-title-line-height
                margin: $product-list-manu-margin
                overflow: hidden
                padding: 0
                text-transform: $product-grid-manu-text-transform
            }

            // Product title (h3)
            &__title {
                color: $product-list-title-color 
                display: block
                font-size: $product-grid-title-font-size
                fontweight($product-list-title-font-weight)
                font_family($product-list-title-font-family)
                line-height: $product-list-title-line-height
                margin: $product-list-title-margin
                overflow: hidden
                padding: $product-list-title-padding
                text-decoration: none
                text-transform: uppercase
            }
            a:hover .prd__title {
                color: $product-list-title-color-hover
                single-transition($speed:$product-list-transition-speed)
            }

            &__sdesc,
            &__sdesc p {
                color: $product-list-desc-color
                font-size: $product-list-desc-font-size
                font_family($product-list-desc-font-family)
                line-height: $product-list-desc-line-height
                margin: $product-list-desc-margin
                padding: $product-list-desc-padding
                single-transition($speed:$product-list-transition-speed)
            }

            // Buttons
            .btn {
                margin-bottom: 0

                &__details {
                    font-size: 0 !important
                    height: $product-list-button-height
                    margin: -($product-list-button-height/2) auto 0 auto
                    width: $product-list-button-width
                    padding: 0
                    position: relative
                    text-indent: -(9999px) !important
                    top: 50%
                    svg-background($file: $arrow-opposite, $size:$product-list-button-ico-size, $color:$product-list-button-ico-color, $color-hover:$product-list-button-ico-color-hover, $position-x:center)
                }
            }
            
            // Overlay for call to action links on hover
            &__cta-overlay {
                kill-flicker()
                background: $product-list-item-cta-overlay-bg
                height: $product-list-item-cta-overlay-height
                {$product-list-item-cta-overlay-pos-x}: 0
                line-height: 1
                max-width: 100%
                opacity: 0
                padding: $product-list-item-cta-overlay-padding
                position: absolute
                text-align: $product-list-item-cta-overlay-text-align
                {$product-list-item-cta-overlay-pos-y}: 0
                visibility: hidden
                width: $product-list-item-cta-overlay-width
                single-transition($speed:$product-list-transition-speed)
            }

            &:hover {
                background-color: $product-list-item-bg-hover
                if $product-list-item-border {
                    border-color: $product-list-item-border-hover-color
                }
                overflow: visible
                if $product-list-item-hover-blur {
                    .prd__img img {
                        blur-filter($product-list-item-hover-blur)
                    }
                }
                .prd__cta-overlay  {
                    opacity: 1
                    visibility: visible
                }
            
                .prd__sdesc,
                .prd__sdesc p {
                    color: $product-list-desc-color-hover
                }
            }

        } // eof .product

        // GRID VIEW
        // In grid-view, some elements like title and price-box have a fixed height, to achieve a symmetric position of all items!
        &--grid {
            .prd {
                margin: $product-list-item-margin
                padding: 0
                
                // Use foundation grid-system-classes in html to arrange product columns!!

                &__link {
                    padding: $product-grid-item-padding
                }

                +mediaquery($medium-up) {
                    &__img {
                        margin: -($product-grid-item-padding)
                        margin-bottom: $product-grid-img-gutter
                    }
                }

                &__brand {
                    margin: $product-grid-manu-margin
                    height: ($product-grid-manu-height)
                }
                &__title {
                    height: ($product-grid-title-height)
                    margin: $product-grid-title-margin
                    overflow: hidden
                    
                    if ($product-grid-title-row-count-xxlrg != $product-grid-title-row-count) {
                        +mediaquery($xxlarge-up) {
                            // plus one row for xxlarge desktops, because we use more columns there ...
                            height: ($product-grid-title-height-xxlrg)
                        }
                    }
                }

                &__sdesc {
                    font-size: $product-grid-desc-font-size
                    height: $product-grid-desc-height
                    margin: $product-grid-desc-margin
                    overflow: hidden
                    padding: $product-grid-desc-padding

                    +mediaquery($small-only) {
                        height: $product-grid-desc-height-small-devices
                    }
                }

                .price-box {
                    height: $product-grid-pricebox-height
                    margin: $product-grid-pricebox-margin
                    padding: $product-grid-pricebox-padding

                    +mediaquery($small-only) {
                        float: none
                        margin-{$default-float}: ((1/3) * 100)%
                        text-align: $opposite-direction
                    }
                }
            }

            // SMALLER GRID VIEW (e.g. in PROMO-BOXES a.so.)
            &--sml {
                .prd {
                    &__title,
                    &__brand {
                        font-size: $product-grid-sml-font-size
                    }
                    &__title {
                        height: $product-grid-sml-title-height
                    }
                    &__img {
                        height: $product-grid-sml-img-height
                        line-height: $product-grid-sml-img-height
                    }
                    .price--final {
                        font-size: ($price-final-font-size - .2rem)
                    }

                    .ribbon {
                        top: $product-list-ribbon-offset-top-sml
                    }
                    // sorty ribbons if we have more than one ribbon
                    &--special.prd--new {
                        .ribbon--primary {
                            top: ($product-list-ribbon-offset-top-sml + rem-calc(30))
                        }
                    }
                }
            }

            // TINY GRID VIEW (e.g. in MINICARTS)
            &--tny {
                .prd {
                    &__title,
                    &__sdesc,
                    &__brand,
                    .price-box {
                        height: auto
                        font-size: $product-grid-tny-font-size
                    }
                    &__img {
                        height: $product-grid-tny-img-height
                        line-height: $product-grid-tny-img-height
                    }
                    .price,
                    .price--special {
                        font-size: inherit
                    }
                }
            }
        } // EOF - GRID VIEW

        // LIST VIEW
        &--line {
            .prd {
                clear: both
                margin: $product-list-item-margin
                padding: 0

                &.first,
                &:first-of-type,
                &:first-child {
                    margin-top: 0
                }
                &.last,
                &:last-of-type,
                &:last-child {
                    margin-bottom: 0
                }

                &__link {
                    padding: $product-list-item-padding
                }

                &__img {
                    float: $default-float
                    height: $product-list-img-height
                    line-height: ($product-list-img-height - 10px)
                    margin: -($product-list-item-padding)
                    margin-{$opposite-direction}: $product-list-img-gutter
                    width: $product-list-img-width
                }

                &__cta-overlay  {
                    height: $product-list-img-height
                    width: @height
                }

                &__brand {
                    display: block
                    fontweight($product-list-manu-font-weight)
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                    text-transform: $product-list-manu-text-transform
                }
                &__title {
                    display: block
                    font-size: $product-list-title-font-size
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                }

                &__sdesc {
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                }

                .price-box {
                    text-align: $opposite-direction
                }

            } // EOF - product

            // Options in product-list line-view
            .prd__opts {
                if $product-list-opts-border {
                    border-top: $product-list-opts-border
                }
                margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)

                .lbl {
                    color: $primary-color
                    float: $default-float
                }

                ul li {
                    margin-{$opposite-direction}: 0
                    if ($product-list-opts-item-border) {
                        border-{$default-float}: 1px solid $product-list-opts-item-border-color
                    }
                }
            }

            +mediaquery($small-only) {
                .prd__sdesc,
                .prd__title,
                .prd__opts {
                    margin-{$default-float}: 0
                }
                
                .prd__img {
                    float: none
                    height: auto
                    line-height: inherit
                    margin: 0
                    width: auto
                }
            }

        } // eof &--line

    }

    // PRODUCT VARIANTS/OPTIONS BASE STYLES
    .prd__opts {
        prd-opts()
    }

} // EOF - if $include-html-productlist-classes