// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-media-classes =              com_css.PROGRESSBARS

// set the progress bar height
$progress-bar-height ?=                     rem-calc(25)
$progress-bar-color ?=                      $gray-lighter-3

// the border styles
$progress-bar-border-color ?=               darken($white, 20%)
$progress-bar-border-size ?=                1px
$progress-bar-border-style ?=               solid
$progress-bar-border-radius ?=              $global-radius

// the margin & padding
$progress-bar-pad ?=                        rem-calc(2)
$progress-bar-margin-bottom ?=              rem-calc(10)

// set the meter colors
$progress-meter-color ?=                    $primary-color
$progress-meter-secondary-color ?=          $secondary-color
$progress-meter-success-color ?=            $success-color
$progress-meter-alert-color ?=              $alert-color


//
// @mixins
//
// We use this to set up the progress bar container
progress-container() {
    background-color: $progress-bar-color
    border: $progress-bar-border-size $progress-bar-border-style $progress-bar-border-color
    height: $progress-bar-height
    margin-bottom: $progress-bar-margin-bottom
    padding: $progress-bar-pad
}

// @mixins
//
// $bg - Default: $progress-meter-color || $primary-color
progress-meter($bg = $progress-meter-color) {
    background: $bg
    display: block
    float: left
    height: 100%
    width: 0%
}


//
// @styles
//

if $include-html-media-classes {

    /* Progress Bar */
    .progress {
        progress-container()

        // Meter
        .meter {
            progress-meter()

            &--secondary {
                progress-meter($bg:$progress-meter-secondary-color)
            }
            &--success {
                progress-meter($bg:$progress-meter-success-color)
            }
            &--alert {
                progress-meter($bg:$progress-meter-alert-color)
            }
        }
        &--secondary .meter {
            progress-meter($bg:$progress-meter-secondary-color)
        }
        &--success .meter {
            progress-meter($bg:$progress-meter-success-color)
        }
        &--alert .meter {
            progress-meter($bg:$progress-meter-alert-color)
        }

        &--radius {
            radius($progress-bar-border-radius)
            .meter {
                radius(($progress-bar-border-radius - 1))
            }
        }

        &--round {
            radius($global-rounded)
            .meter {
                radius(($global-rounded - 1))
            }
        }

    }

}