@require '_global'
@require '_buttons'
@require '_ribbons'
@require '_pricing-tables'

//
// @variables
//

$include-html-productlist-classes =             com_css.PRODUCTLIST

$product-list-padding ?=                         rem-calc(20)
$product-list-bg ?=                              $gray-lighter-3

$product-list-item-padding ?=                    rem-calc(10)
$product-grid-item-padding ?=                    $product-list-item-padding
$product-list-item-margin ?=                     rem-calc(8 0)
$product-grid-item-margin ?=                     rem-calc(16)
$product-list-item-bg ?=                         $white
$product-list-item-bg-hover ?=                   darken($product-list-bg,10%) // transparent
$product-list-item-fig-overlay-bg ?=             rgba($product-list-item-bg-hover,.75)
$product-list-item-border ?=                     false
$product-list-item-border-width ?=               2px
$product-list-item-border-style ?=               solid
$product-list-item-border-color ?=               transparent
$product-list-item-border-hover-color ?=         transparent
$product-list-item-box-shadow-hover ?=           false // 0 0 10px rgba($black, 0.2)
$product-list-item-hover-blur ?=                 10px // false

$product-list-img-bg ?=                          $white
$product-list-img-padding ?=                     rem-calc(8) // padding of actual image (not container!)
$product-grid-img-gutter ?=                      rem-calc(10)
$product-grid-img-margin ?=                      $product-grid-img-gutter // DEPRECATED - we use gutter instead
$product-list-img-gutter ?=                      rem-calc(20)
$product-list-img-margin ?=                      $product-list-img-gutter // DEPRECATED - we use gutter instead
$product-grid-img-height ?=                      120px
$product-list-img-height ?=                      140px
$product-list-img-width ?=                       $product-list-img-height

$product-list-title-font-family ?=               $font-family-custom
$product-grid-title-font-size ?=                 fontsize(.9rem)
$product-list-title-font-size ?=                 fontsize(1rem)
$product-list-title-color ?=                     $gray-darker-3
$product-list-title-color-hover ?=               $primary-color
$product-list-title-font-weight ?=               $font-weight-bold
$product-list-title-line-height ?=               1.1
$product-grid-title-row-count ?=                 3 // <- how many lines should be visible?
$product-grid-title-height ?=                    unit((ceil($product-grid-title-font-size * $product-list-title-line-height * $product-grid-title-row-count) - rem-calc(1)), '')
$product-grid-title-height-xxlrg ?=              unit((ceil($product-grid-title-font-size * $product-list-title-line-height * ($product-grid-title-row-count + 2)) - rem-calc(1)), '')
$product-list-title-padding ?=                   0
$product-list-title-margin ?=                    rem-calc(0 0 10 0)
$product-grid-title-margin ?=                    rem-calc(0 0 2 0)

$product-list-manu-font-size ?=                  fontsize(.8rem) // .9rem, if we do not use uppercase transform
$product-list-manu-color ?=                      $gray-dark-1
$product-grid-manu-font-weight ?=                $font-weight-normal
$product-list-manu-font-weight ?=                $font-weight-normal
$product-grid-manu-height ?=                     unit(ceil($product-list-manu-font-size * $product-list-title-line-height), 'rem')
$product-grid-manu-text-transform ?=             uppercase
$product-list-manu-text-transform ?=             $product-grid-manu-text-transform

$product-list-desc-margin ?=                     rem-calc(0 0 20 0)
$product-grid-desc-margin ?=                     rem-calc(0 0 5 0)
$product-list-desc-padding ?=                    0
$product-grid-desc-padding ?=                    0
$product-list-desc-font-family ?=                $font-family-custom
$product-list-desc-font-size ?=                  fontsize(.9rem)
$product-grid-desc-font-size ?=                  fontsize(.8rem)
$product-list-desc-line-height ?=                $product-list-title-line-height
$product-grid-desc-row-count ?=                  4 // <- how many lines should be visible?
$product-grid-desc-height ?=                     unit(ceil($product-grid-desc-font-size * $product-list-desc-line-height * $product-grid-desc-row-count), 'rem')
$product-list-desc-color ?=                      $gray-dark-3
$product-list-desc-color-hover ?=                $gray-darker-3

$product-list-opts-line-height ?=                1.3
$product-list-opts-font-family ?=                $font-family-custom
$product-list-opts-font-size ?=                  fontsize(.75rem)
$product-list-opts-font-weight ?=                $font-weight-normal
$product-list-opts-color ?=                      $gray-darker-3
$product-list-opts-border ?=                     1px solid rgba($black, .15)
$product-list-opts-item-padding ?=               rem-calc(2 10)
$product-list-opts-item-margin ?=                rem-calc(0 4 4 0)
$product-list-opts-item-bg ?=                    $white
$product-list-opts-item-selected-bg ?=           $gray-dark-3
$product-list-opts-item-border ?=                1px solid rgba($black, .15)
$product-list-opts-item-border-width ?=          0 1px 1px 0
$product-list-opts-item-border-color ?=          rgba($black, .1)   
$product-list-opts-item-border-hover ?=          rgba($black, .1)
$product-list-opts-label-padding ?=              rem-calc(2 0)
$product-list-opts-label-margin ?=               rem-calc(0 10 5 0)
$product-list-opts-label-border ?=               false // 1px solid rgba($black, 0.15)
$product-list-opts-label-bg ?=                   transparent
$product-list-opts-label-color ?=                $gray-darker-1

$product-list-opts-link-color ?=                 $charcoal-1
$product-list-opts-link-font-size ?=             fontsize(.8rem)
$product-list-opts-link-color-hover ?=           $charcoal-2
$product-list-opts-link-bg-hover ?=              $gray-light-3

$product-grid-pricebox-height ?=                 unit(ceil(($price-special-font-size * $price-line-height) + ($price-old-font-size * $price-line-height)), 'rem')
$product-grid-pricebox-padding ?=                0
$product-grid-pricebox-margin ?=                 rem-calc(3 0)
$product-list-button-bg-hover ?=                 $primary-color
$product-list-button-color ?=                    $primary-color
$product-list-button-ico-size ?=                 rem-calc(20)
$product-list-button-ico-color ?=                $product-list-button-color
$product-list-button-ico-color-hover ?=          scale-color($product-list-button-ico-color,$button-function-factor) // $white
$product-list-button-width ?=                    rem-calc(45)
$product-list-button-height ?=                   $product-list-button-width

$product-list-ribbon-offset-top ?=               ($product-list-item-padding + rem-calc(5))

$product-grid-sml-font-size ?=                   fontsize(.8rem)
$product-grid-sml-img-height ?=                  rem-calc(50)


//
// @mixins
//
// Mixins for product listings pages e.g. categories in ecommerce

prd-opts() {
    color: $product-list-opts-color
    font-weight: $product-list-opts-font-weight
    font_family($product-list-opts-font-family)
    line-height: $product-list-opts-line-height
    text-transform: uppercase

    .lbl {
        background-color: $product-list-opts-label-bg
        if ($product-list-opts-label-border) {
            border: $product-list-opts-label-border
        }
        color: $product-list-opts-label-color
        float: none
        font-size: $product-list-opts-font-size
        line-height: $product-list-opts-line-height
        margin: $product-list-opts-label-margin
        padding: $product-list-opts-label-padding
    }

    ul {
        list-style-type: none
        margin: 0

        li {
            background: $product-list-opts-item-bg
            display: inline-block
            font-size: $product-list-opts-font-size
            list-style-type: none
            margin: $product-list-opts-item-margin
            padding: $product-list-opts-item-padding
            
            &:first-child {
                margin-{$default-float}: 0
                if ($product-list-opts-item-border) {
                    border-{$default-float}: none
                }
            }

            &.is-disabled {
                opacity: 0.5
            }

            &.is-selected {
                a,
                a:hover {
                    background-color: $product-list-opts-item-selected-bg
                    border-color: transparent
                    color: $white
                    cursor: $cursor-default-value
                }
            }
            a {
                if ($product-list-opts-item-border) {
                    border-style: solid
                    border-color: $product-list-opts-item-border-color
                    border-width: $product-list-opts-item-border-width
                }
                color: $product-list-opts-link-color
                display: inline-block
                font-size: $product-list-opts-link-font-size
                padding: $product-list-opts-item-padding

                &:hover {
                    if $product-list-opts-link-bg-hover {
                        background: $product-list-opts-link-bg-hover
                    }
                    color: $product-list-opts-link-color-hover
                }
            }
        }
    }
    // simple option info list without links inside
    .lst--plain li {
        border-{$opposite-direction}: $product-list-opts-item-border
    }
}

//
// @styles
//

if $include-html-productlist-classes {
    
    // Wrapper (ul)
    .prdlist {
        clearfix()
        padding: $product-list-padding
        margin: 0
        background-color: $product-list-bg

        &.row:not(.row--collapse) {
            margin-left: 0
            margin-right: 0
            padding-left: ($column-gutter / 2)
            padding-right: ($column-gutter / 2)
        }
            
        // List item (li)
        > li {
            list-style-type: none
            margin: 0
            padding: 0
        }
        
        // List item (li) or nested div inside of a "li.col" grid
        .prd {
            background-color: $product-list-item-bg
            if ($product-list-item-border) {
                border-longhand($width:$product-list-item-border-width, $style:$product-list-item-border-style, $color:$product-list-item-border-color)
            }
            padding: $product-list-item-padding
            position: relative
            z-index: 1

            // &__inner {
            //     clearfix()
            // }

            &__link {
                clearfix()
                display: block
            }

            // Images (wrapper)
            &__img {
                background: $product-list-img-bg
                display: block
                height: $product-grid-img-height
                line-height: $product-grid-img-height
                overflow: hidden
                position: relative
                text-align: center
                width: auto

                .fig-overlay {
                    kill-flicker()
                    background-color: $product-list-item-fig-overlay-bg
                    height: $product-grid-img-height
                    left: 0
                    line-height: 1
                    opacity: 0
                    position: absolute
                    text-align: center
                    top: 0
                    visibility: hidden
                    width: 100%
                }

                img {
                    border: none
                    margin: 0
                    max-height: 100%
                    padding: $product-list-img-padding
                }
            }

            // Product Manufacturer (optional)
            &__brand {
                color: $product-list-manu-color
                display: block
                font-size: $product-list-manu-font-size
                font-weight: $product-grid-manu-font-weight
                font_family($product-list-title-font-family)
                line-height: $product-list-title-line-height
                margin: 0
                overflow: hidden
                padding: 0
                text-transform: $product-grid-manu-text-transform
            }

            // Product title (h3)
            &__title {
                color: $product-list-title-color 
                display: block
                font-size: $product-grid-title-font-size
                font-weight: $product-list-title-font-weight
                font_family($product-list-title-font-family)
                line-height: $product-list-title-line-height
                margin: $product-list-title-margin
                overflow: hidden
                padding: $product-list-title-padding
                text-decoration: none
                text-transform: uppercase
            }
            a:hover .prd__title {
                color: $product-list-title-color-hover
                single-transition(color,$ease:ease)
            }

            &__sdesc,
            &__sdesc p {
                color: $product-list-desc-color
                font-size: $product-list-desc-font-size
                font_family($product-list-desc-font-family)
                line-height: $product-list-desc-line-height
                margin: $product-list-desc-margin
                padding: $product-list-desc-padding
            }

            // Buttons
            .btn {
                margin-bottom: 0

                &__details {
                    font-size: 0 !important
                    height: $product-list-button-height
                    margin: -($product-list-button-height/2) auto 0 auto
                    width: $product-list-button-width
                    padding: 0
                    position: relative
                    text-indent: -(9999px) !important
                    top: 50%
                    svg-background($file:'arrows_'+$opposite-direction+'.svg', $shapes:('polyline' 'polygon'), $size:$product-list-button-ico-size, $stroke-width:$svg-stroke-width-small, $stroke:$product-list-button-ico-color, $stroke-hover:$product-list-button-ico-color-hover, $position-x:center)
                }
            }

            .ribbon {
                top: $product-list-ribbon-offset-top
            }

            // sorty ribbons if we have more than one ribbon
            &--special.prd--new {
                .ribbon--primary,
                .ribbon--special {
                    top: ($product-list-ribbon-offset-top + rem-calc(30))
                }
            }

            &:hover {
                background-color: $product-list-item-bg-hover
                if $product-list-item-border {
                    border-color: $product-list-item-border-hover-color
                }
                if $product-list-item-box-shadow {
                    box-shadow: $product-list-item-box-shadow-hover
                }
                overflow: visible
                if $product-list-item-hover-blur {
                    .prd__img img {
                        blur-filter($product-list-item-hover-blur)
                        single-transition()
                    }
                }
                .fig-overlay {
                    opacity: 1
                    visibility: visible
                    single-transition(opacity)
                }
                single-transition(background-color)
            
                .prd__sdesc,
                .prd__sdesc p {
                    color: $product-list-desc-color-hover
                    single-transition(color)
                }
            }

        } // eof .product

        // GRID VIEW
        // In grid-view, some elements like title and price-box have a fixed height, to achieve a symmetric position of all items!
        &--grid {
            .prd {
                margin: $product-list-item-margin
                padding: 0
                
                // Use foundation grid-system-classes in html to arrange product columns!!

                &__link {
                    padding: $product-grid-item-padding
                }

                &__img {
                    margin: -($product-grid-item-padding)
                    margin-bottom: $product-grid-img-gutter
                    +mediaquery($small-only) {
                        col(1/3)
                    }
                }

                &__brand {
                    +mediaquery($medium-up) {
                        height: ($product-grid-manu-height - 0.1rem)
                    }
                }
                &__title {
                    margin: $product-grid-title-margin
                    +mediaquery($medium-up) {
                        height: ($product-grid-title-height - 0.1rem)
                        overflow: hidden
                    }
                    +mediaquery($xxlarge-up) {
                        // on row more for large desktops, because we use more columns there ...
                        height: ($product-grid-title-height-xxlrg - 0.1rem)
                    }
                }
                &__brand,
                &__title {
                    +mediaquery($small-only) {
                        float: none
                        // size of floated image __img
                        margin-{$default-float}: ((1/3) * 100)%
                    } 
                }
                &__sdesc {
                    font-size: $product-grid-desc-font-size
                    margin: $product-grid-desc-margin
                    padding: $product-grid-desc-padding

                    +mediaquery($medium-up) {
                        height: ($product-grid-desc-height - 0.1rem)
                        overflow: hidden
                    }
                }

                .price-box {
                    +mediaquery($medium-up) {
                        height: $product-grid-pricebox-height
                    }
                    +mediaquery($small-only) {
                        float: none
                        margin-{$default-float}: ((1/3) * 100)%
                        text-align: $opposite-direction
                    }
                    margin: $product-grid-pricebox-margin
                    padding: $product-grid-pricebox-padding
                }
            }

            // SMALLER GRID VIEW (e.g. in MINICARTS, PROMO-BOXES a.so.)
            &--sml {
                .prd {
                    &__title,
                    &__sdesc,
                    &__brand,
                    .price-box {
                        height: auto
                        font-size: $product-grid-sml-font-size
                    }
                    &__img {
                        height: $product-grid-sml-img-height
                        line-height: $product-grid-sml-img-height
                    }
                    .price,
                    .price--special {
                        font-size: inherit
                    }
                }
            }
        }

        // LIST VIEW
        &--line {
            .prd {
                clear: both
                margin: $product-list-item-margin
                padding: 0

                &.first,
                &:first-of-type,
                &:first-child {
                    margin-top: 0
                }
                &.last,
                &:last-of-type,
                &:last-child {
                    margin-bottom: 0
                }

                &__link {
                    padding: $product-list-item-padding
                }

                // Wrapper for img, manufacturer, title and shortdesc
                &__info {
                    +mediaquery($medium-up) {
                        col(3/4, gutter:0)
                    }
                }

                &__img {
                    float: $default-float
                    height: $product-list-img-height
                    line-height: ($product-list-img-height - 10px)
                    margin: -($product-list-item-padding)
                    margin-{$opposite-direction}: $product-list-img-gutter
                    // margin-{$default-float}: 0
                    width: $product-list-img-width

                    .fig-overlay {
                        height: $product-list-img-height
                    }
                }

                &__brand {
                    display: block
                    font-weight: $product-list-manu-font-weight
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                    text-transform: $product-list-manu-text-transform
                }
                &__title {
                    display: block
                    font-size: $product-list-title-font-size
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                }

                &__sdesc {
                    margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)
                }

                .price-box {
                    text-align: $opposite-direction
                    +mediaquery($medium-up) {
                        width: ((1/4)*100)%
                        clear: none
                        float: $opposite-direction
                        margin-{$opposite-direction}: 0
                    }
                }

            } // EOF - product

            // Options in product-list line-view
            .prd__opts {
                if $product-list-opts-border {
                    border-top: $product-list-opts-border
                }
                margin-{$default-float}: (rem-calc($product-list-img-width) + $product-list-img-gutter)

                .lbl {
                    color: $primary-color
                    float: $default-float
                }

                ul li {
                    margin-{$opposite-direction}: 0
                    if ($product-list-opts-item-border) {
                        border-{$default-float}: 1px solid $product-list-opts-item-border-color
                    }
                }
            }

        } // eof &--line

    }

    // PRODUCT VARIANTS/OPTIONS
    .prd__opts {
        prd-opts()
    }

} // EOF - if $include-html-productlist-classes