// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-range-slider-classes =        com_js.SLIDER

// These variables define the slider bar styles
$range-slider-bar-width ?=                   100%
$range-slider-bar-height ?=                  rem-calc(6)

$range-slider-bar-border-width ?=            1px
$range-slider-bar-border-style ?=            solid
$range-slider-bar-border-color ?=            $gray-medium-1
$range-slider-radius ?=                      $global-radius
$range-slider-round ?=                       $global-rounded
$range-slider-bar-bg-color ?=                $gray-light-1
$range-slider-active-segment-bg-color ?=     darken($primary-color, 20%)
$range-slider-bar-active-border-color ?=     $white
$range-slider-disabled-opacity ?=            0.5
$range-slider-disabled-cursor ?=             $cursor-disabled-value

// Vertical bar styles
$range-slider-vertical-bar-width ?=          $range-slider-bar-height
$range-slider-vertical-bar-height ?=         rem-calc(200)

// These variables define the slider handle styles
$range-slider-handle-width ?=                ($range-slider-bar-height * 3)
$range-slider-handle-height ?=               ($range-slider-bar-height * 2)
$range-slider-handle-position-top ?=         ((($range-slider-handle-height - $range-slider-bar-height) / 2) + rem-calc($range-slider-bar-border-width))
$range-slider-handle-position-left ?=        ((($range-slider-handle-width - $range-slider-bar-height) / 2) + rem-calc($range-slider-bar-border-width))
$range-slider-handle-bg-color ?=             $primary-color
$range-slider-handle-border-width ?=         0 1px 1px 0
$range-slider-handle-border-style ?=         solid
$range-slider-handle-border-color ?=         darken($range-slider-handle-bg-color, 10%)
$range-slider-handle-radius ?=               $global-radius
$range-slider-handle-round ?=                $global-rounded
$range-slider-handle-bg-hover-color ?=       darken($primary-color, 12%)
$range-slider-handle-border-color-hover ?=   darken($range-slider-handle-bg-hover-color, 10%)
$range-slider-handle-cursor ?=               $cursor-pointer-value
$range-slider-handle-box-shadow ?=           $global-ui-shadow

$rang-slider-label-padding ?=                rem-calc(5 0)
$rang-slider-label-font-family ?=            $font-family-custom
$rang-slider-label-font-size ?=              fontsize(0.9rem)
$rang-slider-label-font-weight ?=            $font-weight-normal
$rang-slider-label-color ?=                  $body-font-color
$rang-slider-label-bg-color ?=               $white


//
// @mixins
//

range-slider-bar-base($vertical = false) {
    position: relative
    border: $range-slider-bar-border-width $range-slider-bar-border-style $range-slider-bar-border-color
    margin: rem-calc(20 0)
    -ms-touch-action: none
    touch-action: none
    if ($vertical == true) {
        display: inline-block
        width: $range-slider-vertical-bar-width
        height: $range-slider-vertical-bar-height
    } else {
        display: block;
        width: $range-slider-bar-width;
        height: $range-slider-bar-height;
    }
}
range-slider-bar-style($bg = true, $radius = false, $round = false, $disabled = false) {
    if ($bg == true) {
        background: $range-slider-bar-bg-color
    }
    if ($radius == true) {
        radius($range-slider-radius)
    }
    if ($round == true) {
        radius($range-slider-round)
    }
    if ($disabled == true) {
        cursor: $range-slider-disabled-cursor
        opacity: $range-slider-disabled-opacity
    }
}

range-slider-bar($bg = $range-slider-bar-bg-color, $radius = false) {
    range-slider-bar-base()
    range-slider-bar-style()
}

range-slider-handle-base() {
    display: inline-block
    position: absolute
    z-index: 1
    top: -($range-slider-handle-position-top)
    width: $range-slider-handle-width
    height: $range-slider-handle-height
    border-longhand($width:$range-slider-handle-border-width, $style:$range-slider-handle-border-style, $color:$range-slider-handle-border-color)
    cursor: $range-slider-handle-cursor

    // This removes the 300ms touch delay on Windows 8
    -ms-touch-action: manipulation
    touch-action: manipulation
}

range-slider-handle-style($bg = true, $radius = false, $round = false, $disabled = false) {
    if ($bg == true) {
        background: $range-slider-handle-bg-color
    }
    if ($radius == true) {
        radius($range-slider-radius)
    }
    if ($round == true) {
        radius($range-slider-round)
    }
    if ($disabled == true) {
        cursor: $cursor-default-value
        opacity: $range-slider-disabled-opacity
    }
    if ($range-slider-handle-border-width) {
        border-longhand($width:$range-slider-handle-border-width, $style:$range-slider-handle-border-style, $color:$range-slider-handle-border-color)
    }
    if ($range-slider-handle-box-shadow) {
        box-shadow: $range-slider-handle-box-shadow
    }
    &:hover {
        background: $range-slider-handle-bg-hover-color
        if ($range-slider-handle-border-width) {
            border-color: $range-slider-handle-border-color-hover
        }
    }
}

range-slider-handle() {
    range-slider-handle-base()
    range-slider-handle-style()
}

range-slider-label-base() {
    display: inline-block
    position: relative
    top: -($range-slider-handle-height)
    padding: $rang-slider-label-padding
    line-height: $range-slider-handle-height
    font_family($rang-slider-label-font-family)
    font-size: $rang-slider-label-font-size
    font-weight: $rang-slider-label-font-weight
    color: $rang-slider-label-color
    background-color: $rang-slider-label-bg-color
    border: $range-slider-bar-border-width $range-slider-bar-border-style $range-slider-bar-border-color

}

//
// @styles
//
if $include-html-range-slider-classes {
    .rangeslider {
        range-slider-bar-base()
        range-slider-bar-style($bg:true, $radius:false)
        &--vert {
            range-slider-bar-base($vertical: true)
            .rangeslider__handle {
                margin-top: 0
                margin-{$default-float}: -($range-slider-handle-position-left)
                // margin-{$default-float}: -($range-slider-handle-width / 4)
                position: absolute
                bottom: -($range-slider-vertical-bar-height - $range-slider-handle-width)
            }
            .rangeslider__act-seg {
                width: ($range-slider-bar-height - rem-calc((strip-unit($range-slider-bar-border-width) * 2)))
                height: auto
                bottom: 0
            }
        }
        &--rad {
            range-slider-bar-style($radius:true)
            .rangeslider__handle {
                range-slider-handle-style($radius: true)
            }
        }
        &--rnd {
            range-slider-bar-style($round:true)
            .rangeslider__handle {
                range-slider-handle-style($round: true)
            }
        }
        &.is-disabled,
        &[disabled] {
            range-slider-bar-style($disabled:true)
            .rangeslider__handle {
                range-slider-handle-style($disabled: true)
            }
        }
    }

    .rangeslider__act-seg {
        display: inline-block
        position: absolute
        height: ($range-slider-bar-height - rem-calc((strip-unit($range-slider-bar-border-width) * 2)))
        background: $range-slider-active-segment-bg-color
        border: $range-slider-bar-border-width $range-slider-bar-border-style $range-slider-bar-active-border-color
    }
    
    .rangeslider__handle {
        range-slider-handle-base()
        range-slider-handle-style($bg:true, $radius: false)
    }

    .rs-label {
        range-slider-label-base()

        &--end {

        }
    }
}