// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'
@require '_grid'

//
// @variables
//

$include-html-reveal-classes =              com_js.REVEAL

// the style of the reveal overlay.
$reveal-overlay-bg ?=                        color_alpha($gray-light-1, .7)
$reveal-overlay-bg-old ?=                    $gray-base

// the style of the modal itself.
$reveal-modal-bg ?=                          $white

// fixed position. NOTE: could be problematic if height of modal extends screen height. So if you use it, specify "height: 100vh; overflow: auto;"
$reveal-position ?=                          fixed // absolute

$reveal-offset-top ?=                        rem-calc(100)
$reveal-default-width ?=                     80%
$reveal-max-width ?=                         95% // $row-width
$reveal-modal-padding ?=                     rem-calc(30)

// style the reveal close button
$reveal-close-font-size ?=                   rem-calc(40)
$reveal-close-line-height ?=                 0.49 // ($reveal-close-font-size - rem-calc(10))
$reveal-close-padding ?=                     rem-calc(10)
$reveal-close-top ?=                         rem-calc(10)
$reveal-close-side ?=                        rem-calc(22)
$reveal-close-color ?=                       $gray-dark-2
$reveal-close-color-hover ?=                 $primary-color
$reveal-close-weight ?=                      $font-weight-normal
$reveal-close-zindex ?=                      ($zindex-reveal + 1)

// set the default radius used throughout the core.
$reveal-radius ?=                            0
$reveal-round ?=                             $global-rounded

// the modal border
$reveal-border-style ?=                      solid
$reveal-border-width ?=                      2px
$reveal-border-color ?=                      $reveal-modal-bg // $gray-medium-1
$reveal-border-highlight-color ?=            $primary-color

$reveal-modal-class ?=                       'reveal-modal'
$close-reveal-modal-class ?=                 'close-reveal-modal'


//
// @mixins
//

// We use this to create the reveal background overlay styles
reveal-bg( $include-z-index-value = true ) {
    if (!$ie8) {
        background: $reveal-overlay-bg
    } else {
        background: $reveal-overlay-bg-old
    }
    bottom: 0
    display: none
    left: 0
    // fixed position. NOTE: could be problematic if height of modal extends screen height. So if you use it, specify "height: 100vh; overflow: auto;"
    position: fixed
    // position: absolute // allows modal to scroll with browser scrollbar
    right: 0
    top: 0
    z-index: ($include-z-index-value ? ($zindex-reveal - 1) : auto)
    {$default-float}: 0

}

// We use this mixin to create the structure of a reveal modal
//
// $base-style - Provides reveal base styles, can be set to false to override. Default: true, Options: false
// $width - Sets reveal width Default: $reveal-default-width || 80%
//
reveal-modal-base($base-style = true, $width = $reveal-default-width, $max-width = $reveal-max-width, $border-radius = $reveal-radius) {
    if $base-style {
        border-radius: $border-radius
        display: none
        max-height: 100vh
        overflow: auto
        position: $reveal-position
        top: 0
        visibility: hidden
        width: 100%
        z-index: $zindex-reveal
        {$default-float}: 0

        +mediaquery($small-only) {
            margin-{$default-float}: 1%
            margin-top: 1%
            max-width: 98%
            max-height: 98vh
        }

        // Make sure rows don't have a min-width on them
        .col {
            min-width: 0
        }

        // Get rid of margin from first and last element inside modal
        > :first-child {
            margin-top: 0
        }

        > :last-child {
            margin-bottom: 0
        }
    }

    if $width {
        +mediaquery($medium-up) {
            left: 0
            margin: 0 auto
            max-width: $max-width
            right: 0
            width: $width
        }
    }
}

// We use this to style the reveal modal defaults
//
// $bg - Sets background color of reveal modal. Default: $reveal-modal-bg || $white
// $padding - Padding to apply to reveal modal. Default: $reveal-modal-padding.
// $border - Choose whether reveal uses a border. Default: true, Options: false
// $border-style - Set reveal border style. Default: $reveal-border-style || solid
// $border-width - Width of border (i.e. 1px). Default: $reveal-border-width.
// $border-color - Color of border. Default: $reveal-border-color.
// $box-shadow - Choose whether or not to include the default box-shadow. Default: true, Options: false
// $radius - If true, set to modal radius which is $global-radius || explicitly set radius amount in px (ex. $radius:10px). Default: false
// $top-offset - Default: $reveal-offset-top || 50px
reveal-modal-style($bg = false, $padding = false, $border = false, $border-style = $reveal-border-style, $border-width = $reveal-border-width, $border-color = $reveal-border-color, $box-shadow = false, $radius = false, $top-offset = false) {

    if $bg {
        background-color: $bg
    }
    if ($padding != false) {
        padding: $padding
    }

    if $border {
        border: $border-width $border-style $border-color
        border-top: $border-width $border-style $reveal-border-highlight-color
    }

    // We can choose whether or not to include the default box-shadow.
    if $box-shadow {
        shadow-elevation('modal')
    }

    // We can control how much radius is used on the modal
    if ($radius == true) {
        radius($reveal-radius)
    } else if $radius {
        radius($radius)
    }

    if $top-offset {
        +mediaquery($medium-up) {
            top: $top-offset
        }
    }
}

// We use this to create a close button for the reveal modal
//
// $color - Default: $reveal-close-color || $base
reveal-close($color = $reveal-close-color) {
    color: $color
    cursor: $cursor-pointer-value
    font-size: fontsize($reveal-close-font-size)
    fontweight($reveal-close-weight)
    height: @font-size
    line-height: $reveal-close-line-height
    padding: $reveal-close-padding
    position: absolute
    top: $reveal-close-top
    width: @font-size
    {$opposite-direction}: $reveal-close-side
    z-index: $reveal-close-zindex

    &:hover {
        color: $reveal-close-color-hover
    }
}

//
// @styles
//
if $include-html-reveal-classes {

    // Reveal Modals
    .reveal-modal-bg {
        reveal-bg()
    }

    .{$reveal-modal-class} {
        reveal-modal-base()
        reveal-modal-style($bg:$reveal-modal-bg, $padding:$reveal-modal-padding, $border:true, $box-shadow:true, $radius:false, $top-offset:$reveal-offset-top)

        &--rad {
            reveal-modal-style($radius:true)
        }
        &--rnd  {
            reveal-modal-style($radius:$reveal-round)
        }
        &--collapse {
            reveal-modal-style($padding:0)
        }
        &--tny  {
            reveal-modal-base($base-style:false, $width:30%)
        }
        &--sml {
            reveal-modal-base($base-style:false, $width:40%)
        }
        &--med  {
            reveal-modal-base($base-style:false, $width:60%)
        }
        &--lrg {
            reveal-modal-base($base-style:false, $width:70%)
        }
        &--xlrg {
            reveal-modal-base($base-style:false, $width:95%)
        }
        &--full {
            reveal-modal-base($base-style:false, $width:100%)
            // height: 100%
            height: 100vh
            left: 0
            margin-left: 0 !important
            max-width: none !important
            min-height: 100vh
            top: 0
        }
        &--grid {
            grid-row()
        }

        // Modals pushed to back
        &.toback {
            z-index: ($zindex-reveal - 2)
        }

        .{$close-reveal-modal-class} {
            reveal-close()
        }
    }
}