// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-side-nav-classes =             com_css.SIDENAV

// padding.
$side-nav-padding ?=                         rem-calc(14 0)

// list styles.
$side-nav-list-type ?=                       none
$side-nav-list-position ?=                   outside
$side-nav-list-margin ?=                     rem-calc(0 0 7 0)

// link styles.
$side-nav-link-color ?=                      $primary-color
$side-nav-link-color-active ?=               lighten($side-nav-link-color, 30%)
$side-nav-link-color-hover ?=                lighten($side-nav-link-color, 30%)
$side-nav-link-bg-hover ?=                   rgba($black, 0.05)
$side-nav-link-margin ?=                     0
$side-nav-link-padding ?=                    rem-calc(7 14)
$side-nav-font-size ?=                       rem-calc(14)
$side-nav-font-weight ?=                     $font-weight-normal
$side-nav-font-weight-active ?=              $side-nav-font-weight
$side-nav-font-family ?=                     $font-family-custom
$side-nav-font-family-active ?=              $side-nav-font-family

// heading styles.
$side-nav-heading-color ?=                   $side-nav-link-color
$side-nav-heading-font-size ?=               $side-nav-font-size
$side-nav-heading-font-weight ?=             $font-weight-bold
$side-nav-heading-text-transform ?=          uppercase

// border styles
$side-nav-divider-size ?=                    1px
$side-nav-divider-style ?=                   solid
$side-nav-divider-color ?=                   darken($white, 10%)


//
// @mixins
//

// We use this to style the side-nav
//
// $divider-color - Border color of divider. Default: $side-nav-divider-color.
// $font-size - Font size of nav items. Default: $side-nav-font-size.
// $link-color - Color of navigation links. Default: $side-nav-link-color.
// $link-color-hover - Color of navigation links when hovered. Default: $side-nav-link-color-hover.
side-nav($divider-color = $side-nav-divider-color, $font-size = $side-nav-font-size, $link-color = $side-nav-link-color, $link-color-hover = $side-nav-link-color-hover, $link-color-active = $side-nav-link-color-active, $link-bg-hover = $side-nav-link-bg-hover) {
    display: block
    font_family($side-nav-font-family)
    list-style-position: $side-nav-list-position
    list-style-type: $side-nav-list-type
    margin: 0
    padding: $side-nav-padding

    li {
        font-size: $font-size
        font-weight: $side-nav-font-weight
        margin: $side-nav-list-margin

        a:not(.btn) {
            color: $link-color
            display: block
            margin: $side-nav-link-margin
            padding: $side-nav-link-padding
            &:hover,
            &:focus {
                background: $link-bg-hover
                color: $link-color-hover
            }
            &:active {
                color: $link-color-active
            }
        }

        &.is-active > a:first-child:not(.btn) {
            color: $side-nav-link-color-active
            font-weight: $side-nav-font-weight-active
            font_family($side-nav-font-family-active)
        }

        &.divider {
            border-top: $side-nav-divider-size $side-nav-divider-style
            border-top-color: $divider-color
            height: 0
            list-style: none
            padding: 0
        }

        &.heading {
            color: $side-nav-heading-color
            font-size: $side-nav-heading-font-size
            font-weight: $side-nav-heading-font-weight
            text-transform: $side-nav-heading-text-transform
        }
    }
}


//
// @styles
//
if $include-html-side-nav-classes {
    .side-nav {
        side-nav()
    }
}