// LM Foundation by LUXMEDIA - based on ZURB
// lux-media.de - foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-slickslider-classes = com_js.SLICKSLIDER

$slick-loader-path ?=               './'
$slick-arrow-color ?=               $gray-base
$slick-arrow-color-hover ?=         $white // $primary-color
$slick-dot-color ?=                 $charcoal-2
$slick-dot-color-alt ?=             $gray-base
$slick-dot-color-active ?=          $primary-color
$slick-dot-color-hover ?=           $slick-dot-color
$slick-dot-color-hover-alt ?=       $white
$slick-prev-character ?=            '\2190'
$slick-next-character ?=            '\2192'
$slick-dot-character ?=             '\2022'
$slick-dot-size ?=                  rem-calc(6)
$slick-opacity-default ?=           .75
$slick-opacity-on-hover ?=          1
$slick-opacity-not-active ?=        .25
$slick-opacity-active ?=            1

$slick-nav-button-size ?=           rem-calc(34)
$slick-dot-button-font-size ?=      fontsize(.7rem)
$slick-dot-button-font-color ?=     $gray-medium-2
$slick-dot-button-font-color-active ?= $white
$slick-dot-margin-bottom ?=         rem-calc(30)
$slick-dot-sensitive-size ?=        rem-calc(20)
$slick-dot-sensitive-size-block ?=  rem-calc(18)
$slick-dot-margin ?=                rem-calc(0 5)
$slick-dot-padding ?=               rem-calc(5)

$slick-dot-blockstyle ?=            false

$slick-cursor-drag ?=               $cursor-grab-value
$slick-cursor-dragging ?=           $cursor-grabbing-value

$slick-nav-button-svg-size ?=       rem-calc(22)
$slick-nav-button-svg-shapes ?=     ('polyline' 'polygon')


//
// @mixins
//

slick-image-url($url) {
    if image-url is defined {
        return image-url($url)
    } else {
        return unquote('url('+$slick-loader-path + $url+')')
    }
}



//
// @styles
//

if $include-html-slickslider-classes {

    .slick {

        &__slider {
            -khtml-user-select: none
            -moz-box-sizing: border-box
            -moz-user-select: none
            -ms-touch-action: pan-y
            -ms-user-select: none
            -webkit-tap-highlight-color: transparent
            -webkit-touch-callout: none
            -webkit-user-select: none
            box-sizing: border-box
            display: block
            position: relative
            touch-action: pan-y
            user-select: none
        }
        &__list {
            cursor($slick-cursor-drag)
            display: block
            margin: 0
            overflow: hidden
            padding: 0
            position: relative

            &:focus {
                outline: none
            }

            .is-loading & {
                background: $white slick-image-url('ajax-loader.gif') center center no-repeat
            }

            &.is-dragging {
                cursor($slick-cursor-dragging)
            }
        }
        &__slider .slick__track,
        &__slider .slick__list {
            -webkit-transform: translate3d(0, 0, 0)
            -moz-transform: translate3d(0, 0, 0)
            -ms-transform: translate3d(0, 0, 0)
            -o-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
        }

        &__track {
            display: block
            left: 0
            position: relative
            top: 0

            &:before,
            &:after {
                content: ''
                display: table
            }

            &:after {
                clear: both
            }

            .is-loading & {
                visibility: hidden
            }
        }
        &__slide {
            display: none
            float: left
            height: 100%
            min-height: 1px
            
            [dir='rtl'] & {
                float: right
            }

            img {
                display: block
            }

            &.is-loading img {
                display: none
            }

            &.dragging img {
                pointer-events: none
            }

            .is-init & {
                display: block
            }

            .is-loading & {
                visibility: hidden
            }

            .slick--vertical & {
                border: 1px solid transparent
                display: block
                height: auto
            }
        }

        // Arrows
        &__prev,
        &__next {
            
            // NOTE: Use button classes for styling
            // background-color: transparent
            // border: none
            // color: transparent
            // cursor: pointer
            // display: block
            font-size: 0
            height: $slick-nav-button-size
            // line-height: 0
            margin: 0
            margin-top: -($slick-nav-button-size / 2)
            padding: 0
            position: absolute
            top: 49%
            width: $slick-nav-button-size

            &:hover,
            &:focus {
                outline: none
                opacity: $slick-opacity-on-hover
            }

            &.is-disabled {
                opacity: $slick-opacity-not-active
            }
        }

        &__prev {
            {$default-float}: -(($slick-nav-button-size + rem-calc(5)))

            svg-background($file:'arrows_'+$default-float+'.svg', $shapes:$slick-nav-button-svg-shapes, $size:$slick-nav-button-svg-size, $stroke-width:$svg-stroke-width-small, $stroke:$slick-arrow-color, $stroke-hover:$slick-arrow-color-hover, $scale-x:1, $position-x:center)
        }
        &__next {
            {$opposite-direction}: -(($slick-nav-button-size + rem-calc(5)))

            svg-background($file:'arrows_'+$opposite-direction+'.svg', $shapes:$slick-nav-button-svg-shapes, $size:$slick-nav-button-svg-size, $stroke-width:$svg-stroke-width-small, $stroke:$slick-arrow-color, $stroke-hover:$slick-arrow-color-hover, $scale-x:1, $position-x:center)
        }

        &__slider.arrows-bottom {
            .slick__next {
                {$opposite-direction}: rem-clac(10)
            }
            .slick__prev {
                {$default-float}: rem-clac(10)
            }
            .slick__next,
            .slick__prev {
                top: auto
                bottom: ($slick-nav-button-size / 2.6)
            }
        }

        // DOTS FOR NAVIGATION

        // Single Dots
        &__dots {
            // bottom: -(($slick-dot-sensitive-size*2)+rem-calc(5))
            // position: absolute
            display: block
            list-style: none
            margin: 0 1% $slick-dot-margin-bottom 1%
            padding: 0
            position: relative
            text-align: center
            width: 98%

            li {
                cursor: pointer
                display: inline-block
                height: $slick-dot-sensitive-size
                margin: $slick-dot-margin
                padding: 0
                position: relative
                radius(1000px)
                width: $slick-dot-sensitive-size

                button {
                    background: transparent
                    border: none
                    box-shadow: none
                    color: transparent
                    cursor($cursor-pointer-value)
                    display: block
                    font-size: 0
                    height: $slick-dot-sensitive-size
                    line-height: 0
                    margin: 0
                    // outline: none
                    padding: $slick-dot-padding
                    radius(1000px)
                    width: $slick-dot-sensitive-size

                    &:hover,
                    &:focus {
                        border: none
                        box-shadow: none
                        outline: none

                        &:before {
                            color: $slick-dot-color-hover
                            opacity: $slick-opacity-on-hover
                        }
                    }

                    &:before {
                        background-color: $slick-dot-color
                        content: $slick-dot-character
                        font-family: $slick-font-family
                        font-size: $slick-dot-size
                        height: $slick-dot-size
                        left: 50%
                        line-height: $slick-dot-size
                        margin: (-($slick-dot-size/2)) 0 0 (-($slick-dot-size/2))
                        opacity: $slick-opacity-not-active
                        position: absolute
                        text-align: center
                        top: 50%
                        width: $slick-dot-size
                        
                        antialiased()
                        
                        radius(1000px)
                    }
                }

                &.is-active button:before,
                &.is-active button:before:hover {
                    background-color: $slick-dot-color-active
                    color: $slick-dot-color-active
                    cursor($cursor-default-value)
                    opacity: $slick-opacity-active
                }
            }
        }

        // Squaretype fullwidth "block-dots"
        if $slick-dot-blockstyle {
            &__dots--block {
                clearfix()
                display: block
                list-style: none
                margin: 0 0 $slick-dot-margin-bottom 0
                padding: 0
                position: relative
                width: 100%

                li {
                    display: block
                    float: left
                    height: $slick-dot-sensitive-size-block

                    button {
                        background: $slick-dot-color-alt
                        border: none
                        box-shadow: none
                        color: $slick-dot-button-font-color
                        cursor($cursor-pointer-value)
                        display: block
                        font-size: $slick-dot-button-font-size
                        height: $slick-dot-sensitive-size-block
                        line-height: $slick-dot-sensitive-size-block
                        margin: 0
                        outline: none
                        overflow: hidden
                        padding: 0
                        radius(0)
                        width: 100%
                    }

                    &:nth-child(even) button {
                        background: ($slick-dot-color-alt != $white ) ? lighten($slick-dot-color-alt,20%) : $slick-dot-color-alt
                    }
                    &:hover button {
                        background: $slick-dot-color-hover-alt
                    }
                    &:nth-child(even):hover button {
                        background: ($slick-dot-color-hover-alt != $white ) ? lighten($slick-dot-color-hover-alt,20%) : $slick-dot-color-hover-alt
                    }
                    &.is-active button,
                    &.is-active:hover button {
                        background: $slick-dot-color-active
                        color: $slick-dot-button-font-color-active
                        cursor($cursor-default-value)
                    }
                }
            }
        }
    }
}