// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'
@require '_buttons'
@require '_dropdown-buttons'

//
// @variables
//

$include-html-split-button-classes =         com_css.SPLITBUTTONS

// different shared styles for Split Buttons
$split-button-function-factor ?=             -15%
$split-button-pip-color ?=                   $white
$split-button-pip-color-alt ?=               $charcoal-1
$split-button-active-bg-tint ?=              rgba($black, .15)
$split-button-border-color ?=                $white
$split-button-span-border-color ?=           rgba($white, .6)
$split-button-span-border-color-alt ?=       rgba($black, .4)

// tiny split buttons
$split-button-padding-tny ?=                 ($button-pip-tny * 10)
$split-button-span-width-tny ?=              ($button-pip-tny * 6)
$split-button-pip-size-tny ?=                ($button-pip-tny)
$split-button-pip-top-tny ?=                 ($button-pip-tny * 2)
$split-button-pip-default-float-tny ?=       -(rem-calc(6))

// small split buttons
$split-button-padding-sml ?=                 ($button-pip-sml * 10)
$split-button-span-width-sml ?=              ($button-pip-sml * 6)
$split-button-pip-size-sml ?=                ($button-pip-sml)
$split-button-pip-top-sml ?=                 ($button-pip-sml * 1.5)
$split-button-pip-default-float-sml ?=       -(rem-calc(6))

// medium split buttons
$split-button-padding-med ?=                 ($button-pip-med * 9)
$split-button-span-width-med ?=              ($button-pip-med * 5.5)
$split-button-pip-size-med ?=                ($button-pip-med - rem-calc(3))
$split-button-pip-top-med ?=                 ($button-pip-med * 1.5)
$split-button-pip-default-float-med ?=       -(rem-calc(6))

// large split buttons
$split-button-padding-lrg ?=                 ($button-pip-lrg * 8)
$split-button-span-width-lrg ?=              ($button-pip-lrg * 5)
$split-button-pip-size-lrg ?=                ($button-pip-lrg - rem-calc(6))
$split-button-pip-top-lrg ?=                 ($button-pip-lrg + rem-calc(5))
$split-button-pip-default-float-lrg ?=       -(rem-calc(6))

// pip svg settings
$split-button-pip-svg ?=                     'arrows_down.svg'
$split-button-pip-svg-shapes ?=              ('polyline' 'polygon')


//
// @mixins
//

// We use this mixin to create split buttons that build upon the button mixins
//
// $padding - Type of padding to apply. Default: medium. Options: tiny, small, medium, large.
// $pip-color - Color of the triangle. Default: $split-button-pip-color.
// $span-border - Border color of button divider. Default: $split-button-span-border-color.
// $base-style - Apply base style to split button. Default: true.
split-button($padding = medium, $pip-color = $split-button-pip-color, $span-border = $split-button-span-border-color, $outline = false, $pip-color = $split-button-pip-color, $span-border = $split-button-span-border-color, $base-style = true) {

    // With this, we can control whether or not the base styles come through.
    if $base-style {
        position: relative

        // Styling for the split arrow clickable area
        .toggler {
            border-{$default-float}: solid 1px
            display: block
            height: 100%
            position: absolute
            top: 0
            {$opposite-direction}: 0

            // use svg for pip
            svg-background($file:$split-button-pip-svg, $shapes:$split-button-pip-svg-shapes, $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-small, $position-x:center)
            
            &:hover,
            &[aria-expanded="true"] {
                background-color: $split-button-active-bg-tint
            }
        }
    }

    // Control the border color for the span area of the split button
    if $span-border {
        .toggler {
            border-{$default-float}-color: $span-border
        }
    }

    // Style of the button and clickable area for tiny sizes
    if ($padding == tiny) {
        padding-{$opposite-direction}: $split-button-padding-tny

        .toggler {
            width: $split-button-span-width-tny
        }
    } else if ($padding == small) {
    // Style of the button and clickable area for small sizes
        padding-{$opposite-direction}: $split-button-padding-sml

        .toggler {
            width: $split-button-span-width-sml
        }
    } else if ($padding == medium) {
    // Style of the button and clickable area for default (medium) sizes
        padding-{$opposite-direction}: $split-button-padding-med

        .toggler {
            width: $split-button-span-width-med
        }
    } else if ($padding == large) {
    // Style of the button and clickable area for large sizes
        padding-{$opposite-direction}: $split-button-padding-lrg

        .toggler {
            width: $split-button-span-width-lrg
        }
    }

    // Control the color of the triangle pip
    // if $pip-color {
    //     {$is-no-svg-support} & {
    //         .toggler:after {
    //             border-color: $pip-color transparent transparent transparent
    //         }
    //     }
    // }

    // additional styling for outline buttons
    if $outline {
        .toggler {
            border-{$default-float}-width: $outline
            border-color: $pip-color

            svg-background($file:$split-button-pip-svg, $shapes:$split-button-pip-svg-shapes, $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-small, $size:false, $repeat:false, $position-x:false)
            
            &:hover,
            &[aria-expanded="true"] {
                background-color: $split-button-active-bg-tint
                border-color: scale-color($pip-color, $button-function-factor)
            }
        }
    }
}

//
// @styles
//

if $include-html-split-button-classes {

    .btn--split {
        split-button()

        // Color variants
        &--secondary {
            split-button($padding:false, $pip-color:$split-button-pip-color-alt, $span-border:$split-button-span-border-color-alt, $base-style:false)
        }
        &--alert {
            split-button($padding:false, $pip-color:false, $span-border:$split-button-span-border-color, $base-style:false)
        }
        &--success {
            split-button($padding:false, $pip-color:false, $span-border:$split-button-span-border-color, $base-style:false)
        }

        // Outline button style
        if $button-outline-width {
            &.btn--outline {
                split-button($padding:false, $pip-color:$button-bg-color, $span-border:$button-bg-color, $outline:$button-outline-width, $base-style:false)
            }
        }

        // Sizes
        &--tny {
            split-button($padding:tiny, $pip-color:false, $span-border:false, $base-style:false)
        }
        &--sml {
            split-button($padding:small, $pip-color:false, $span-border:false, $base-style:false)
        }
        &--lrg {
            split-button($padding:large, $pip-color:false, $span-border:false, $base-style:false)
        }
        &--exp {
            padding-left: remify(2rem)
        }

        // Set corner style for buttons
        if ($button-corner-style == 'radius') {
            .toggler {
                side-radius($opposite-direction, $global-radius)
            }
        } else if ($button-corner-style == 'round') {
            .toggler {
                side-radius($opposite-direction, $global-rounded)
            }
        } else if ($button-corner-style == 'all') {
            &--rad .toggler {
                side-radius($opposite-direction, $global-radius)
            }
            &--rnd .toggler {
                side-radius($opposite-direction, $global-rounded)
            }
        }

        // No pip
        &--nopip {
            .toggler {
                background-image: none
                padding-top:$split-button-pip-top-med
                > i {
                    display: block
                    left: 50%
                    margin-left: -(0.28889em)
                    margin-top: -(0.48889em)
                    position: absolute
                    top: 50%
                }
            }
            &.btn--tny {
                .toggler {
                    padding-top: $split-button-pip-top-tny
                }
            }
            &.btn--sml {
                .toggler {
                    padding-top: $split-button-pip-top-sml
                }
            }
            &.btn--lrg {
                .toggler {
                    padding-top: $split-button-pip-top-lrg
                }
            }
        }
    }
}