// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'
@require '_forms'

//
// @name
// @dependencies _global.styl
//

//
// @variables
//

$include-html-form-switches-classes =           com_js.SWITCHES

// Controlling background color for the switch container
$switch-font-family ?=                          $font-family-custom
$switch-font-size ?=                            fontsize(1rem)
$switch-font-size-sml ?=                        fontsize(.8rem)
$switch-font-size-lrg ?=                        fontsize(1.1rem)
$switch-font-color ?=                           $input-font-color
$switch-font-color-inv ?=                       $input-font-color-inv
$switch-font-color-hover ?=                     $input-font-color-hover
$switch-font-color-hover-inv ?=                 $input-font-color-hover-inv
$switch-bg ?=                                   color_alpha($black, .15) // $gray-medium-1
$switch-bg-hover ?=                             color_alpha($black, .25)
$switch-bg-active ?=                            $primary-color
$switch-bg-active-hover ?=                      darken($primary-color, 15%)
$switch-border-color ?=                         $gray-base // blend($input-border-color, $white)
$switch-border-color-hover ?=                   darken($switch-border-color, 15%) // darken($switch-border-color, 25%)
$switch-border-color-active ?=                  $switch-bg-active

// ALternative/Inverted colors
$switch-inv-bg ?=                               color_alpha($black, .5)
$switch-inv-bg-hover ?=                         $switch-inv-bg
$switch-inv-bg-active ?=                        $primary-color
$switch-inv-border-color ?=                     color_alpha($white, .4)
$switch-inv-border-color-hover ?=               color_alpha($white, .6)
$switch-inv-border-color-active ?=              $switch-bg-active

// the switch heights for our default classes
$switch-height-tny ?=                           rem-calc(10)
$switch-height-sml ?=                           rem-calc(15)
$switch-height-med ?=                           rem-calc(18)
$switch-height-lrg ?=                           rem-calc(22)
$switch-bottom-margin ?=                        rem-calc(10)
$switch-border-width ?=                         2px

// We use these to style the switch-paddle
$switch-paddle-bg ?=                            $white
$switch-paddle-bg-hover ?=                      darken($switch-paddle-bg, 5%)
$switch-paddle-inv-bg ?=                        darken($white, 10%) // $gray-base
$switch-paddle-inv-bg-hover ?=                  $white // lighten($switch-paddle-bg, 10%)

$switch-paddle-transition-speed ?=              .10s
$switch-paddle-transition-ease ?=               ease-in
//space between paddle and bg
$switch-paddle-inset ?=                         rem-calc(2)

$switch-text-space ?=                           rem-calc(10)
$switch-transform-factor ?=                     rem-calc(5)


//
// @mixins
//

// We use this mixin to create the base styles for our switch element.
//
// $transition-speed - Time in ms for switch to toggle. Default: $switch-paddle-transition-speed.
// $transition-ease - Easing function to use for animation (i.e. ease-out). Default: $switch-paddle-transition-ease.
switch-base($transition-speed = $switch-paddle-transition-speed, $transition-ease = $switch-paddle-transition-ease) {

    border: none
    margin-bottom: $switch-bottom-margin
    outline: 0
    padding: 0
    position: relative
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    // Default label styles for type and transition
    label {
        cursor: pointer
        display: block
        font_family($switch-font-family)
        height: $switch-height-med
        line-height: $switch-height-med
        margin-bottom: ($switch-height-med / 2)
        position: relative
        text-indent: (($switch-height-med * 2) + $switch-text-space) // 100%
        white-space: nowrap
        width: ($switch-height-med * 2)

        // Transition for the switch label to follow paddle
        single-transition(all, $transition-speed, $transition-ease)
    }

    // So that we don't need to recreate the form with any JS, we use the
    // existing checkbox or radio button, but we cleverly position and hide it.
    input {
        left: 10px
        margin: 0
        opacity: 0
        padding: 0
        position: absolute
        top: 9px

        & + label {
            margin-left: 0
            margin-right: 0
        }
    }

    // The paddle for the switch is created from an after psuedoclass
    // content element. This is sized and positioned, and reacts to
    // the state of the input.

    label:after {
        content: ""
        display: block
        height: ($switch-height-med - $switch-paddle-inset)
        left: (($switch-paddle-inset / 2) - remify($switch-border-width))
        position: absolute
        top: @left
        width: @height

        single-transition(all, $transition-speed, $transition-ease)
        -o-transition: translate3d(0, 0, 0)

        -webkit-transform: translate3d(0, 0, 0)
        -moz-transform: translate3d(0, 0, 0)
        -ms-transform: translate3d(0, 0, 0)
        -o-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)
    }

    input {
        &:active + label:after {
            width: ($switch-height-med - $switch-paddle-inset + $switch-transform-factor)
        }
        &:checked:active + label:after {
            width: ($switch-height-med - $switch-paddle-inset + $switch-transform-factor)
            left: ($switch-height-med + ($switch-paddle-inset / 2) - remify($switch-border-width) - $switch-transform-factor)
        }
        &:checked + label:after {
            left: ($switch-height-med + ($switch-paddle-inset / 2) - remify($switch-border-width))
        }
    }
}

// We use this mixin to create the size styles for switches.
//
// $height - Height (in px) of the switch. Default: $switch-height-med.
// $font-size - Font size of text in switch. Default: $switch-font-size-med.
// $line-height - Line height of switch. Default: 2.3rem.
switch-size($height = $switch-height-med) {

    if ($height != $switch-height-med) {
        // Factor for material transformation
        $transform-factor = $switch-transform-factor
        if $height < $switch-height-med {
            $transform-factor = rem-calc(3)
        }

        label {
            height: $height
            if ($height == $switch-height-sml) {
                font-size: $switch-font-size-sml
            } else if ($height == $switch-height-lrg) {
                font-size: $switch-font-size-lrg
            }
            text-indent: (($height * 2) + $switch-text-space)
            width: ($height * 2)

            &:after {
                height: ($height - $switch-paddle-inset)
                width: ($height - $switch-paddle-inset)
            }
        }

        input {
            &:active + label:after {
                width: ($height - $switch-paddle-inset + $transform-factor)
            }
            &:checked:active + label:after {
                width: ($height - $switch-paddle-inset + $transform-factor)
                left: ($height + ($switch-paddle-inset / 2) - remify($switch-border-width) - $transform-factor)
            }
            &:checked + label:after {
                left: ($height + ($switch-paddle-inset / 2) - remify($switch-border-width))
            }
        }
    }

}

// Add color and other fanciness to the switches.
//
// $paddle-bg - Background of switch paddle. Default: $switch-paddle-bg.
// $active-color - Background color of positive side of switch. Default: $switch-positive-color.
// $negative-color - Background color of negative side of switch. Default: $switch-negative-color.
// $radius - Radius to apply to switch. Default: false.
// $base-style - Apply base styles? Default: true.
switch-style($paddle-bg = $switch-paddle-bg, $active-color = $switch-bg-active, $radius = false, $base-style = true, $inverted-colors = false, $bg-hover = $switch-bg-hover, $bg-active-hover = $switch-bg-active-hover) {

    if $base-style {
        label {
            background: (!$inverted-colors ? $switch-bg : $switch-inv-bg)
            if ($switch-border-width != 0) {
                border: $switch-border-width solid (!$inverted-colors ? $switch-border-color : $switch-inv-border-color)
            }
            color: (!$inverted-colors ? $switch-font-color : $switch-font-color-inv)
            font-size: $switch-font-size

            &:hover {
                background: $bg-hover
                if ($switch-border-width != 0) {
                    border-color: (!$inverted-colors ? $switch-border-color-hover : $switch-inv-border-color-hover)
                }
                color: (!$inverted-colors ? $switch-font-color-hover : $switch-font-color-hover-inv)
                &::after {
                    background: (!$inverted-colors ? $switch-paddle-bg-hover : $switch-paddle-inv-bg-hover)
                    // single-transition(background, $speed:$transition-speed, $ease:$transition-ease)
                    // shadow-elevation('switches', $shadow: true, $shadow-hover: false)
                }
            }
        }

        label:after {
            background: (!$inverted-colors ? $paddle-bg : $switch-paddle-inv-bg)
            shadow-elevation('switches')
        }
        
        input {
            &:checked + label {
                background: (!$inverted-colors ? $active-color : $switch-inv-bg-active)
                if ($switch-border-width != 0) {
                    border-color: (!$inverted-colors ? $switch-border-color-active : $switch-inv-border-color-active)
                }

                &:hover {
                    background: $bg-active-hover
                }
            }
            &:active + label:after {
                background: (!$inverted-colors ? $switch-paddle-bg-hover : $switch-paddle-inv-bg-hover)
            }
        }
        
        &.is-icononly label {
            color: transparent
            font-size: 0
        }
    }

    // Setting up the radius for switches
    if ($radius == true) {
        label {
            border-radius: $global-rounded // remify(2rem)
            &:after {
                border-radius: $global-rounded // remify(2rem)
            }
        }
    } else if $radius {
        label {
            border-radius: $radius
            &:after {
                border-radius: $radius
            }
        }
    }
}

// Quickly create switches with a single mixin
//
// $transition-speed - Time in ms for switch to toggle. Default: $switch-paddle-transition-speed.
// $transition-ease - Easing function to use for animation (i.e. ease-out). Default: $switch-paddle-transition-ease.
// $height - Height (in px) of the switch. Default: $switch-height-med.
// $paddle-bg - Background of switch paddle. Default: $switch-paddle-bg.
// $active-color - Background color of an active switch. Default: $switch-bg-active.
// $radius - Radius to apply to switch. Default: false.
// $base-style - Apply base styles? Default: true.
switch($transition-speed = $switch-paddle-transition-speed, $transition-ease = $switch-paddle-transition-ease, $height = $switch-height-med, $paddle-bg = $switch-paddle-bg, $active-color = $switch-bg-active, $radius = false, $base-style = true) {
    switch-base($transition-speed, $transition-ease)
    switch-size($height)
    switch-style($paddle-bg, $active-color, $radius, $base-style)
}


//
// @styles
//

if $include-html-form-classes {
    .switch {
        switch()

        // Inverted colors
        &--inv {
            switch-style($inverted-colors:true, $base-style:true)
        }

        // Sizes
        &--tny { 
            switch-size($switch-height-tny)
        }
        &--sml { 
            switch-size($switch-height-sml)
        }
        &--lrg { 
            switch-size($switch-height-lrg)
        }

        // Add a radius to the switch
        &--rad {
            label { 
                radius($global-radius+1)
                &:after { 
                    radius($global-radius)
                }
            }
        }

        // Make the switch completly round, like a pill
        &--rnd { 
            radius($global-rounded)
            
            label { 
                radius($global-rounded)
                &:after { 
                    radius($global-rounded)
                }
            }
        }

        &--inline {
            display: inline-block
        }
    }
}