// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'
@require '_grid'

//
// @variables
//

$include-html-tabs-classes =                   com_js.TAB

$tabs-navigation-padding ?=                     rem-calc(10 15)
$tabs-navigation-bg-color ?=                    $gray-light-2
$tabs-navigation-active-bg-color ?=             $white
$tabs-navigation-hover-bg-color ?=              darken($tabs-navigation-bg-color, 6%)
$tabs-navigation-font-color ?=                  $gray-dark-2
$tabs-navigation-hover-font-color ?=            $charcoal-1
$tabs-navigation-active-font-color ?=           $primary-color
$tabs-navigation-border-width ?=                2px
$tabs-navigation-active-border-color-top ?=     $tabs-navigation-active-bg-color
$tabs-navigation-active-border-color-bottom ?=  $primary-color
$tabs-navigation-font-size ?=                   fontsize(1rem)
$tabs-navigation-font-family ?=                 $font-family-custom
$tabs-navigation-font-weight ?=                 $font-weight-bold
$tabs-navigation-text-transform ?=              uppercase

$tabs-content-margin-bottom ?=                  rem-calc(24)
$tabs-content-padding ?=                        ($column-gutter/2)
$tabs-content-bg ?=                             $tabs-navigation-active-bg-color
$tabs-content-border-width ?=                   false // 0 0 2px 0
$tabs-content-border-color ?=                   $gray-medium-1

$tabs-vertical-navigation-margin-bottom ?=      remify(1.25rem)


//
// @styles
//
if $include-html-tabs-classes {
    
    .tabs-list {
        border-bottom: $tabs-navigation-border-width solid $tabs-content-border-color
        overflow: visible
    }
    .tabs {
        clearfix()
        margin-bottom: 0 !important
        margin-left: 0

        dd,
        .tab-title {
            float: $default-float
            list-style: none
            margin-bottom: -($tabs-navigation-border-width) !important
            margin-top: $tabs-navigation-border-width
            margin-right: 1px
            position: relative

            & > a {
                background-color: $tabs-navigation-bg-color
                border-style: solid
                border-width: $tabs-navigation-border-width 0
                border-color: transparent
                border-bottom-color: $tabs-content-border-color
                color: $tabs-navigation-font-color
                display: block
                font-size: $tabs-navigation-font-size
                font-weight: $tabs-navigation-font-weight
                font_family($tabs-navigation-font-family)
                padding: $tabs-navigation-padding
                text-transform: $tabs-navigation-text-transform

                &:hover {
                    background-color: $tabs-navigation-hover-bg-color
                    color: $tabs-navigation-hover-font-color
                }
                &:focus{
                    outline: none
                    box-shadow: none
                }
            }
            &.is-active a {
                background-color: $tabs-navigation-active-bg-color
                border-bottom-color: $tabs-navigation-active-border-color-bottom
                border-top-color: $tabs-navigation-active-border-color-top
                color: $tabs-navigation-active-font-color
                cursor: $cursor-default-value
            }
        }
        &--rad {
            dd:first-child,
            .tab:first-child {
                a {
                    side-radius($default-float, $global-radius)
                }
            }
            dd:last-child,
            .tab:last-child {
                a {
                    side-radius($opposite-direction, $global-radius)
                }
            }
        }
        &--vert {
            dd,
            .tab-title {
                position: inherit
                float: none
                display: block
                top: auto
            }
        }
    }

    .tabs-content {
        clearfix()
        if $tabs-content-border-width {
            border-color: $tabs-content-border-color
            border-style: solid
            border-width: $tabs-content-border-width
        }
        margin-bottom: $tabs-content-margin-bottom
        width: 100%

        & > .content {
            display: none
            float: $default-float
            padding: $tabs-content-padding 0
            width: 100%
            if $tabs-content-bg {
                background: $tabs-content-bg
            }
            &.is-active {
                display: block
                float: none
            }
            &.contained {
                padding: $tabs-content-padding
            }
        }
        &--vert {
            display: block
            > .content {
                padding: 0 $tabs-content-padding
            }
        }
    }

    +mediaquery($medium-up) {
        
        .tabs {
            &--vert {
                float: $default-float
                margin: 0
                margin-bottom: $tabs-vertical-navigation-margin-bottom
                max-width: 20%
                width: 20%
            }
        }
        
        .tabs-content {
            &--vert {
                float: $default-float
                margin-{$default-float}: -(1px)
                max-width: 80%
                padding-{$default-float}: remify(1rem)
                width: 80%
            }
        }
    }

    .no-js {
        .tabs-content > .content {
            display: block
            float: none
        }
    }
}