// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-table-classes =               com_css.TABLES

// These control the background color for the table and even rows
$table-bg ?=                                 $white
$table-even-row-bg ?=                        $gray-lighter-3
$table-bg-hover ?=                           lightness($primary-color, 95%) // else: 'false'
$table-row-border ?=                         false // 1px solid $gray-lighter-3

// These control the table cell border style
$table-border-style ?=                       solid
$table-border-size ?=                        1px
$table-border-color ?=                       $separator-color

// These control the table head styles
$table-head-bg ?=                            $table-bg
$table-head-font-size ?=                     fontsize(.8rem)
$table-head-font-color ?=                    $font-color-caption
$table-head-font-weight ?=                   $font-weight-bold
$table-head-padding ?=                       rem-calc(8 10)
$table-head-text-transform ?=                false // uppercase
$table-head-border ?=                        1px solid $table-border-color

// These control the row padding and font styles
$table-row-padding ?=                        rem-calc(8 10)
$table-row-font-size ?=                      fontsize(.9rem)
$table-row-font-color ?=                     $charcoal-1
$table-line-height ?=                        rem-calc(16)

// These control the table foot styles
$table-foot-bg ?=                            $table-head-bg
$table-foot-font-size ?=                     $table-row-font-size
$table-foot-font-color ?=                    $charcoal-2
$table-foot-font-weight ?=                   $table-head-font-weight
$table-foot-padding ?=                       $table-head-padding
$table-foot-text-transform ?=                false // uppercase

// These control the caption
$table-caption-bg ?=                         transparent
$table-caption-font-color ?=                 $table-head-font-color
$table-caption-font-size ?=                  fontsize(.9rem)
$table-caption-font-weight ?=                bold

// These are for controlling the layout, display and margin of tables
$table-layout ?=                             auto
$table-display ?=                            table-cell
$table-margin-bottom ?=                      rem-calc(20)



//
// @mixins
//

table() {
    background: $table-bg
    border: $table-border-style $table-border-size $table-border-color
    margin-bottom: $table-margin-bottom
    table-layout: $table-layout

    &.tbl--flat {
        border: none
        margin-bottom: 0
    }

    &.tbl--full {
        width: 100%
    }

    caption {
        background: $table-caption-bg
        color: $table-caption-font-color
        font-size: $table-caption-font-size
        fontweight($table-caption-font-weight)
    }

    thead {
        background: $table-head-bg

        tr {
            th,
            td {
                border-bottom: $table-head-border 
                color: $table-head-font-color
                font-size: $table-head-font-size
                fontweight($table-head-font-weight)
                padding: $table-head-padding
                if $table-head-text-transform {
                    text-transform: $table-head-text-transform
                }
            }
        }
    }

    tfoot {
        background: $table-foot-bg

        tr {
            th,
            td {
                color: $table-foot-font-color
                font-size: $table-foot-font-size
                fontweight($table-foot-font-weight)
                padding: $table-foot-padding
                if $table-foot-text-transform {
                    text-transform: $table-foot-text-transform
                }
            }
            th {
                color: $table-head-font-color
            }
        }
    }

    tr {
        if $table-bg-hover {
            &:hover,
            &:nth-of-type(even):hover {
                background: $table-bg-hover
            }
        }
        
        th,
        td {
            color: $table-row-font-color
            font-size: $table-row-font-size
            padding: $table-row-padding
            text-align: $default-float
        }
        td:last-child {
            text-align: $opposite-direction
        }

    }

    // Alternating Rows
    if $table-even-row-bg {
        tbody tr {
            &.even,
            &.alt,
            &:nth-of-type(even) { 
                background: $table-even-row-bg
            }
        }
    }
    if $table-row-border {
        tbody tr {
            td {
                border-bottom: $table-row-border
            }
            &:last-child td,
            &:last-of-type td {
                border-bottom: none
            }
        }
    }

    thead tr th,
    tfoot tr th,
    tfoot tr td,
    tbody tr th,
    tbody tr td,
    tr td { 
        display: $table-display 
        line-height: $table-line-height
    }
}

// Container for large tables (scrollable)
large-table() {

    .block__tbl--lrg {
    //     padding-bottom: rem-calc(30)
    //     position: relative

    //     > .inner {
    //         height: 80vh
    //         // margin-left: rem-calc(170)
    //         overflow-x: auto
    //         overflow-y: auto // visible
    //         width: auto
    //     }
        +mediaquery($small-up) {
            overflow: scroll
            overflow-y: hidden
        }

        +mediaquery($large-up) {
            overflow: auto
        }
    }

    table.tbl--lrg {
        
        table-layout: fixed
        width: auto

        tr {
            thead th {
                font-size: ($table-head-font-size - .15)
            }
            th,
            td {
                padding: rem-calc(3 4)
                vertical-align: middle
                white-space: normal
            }
            td {
                padding-left: rem-calc(5)
                padding-right: rem-calc(5)
                font-size: ($table-row-font-size - .1)
            }
        }
    }
}

//
// @styles
//
if $include-html-table-classes {
    table {
        table()
    }

    // Large tables
    large-table()

}
