// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-media-thumbs-classes =         com_css.THUMBS

// border styles
$thumb-border-style ?=                       solid
$thumb-border-width ?=                       4px
$thumb-border-color ?=                       $white
$thumb-border-color-hover ?=                 $primary-color
$thumb-box-shadow ?=                         0 0 0 1px rgba($black,.2)
$thumb-box-shadow-hover ?=                   0 0 6px 1px rgba($primary-color,0.5)

// Radius and transition speed for thumbs
$thumb-radius ?=                             $global-radius
$thumb-transition-speed ?=                   300ms


//
// @mixins
//

// We use this to create image thumbnail styles.
//
// $border-width - Width of border around thumbnail. Default: $thumb-border-width.
// $box-shadow - Box shadow to apply to thumbnail. Default: $thumb-box-shadow.
// $box-shadow-hover - Box shadow to apply on hover. Default: $thumb-box-shadow-hover.
thumb($border-width = $thumb-border-width, $box-shadow = $thumb-box-shadow, $box-shadow-hover = $thumb-box-shadow-hover) {
    border: $thumb-border-style $border-width $thumb-border-color
    box-shadow: $box-shadow
    display: inline-block
    line-height: 0
    max-width: 100%

    &:hover,
    &:focus {
        border-color: $thumb-border-color-hover
        box-shadow: $box-shadow-hover
    }
}


//
// @styles
//
if $include-html-media-thumbs-classes {

    /* Image Thumbnails */
    .th {
        thumb()
        single-transition(all, $thumb-transition-speed,ease-out)

        &--rad {
            radius($thumb-radius)
        }
    }
}