// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source
// toolbar styles

@require '_global'

//
// @variables
//

$include-html-toolbar-classes =             com_css.TOOLBAR

$toolbar-bg ?=                              $charcoal-1
$toolbar-tab-bg-hover ?=                    rgba($white, .1)
$toolbar-label-color ?=                     $gray-medium-2
$toolbar-i-color ?=                         $gray-medium-2

//
// @styles
//

if $include-html-toolbar-classes  {
    .toolbar {
        background: $toolbar-bg
        display: inline-block
        font-size: 0
        width: 100%

        shadow-elevation('appbar')

        &--label-bottom .tab .tab-content {
            i,
            img {
                margin-bottom: 10px
            }
        }

        &--label-right .tab .tab-content {
            i,
            img {
                margin-right: 10px
                display: inline-block
            }
            label {
                display: inline-block
            }
        }

        &--vert.toolbar--label-right .tab .tab-content {
            text-align: left
        }

        &--vert {
            height: 100%
            width: auto

            .tab {
                float: none
                margin: auto
                width: auto
            }
        }
        
        .tab {
            display: block
            float: left
            margin: 0 auto
            padding: 20px
            text-align: center
            width: 25%

            &:hover {
                background: $toolbar-tab-bg-hover
            }
        }
    }       
            
    .toolbar .tab-content {
        font-size: 16px
        text-align: center

        label {
            color: $toolbar-label-color
        }

        i {
            color: $toolbar-i-color
            display: block
            font-size: 30px
            margin: 0 auto
            vertical-align: middle
        }

        img {
            display: block
            height: 30px
            margin: 0 auto
            width: 30px
        }
    }
}