// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require '_global'

//
// @variables
//

$include-html-type-classes =        com_css.TYPE

// header font styles
$header-font-family ?=               $font-family-headings
$header-font-weight ?=               $font-weight-bold
$header-font-style ?=                normal
$header-font-color ?=                $font-color-title
$header-line-height ?=               (32 / 24)
$header-top-margin ?=                remify(.2rem)
$header-bottom-margin ?=             remify(.5rem)
$header-text-rendering ?=            optimizeLegibility

// header font families -  we may have different font families for higher level headings
$h1-font-family ?=                   $font-family-headings
$h2-font-family ?=                   $font-family-headings
$h3-font-family ?=                   $font-family-headings

// header font sizes
$h1-font-size ?=                     fontsize(2.4rem)
$h2-font-size ?=                     fontsize(2rem)
$h3-font-size ?=                     fontsize(1.2rem)
$h4-font-size ?=                     fontsize(1rem)
$h5-font-size ?=                     fontsize(.9rem)
$h6-font-size ?=                     fontsize(.8rem)

// header font sizes
$h1-line-height ?=                   (40 / 34)
$h2-line-height ?=                   (32 / 24)
$h3-line-height ?=                   (28 / 16)

// header size reduction on small screens
$h1-font-reduction ?=                remify(.2rem)
$h2-font-reduction ?=                remify(.2rem)
$h3-font-reduction ?=                remify(.1rem)
$h4-font-reduction ?=                remify(.1rem)
$h5-font-reduction ?=                0
$h6-font-reduction ?=                0

// header font colors
$h1-font-color ?=                     $primary-color
$h2-font-color ?=                     $header-font-color
$h3-font-color ?=                     $header-font-color
$h4-font-color ?=                     $header-font-color
$h5-font-color ?=                     $header-font-color
$h6-font-color ?=                     $header-font-color

// header font weights
$h1-font-weight ?=                    $font-weight-normal
$h2-font-weight ?=                    $font-weight-normal
$h3-font-weight ?=                    $header-font-weight
$h4-font-weight ?=                    $header-font-weight
$h5-font-weight ?=                    $header-font-weight
$h6-font-weight ?=                    $header-font-weight

// These control how subheaders are styled.
$subheader-line-height ?=            (24 / 16)
$subheader-font-color ?=             $font-color-subheading
$subheader-font-weight ?=            $font-weight-normal
$subheader-top-margin ?=             remify(.2rem)
$subheader-bottom-margin ?=          remify(.5rem)


// A general <small> styling
$small-font-size ?=                  fontsize(.8rem)
$small-font-color ?=                 $font-color-caption

// style paragraphs
$paragraph-font-family ?=            inherit
$paragraph-font-weight ?=            $font-weight-normal
$paragraph-font-size ?=              fontsize(1rem)
$paragraph-line-height ?=            unit((24 / ($ref-font-size * 10)), '') // = 24px / 14px
$paragraph-margin-bottom ?=          rem-calc(20)
$paragraph-max-width ?=              rem-calc(600)
$paragraph-aside-font-size ?=        rem-calc(14)
$paragraph-aside-line-height ?=      ($paragraph-line-height - .5)
$paragraph-aside-font-style ?=       italic
$paragraph-text-rendering ?=         optimizeLegibility

// lead font sizes
$lead-font-size ?=                   ($paragraph-font-size + .3rem)
$lead-line-height ?=                 ($paragraph-line-height + .2)

// lead font sizes
$aside-font-size ?=                  ($paragraph-font-size - .2rem)
$aside-line-height ?=                ($paragraph-line-height - .15)
$aside-font-color ?=                 $font-color-secondary

// style <code> tags
$code-color ?=                       $font-color-body
$code-font-family ?=                 $font-family-monospace
$code-font-size ?=                   fontsize(.9rem)
$code-font-weight ?=                 $font-weight-normal
$code-background-color ?=            scale-color($secondary-color, 70%)
$code-border-size ?=                 1px
$code-border-style ?=                solid
$code-border-color ?=                scale-color($code-background-color, -10%)
$code-padding ?=                     (rem-calc(2) rem-calc(5) rem-calc(1))

// style anchors
$anchor-text-decoration ?=           none
$anchor-text-decoration-hover ?=     none
$anchor-font-color ?=                $primary-color
$anchor-font-color-hover ?=          scale-color($anchor-font-color, -15%)

// style the <hr> element
$hr-border-width ?=                  1px
$hr-border-style ?=                  solid
$hr-border-color ?=                  $separator-color
$hr-margin ?=                        rem-calc(20)

// style lists
$list-font-family ?=                     $paragraph-font-family
$list-font-size ?=                       $paragraph-font-size
$list-line-height ?=                     $paragraph-line-height
$list-margin-bottom ?=                   $paragraph-margin-bottom
$list-style-position ?=                  outside
$list-side-margin ?=                     rem-calc(20)
$list-ordered-side-margin ?=             rem-calc(20)
$list-side-margin-no-bullet ?=           0
$list-nested-margin ?=                   rem-calc(20)
$definition-list-header-weight ?=        $font-weight-bold
$definition-list-header-margin-bottom ?= rem-calc(5)
$definition-list-header-text-transform ?= uppercase
$definition-list-margin-bottom ?=        rem-calc(10)

// style blockquotes
$blockquote-font-color ?=                $font-color-caption
$blockquote-padding ?=                   rem-calc(9 20 0 19)
$blockquote-border ?=                    1px solid $separator-color
$blockquote-cite-font-size ?=            rem-calc(13)
$blockquote-cite-font-color ?=           $font-color-caption
$blockquote-cite-link-color ?=           $blockquote-cite-font-color

// Acronym styles
$acronym-underline ?=                    1px dotted $gray-medium-1

// padding and margin
$microformat-padding ?=                  rem-calc(10 12)
$microformat-margin ?=                   rem-calc(0 0 20 0)

// the border styles
$microformat-border-width ?=             1px
$microformat-border-style ?=             solid
$microformat-border-color ?=             $separator-color

// full name font styles
$microformat-fullname-font-weight ?=     $font-weight-bold
$microformat-fullname-font-size ?=       rem-calc(15)

// the summary font styles
$microformat-summary-font-weight ?=      $font-weight-bold

// abbr padding
$microformat-abbr-padding ?=             rem-calc(0 1)

// abbr font styles
$microformat-abbr-font-weight ?=         $font-weight-bold
$microformat-abbr-font-decoration ?=     none

// Text alignment class names
$align-class-names = (small-only small medium-only medium large-only large xlarge-only xlarge xxlarge-only xxlarge)

// Text alignment breakpoints
$align-class-breakpoints = $small-only, $small-up, $medium-only, $medium-up, $large-only, $large-up, $xlarge-only, $xlarge-up, $xxlarge-only, $xxlarge-up

//
// @mixins
//

// Generates text align and justify classes
align-classes() {
    .text-left    {
        text-align: left !important
    }
    .text-right   {
        text-align: right !important
    }
    .text-center  {
        text-align: center !important
    }
    .text-justify {
        text-align: justify !important
    }

    for $i in 1..length($align-class-names) {
        @media $align-class-breakpoints[$i] {
            .{$align-class-names[$i]}-text-left {
                text-align: left !important
            }
            .{$align-class-names[$i]}-text-right {
                text-align: right !important
            }
            .{$align-class-names[$i]}-text-center {
                text-align: center !important
            }
            .{$align-class-names[$i]}-text-justify {
                text-align: justify !important
            }
        }
    }
}

//
// Typography Placeholders
//

// These will throw a deprecation warning if used within a media query.
lead() {
    font-size: $lead-font-size
    line-height: $lead-line-height
}

// These will throw a deprecation warning if used within a media query.
aside() {
    color: $aside-font-color
    font-size: $aside-font-size
    line-height: $aside-line-height
}

subheader() {
    color: $subheader-font-color
    fontweight($subheader-font-weight)
    line-height: $subheader-line-height
    margin-bottom: $subheader-bottom-margin
    margin-top: $subheader-top-margin
}

//
// @styles
//

if $include-html-type-classes {
    // Responsive Text alignment
    align-classes()

    /* Typography resets */
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    form,
    p,
    blockquote,
    th,
    td {
        margin: 0
        padding: 0
    }

    /* Default Link Styles */
    a {
        color: $anchor-font-color
        line-height: inherit
        text-decoration: $anchor-text-decoration

        &:hover,
        &:focus {
            color: $anchor-font-color-hover
            if ($anchor-text-decoration-hover != $anchor-text-decoration) {
                text-decoration: $anchor-text-decoration-hover
            }
        }

        img {
            border:none
        }
    }

    /* Default paragraph styles */
    p {
        font-size: $paragraph-font-size
        fontweight($paragraph-font-weight)
        font_family($paragraph-font-family)
        line-height: $paragraph-line-height
        margin-bottom: $paragraph-margin-bottom
        if ($paragraph-max-width) {
            max-width: $paragraph-max-width
        }
        text-rendering: $paragraph-text-rendering

        & aside {
            font-size: $paragraph-aside-font-size
            font-style: $paragraph-aside-font-style
            line-height: $paragraph-aside-line-height
        }
    }
    // Leader paragraph
    p.lead,
    .lead p {
        lead()
    }
    // Smaller paragraph
    p.aside,
    .aside p {
        aside()
    }

    /* Default header styles */
    h1, h2, h3, h4, h5, h6 {
        font-style: $header-font-style
        font_family($header-font-family)
        line-height: $header-line-height
        margin-bottom: $header-bottom-margin
        margin-top: $header-top-margin
        text-rendering: $header-text-rendering

        small {
            color: $small-font-color
            font-size: $small-font-size
            line-height: 0
        }
    }

    h1 {
        color: $h1-font-color
        font-size: ($h1-font-size - $h1-font-reduction)
        fontweight($h1-font-weight)
        font_family($h1-font-family)
        line-height: $h1-line-height
    }
    h2 {
        color: $h2-font-color
        font-size: ($h2-font-size - $h2-font-reduction)
        fontweight($h2-font-weight)
        font_family($h2-font-family)
        line-height: $h2-line-height
    }
    h3 {
        color: $h3-font-color
        font-size: ($h3-font-size - $h3-font-reduction)
        fontweight($h3-font-weight)
        font_family($h3-font-family)
        line-height: $h3-line-height
    }
    h4 {
        color: $h4-font-color
        font-size: ($h4-font-size - $h4-font-reduction)
        fontweight($h4-font-weight)
    }
    h5 {
        color: $h5-font-color
        font-size: ($h5-font-size - $h5-font-reduction)
        fontweight($h5-font-weight)
    }
    h6 {
        color: $h6-font-color
        font-size: ($h6-font-size - $h6-font-reduction)
        fontweight($h6-font-weight)
    }

    .subheader {
        subheader()
    }

    hr {
        border: $hr-border-style $hr-border-color
        border-width: $hr-border-width 0 0
        clear: both
        height: 0
        margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width))
    }

    /* Helpful Typography Defaults */
    em, i {
        font-style: italic
        line-height: inherit
    }

    strong, b {
        fontweight($font-weight-bold)
        line-height: inherit
    }

    small {
        font-size: $small-font-size
        line-height: inherit
    }
    caption,
    figcaption {
        font-size: $small-font-size
        line-height: inherit
    }

    code,
    kbd,
    pre,
    samp {
        background-color: $code-background-color
        border-color: $code-border-color
        border-style: $code-border-style
        border-width: $code-border-size
        color: $code-color
        font-size: $code-font-size
        fontweight($code-font-weight)
        font_family($code-font-family)
        padding: $code-padding
    }

    /* Lists */
    ul,
    ol,
    dl {
        font-size: $list-font-size
        font_family($list-font-family)
        line-height: $list-line-height
        list-style-position: $list-style-position
        margin-bottom: $list-margin-bottom
    }

    ul {
        margin-{$default-float}: $list-side-margin
    }

    /* Unordered Lists */
    ul {
        li {
            ul,
            ol {
                margin-bottom: 0
                margin-{$default-float}: $list-nested-margin
            }
        }
        &.square,
        &.circle,
        &.disc {
            li ul {
                list-style: inherit
            }
        }

        &.square {
            list-style-type: square
            margin-{$default-float}: $list-side-margin
        }
        &.circle {
            list-style-type: circle
            margin-{$default-float}: $list-side-margin
        }
        &.disc {
            list-style-type: disc
            margin-{$default-float}: $list-side-margin
        }
        &.no-bullet {
            list-style: none
        }
    }

    /* Ordered Lists */
    ol {
        margin-{$default-float}: $list-ordered-side-margin
        li {
            ul,
            ol {
                margin-bottom: 0
                margin-{$default-float}: $list-nested-margin
            }
        }
    }

    // Lists without bullets
    &.no-bullet {
        margin-{$default-float}: $list-side-margin-no-bullet
        li {
            ul,
            ol {
                list-style: none
                margin-bottom: 0
                margin-{$default-float}: $list-nested-margin
            }
        }
    }

    /* Definition Lists */
    dl {
        dt {
            fontweight($definition-list-header-weight)
            margin-bottom: $definition-list-header-margin-bottom
            text-transform: $definition-list-header-text-transform
        }
        dd {
            margin-bottom: $definition-list-margin-bottom
        }
    }

    /* Abbreviations */
    abbr,
    acronym {
        color: $body-font-color
        cursor: $cursor-help-value
        font-size: 90%
        text-transform: uppercase
    }
    abbr {
        text-transform: none
        &[title] {
            border-bottom: $acronym-underline
        }
    }

    /* Blockquotes */
    blockquote {
        margin: 0 0 $paragraph-margin-bottom
        padding: $blockquote-padding
        border-{$default-float}: $blockquote-border

        cite {
            color: $blockquote-cite-font-color
            display: block
            font-size: $blockquote-cite-font-size
            &:before {
                content: '\2014 \0020'
            }

            a,
            a:visited {
                color: $blockquote-cite-link-color
            }
        }
    }
    blockquote,
    blockquote p {
        color: $blockquote-font-color
        line-height: $paragraph-line-height
    }

    /* Microformats */
    .vcard {
        border: $microformat-border-width $microformat-border-style $microformat-border-color
        display: inline-block
        margin: $microformat-margin
        padding: $microformat-padding

        li {
            display: block
            margin: 0
        }
        .fn {
            font-size: $microformat-fullname-font-size
            fontweight($microformat-fullname-font-weight)
        }
    }

    .vevent {
        .summary {
            font-weight: $microformat-summary-font-weight
        }

        abbr {
            border: none
            cursor: $cursor-default-value
            fontweight($microformat-abbr-font-weight)
            padding: $microformat-abbr-padding
            text-decoration: $microformat-abbr-font-decoration
        }
    }

    // Classes for coloring
    .text {
        &--white {
            color: $white
        }
        &--darker {
            color: $gray-darker-2
        }
        &--primary {
            color: $primary-color
        }
        if $include-primary-2-color-styles {
            &--primary-2 {
                color: $primary-2-color
            }
        }
        &--secondary {
            color: $secondary-color
        }
        &--success {
            color: $success-color
        }
        &--info {
            color: $info-color
        }
        &--alert {
            color: $alert-color
        }
        &--warning {
            color: $warning-color
        }
    }

    .bg {
        &--primary {
            background-color: $primary-color
            color: $white
            &.bg--outline {
                border-color: $primary-color
                background-color: $white
            }
        }
        if $include-primary-2-color-styles {
            &--primary-2 {
                background-color: $primary-2-color
                color: $white
                &.bg--outline {
                    border-color: $primary-2-color
                    background-color: $white
                }
            }
        }
        &--secondary {
            background-color: $secondary-color
            color: $white
            &.bg--outline {
                border-color: $secondary-color
                background-color: $white
            }
        }
        &--info {
            background-color: $info-color
            color: $white
            &.bg--outline {
                border-color: $info-color
                background-color: $white
            }
        }
        &--success {
            background-color: $success-color
            color: $white
            &.bg--outline {
                border-color: $success-color
                background-color: $white
            }
        }
        &--warning {
            background-color: $warning-color
            color: $white
            &.bg--outline {
                border-color: $warning-color
                background-color: $white
            }
        }
        &--alert {
            if (light($alert-color)) {
                background-color: $alert-color
            } else {
                background-color: $warning-font-color
            }
            color: $white
            &.bg--outline {
                if (light($alert-color)) {
                    border-color: $alert-color
                } else {
                    border-color: $warning-font-color
                }
                background-color: $white
            }
        }
        &--outline {
            border-style: solid
            border-width: 2px
        }
    }

    +mediaquery($medium-up) {
        h1, h2, h3, h4, h5, h6 {
            line-height: $header-line-height
        }
        h1 {
            font-size: $h1-font-size
        }
        h2 {
            font-size: $h2-font-size
        }
        h3 {
            font-size: $h3-font-size
        }
        h4 {
            font-size: $h4-font-size
        }
        h5 {
            font-size: $h5-font-size
        }
        h6 {
            font-size: $h6-font-size
        }
    }

    // Only include these styles if you want them.
    if $include-print-styles {
        /*
        * Print styles.
        *
        * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
        * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
        */
        @media print {
            * {
                background: transparent !important
                color: $black !important /* Black prints faster: h5bp.com/s */
                box-shadow: none !important
                text-shadow: none !important
            }

            // Prevent extra page from being added
            html,
            body {
              height: auto
            }

            a,
            a:visited {
                text-decoration: underline
            }
            a[href]:after {
                content: " (" attr(href) ")"
            }

            abbr[title]:after {
                content: " (" attr(title) ")"
            }

            // Don't show links for images, or javascript/internal links
            .ir a:after,
            a[href^="javascript:"]:after,
            a[href^="#"]:after {
                content: ""
            }
            pre,
            blockquote {
              border: 1px solid $gray-base
              page-break-inside: avoid
            }
            thead {
                display: table-header-group /* h5bp.com/t */
            }
            tr,
            img {
                page-break-inside: avoid
            }
            img {
                max-width: 100% !important
            }
            @page { 
                margin: $print-margin
            }
            p,
            h2,
            h3 {
              orphans: 3
              widows: 3
            }
            h2,
            h3 {
                page-break-after: avoid
            }
        }
    }
} // EOF - if $include-html-type-classes