// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-dropdown-classes =            com_js.DROPDOWN

// controls height and width styles.
$f-dropdown-max-width ?=                     200px
$f-dropdown-height ?=                        auto
$f-dropdown-max-height ?=                    none

// Used for bottom position
$f-dropdown-margin-top ?=                    2px

// Used for right position
$f-dropdown-margin-left ?=                   $f-dropdown-margin-top

// Used for left position
$f-dropdown-margin-right ?=                  $f-dropdown-margin-top

// Used for top position
$f-dropdown-margin-bottom ?=                 $f-dropdown-margin-top

// the background color
$f-dropdown-bg ?=                            $white

// set the border styles for dropdowns.
$f-dropdown-border-style ?=                  solid
$f-dropdown-border-width ?=                  1px
$f-dropdown-border-color ?=                  darken($white, 20%)

// style the triangle pip.
$f-dropdown-triangle-size ?=                 6px
$f-dropdown-triangle-color ?=                $white
$f-dropdown-triangle-side-offset ?=          10px

// styles for the list elements.
$f-dropdown-list-style ?=                    none
$f-dropdown-font-color ?=                    $gray-darker-2
$f-dropdown-font-family ?=                   $font-family-custom
$f-dropdown-font-weight ?=                   $font-weight-bold
$f-dropdown-font-color-hover ?=              $primary-color
$f-dropdown-font-color-active ?=             $primary-color
$f-dropdown-font-size ?=                     fontsize(1rem)
$f-dropdown-list-padding ?=                  rem-calc(5 10)
$f-dropdown-line-height ?=                   rem-calc(18)
$f-dropdown-list-hover-bg ?=                 $gray-light-1  
$dropdown-mobile-default-float ?=            0

// the styles for when the dropdown has custom content.
$f-dropdown-content-padding ?=               rem-calc(20)

// Default radius for dropdown.
$f-dropdown-radius ?=                        $global-radius


//
// @mixins
//
//
// NOTE: Make default max-width change between list and content types. Can add more width with classes, maybe .small, .medium, .large, etc.
// We use this to style the dropdown container element.
// $content-list - Sets list-style. Default: list. Options: [list, content]
// $triangle - Sets if dropdown has triangle. Default:true.
// $max-width - Default: $f-dropdown-max-width || 200px.
dropdown-container($content = list, $triangle = true, $max-width = $f-dropdown-max-width) {
    position: absolute
    left: -(9999px)
    list-style: $f-dropdown-list-style
    margin-{$default-float}: 0
    // outline: none // should be used in :focus only

    & > *:first-child {
        margin-top: 0
    }
    & > *:last-child {
        margin-bottom: 0
    }

    if ($content == list) {
        width: 100%
        max-height: $f-dropdown-max-height
        height: $f-dropdown-height
        background: $f-dropdown-bg
        border: $f-dropdown-border-style $f-dropdown-border-width $f-dropdown-border-color
        font-size: $f-dropdown-font-size
        z-index: $zindex-dropdown
    } else if ($content == content) {
        padding: $f-dropdown-content-padding
        width: 100%
        height: $f-dropdown-height
        max-height: $f-dropdown-max-height
        background: $f-dropdown-bg
        border: $f-dropdown-border-style $f-dropdown-border-width $f-dropdown-border-color
        font-size: $f-dropdown-font-size
        z-index: $zindex-dropdown
    }

    if ($triangle == bottom) {
        margin-top: $f-dropdown-margin-top

        &:before {
            css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, bottom)
            position: absolute
            top: -($f-dropdown-triangle-size * 2)
            {$default-float}: $f-dropdown-triangle-side-offset
            z-index: $zindex-dropdown
        }
        &:after {
            css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, bottom)
            position: absolute
            top: -(($f-dropdown-triangle-size + 1) * 2)
            {$default-float}: ($f-dropdown-triangle-side-offset - 1)
            z-index: ($zindex-dropdown - 1)
        }

        &.right:before {
            {$default-float}: auto
            {$opposite-direction}: $f-dropdown-triangle-side-offset
        }
        &.right:after {
            {$default-float}: auto
            {$opposite-direction}: ($f-dropdown-triangle-side-offset - 1)
        }
    }

    if ($triangle == $default-float) {
        margin-top: 0
        margin-{$default-float}: $f-dropdown-margin-right

        &:before {
            css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, ($opposite-direction))
            position: absolute
            top: $f-dropdown-triangle-side-offset
            {$default-float}: -($f-dropdown-triangle-size * 2)
            z-index: $zindex-dropdown
        }
        &:after {
            css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, ($opposite-direction))
            position: absolute
            top: $f-dropdown-triangle-side-offset - 1
            {$default-float}: -(($f-dropdown-triangle-size * 2) - 2)
            z-index: ($zindex-dropdown - 1)
        }

    }

    if ($triangle == $opposite-direction) {
        margin-top: 0
        margin-{$default-float}: -($f-dropdown-margin-right)

        &:before {
            css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, ($default-float))
            position: absolute
            top: $f-dropdown-triangle-side-offset
            {$opposite-direction}: -($f-dropdown-triangle-size * 2)
            {$default-float}: auto
            z-index: $zindex-dropdown
        }
        &:after {
            css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, ($default-float))
            position: absolute
            top: ($f-dropdown-triangle-side-offset - 1)
            {$opposite-direction}: -(($f-dropdown-triangle-size * 2) - 2)
            {$default-float}: auto
            z-index: ($zindex-dropdown - 1)
        }

    }

    if ($triangle == top) {
        margin-top: -($f-dropdown-margin-bottom)
        margin-left: 0

        &:before {
            css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, top)
            position: absolute
            top: auto
            bottom: -($f-dropdown-triangle-size * 2)
            {$default-float}: $f-dropdown-triangle-side-offset
            {$opposite-direction}: auto
            z-index: $zindex-dropdown
        }
        &:after {
            css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, top)
            position: absolute
            top: auto
            bottom: -(($f-dropdown-triangle-size * 2) - 2)
            {$default-float}: ($f-dropdown-triangle-side-offset - 1)
            {$opposite-direction}: auto
            z-index: ($zindex-dropdown - 1)
        }

    }

    if $max-width {
        max-width: $max-width
    } else {
        max-width: $f-dropdown-max-width
    }

}

// @MIXIN
//
// We use this to style the list elements or content inside the dropdown.

dropdown-style() {
    font-size: $f-dropdown-font-size
    
    line-height: $f-dropdown-line-height
    margin: 0
    cursor: $cursor-pointer-value

    &:hover,
    &:focus {
        background-color: $f-dropdown-list-hover-bg
        outline: none
        > a,
        > a:hover {
            color: $f-dropdown-font-color-hover
        }
    }

    &--radius {
        radius($f-dropdown-radius)
    }

    > a {
        display: block
        padding: $f-dropdown-list-padding
        color: $f-dropdown-font-color
        font_family($f-dropdown-font-family)
        font-weight: $f-dropdown-font-weight
        text-transform: uppercase
        
        &.is-active,
        &.is-selected {
            cursor: $cursor-default-value
            color: $f-dropdown-font-color-active
        }
    }
}

// +exports("dropdown") {
    if $include-html-dropdown-classes {

        /* Foundation Dropdowns */
        .f-dropdown {
            dropdown-container(list, bottom)

            &.drop--{$opposite-direction} {
                dropdown-container(list, $default-float)
            }

            &.drop--{$default-float} {
                dropdown-container(list, $opposite-direction)
            }

            &.drop--top {
                dropdown-container(list, top)
            }
            // max-width: none

            > li {
                dropdown-style()
            }

            // You can also put custom content in these dropdowns
            &.content {
                dropdown-container(content, $triangle:false)
            }

            // Sizes
            &--tiny    {
                max-width: 200px
            }
            &--small   {
                max-width: 300px
            }
            &--medium  {
                max-width: 500px
            }
            &--large   {
                max-width: 800px
            }
            &--mega    {
                width: 100%!important
                max-width: 100%!important

                &.is-open{
                    left: 0!important
                }
            }
        }

    }
// }