// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-media-flexvideo-classes =               com_css.FLEXVIDEO

// video container padding and margins
$flex-video-padding-top ?=                   rem-calc(25)
$flex-video-padding-bottom ?=                67.5%
$flex-video-margin-bottom ?=                 rem-calc(16)

// widescreen bottom padding
$flex-video-widescreen-padding-bottom ?=     56.34%


//
// @mixins
//

flex-video-container() {
    position: relative
    padding-top: $flex-video-padding-top
    padding-bottom: $flex-video-padding-bottom
    height: 0
    margin-bottom: $flex-video-margin-bottom
    overflow: hidden

    &--widescreen {
        padding-bottom: $flex-video-widescreen-padding-bottom
    }
    &--vimeo {
        padding-top: 0
    }

    iframe,
    object,
    embed,
    video {
        position: absolute
        top: 0
        {$default-float}: 0
        width: 100%
        height: 100%
    }
}

//
// @styles
//

if $include-html-media-flexvideo-classes {
    .flex-video {
        flex-video-container()
    }
}
