// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"
@require "_buttons"
@require "_alerts"


//
// @MIXINS
//

// We use this mixin to give us form styles for rows inside of forms
form-row-base() {
    .row {
        margin: 0 ((-($form-spacing)) / 2)

        .column,
        .columns {
            padding: 0 ($form-spacing / 2)
        }

        // Use this to collapse the margins of a form row
        &.collapse {
            margin: 0

            .column,
            .columns {
                padding: 0
            }
            input {
                side-radius($opposite-direction, 0)
            }

        }
    }
    input.column,
    input.columns,
    textarea.column,
    textarea.columns {
        padding-{$default-float}: ($form-spacing / 2)
    }
}

// @MIXIN
//
// We use this mixin to give all basic form elements their style
form-element() {
    display: block
    margin: 0 0 $form-spacing 0
    padding: ($form-spacing / 2)
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1))
    width: 100%
    font_family($input-font-family)
    font_size($input-font-size)
    font-weight: $input-font-weight
    color: $input-font-color
    background-color: $input-bg-color
    border-style: $input-border-style
    border-width: $input-border-width
    border-color: $input-border-color
    border-bottom-color: $edge = lighten($input-border-color, 45%)
    border-right-color: $edge    
    box-shadow: $input-box-shadow
    
    box-sizing(border-box)
    if $input-include-glowing-effect {
        block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color)
    }
    // Basic focus styles
    &:focus {
        background: $input-focus-bg-color
        border-color: $input-focus-border-color
        outline: none
    }
    // Disbaled Styles
    &:disabled {
        background-color: $input-disabled-bg
        cursor: $input-disabled-cursor
    }

    // Disabled background input background color
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $input-disabled-bg
        cursor: $input-disabled-cursor
    }
}

// @MIXIN
//
// We use this mixin to create form labels
//
// $alignment - Alignment options. Default: false. Options: [right, inline, false]
// $base-style - Control whether or not the base styles come through. Default: true.
form-label($alignment = false, $base-style = true) {

    // Control whether or not the base styles come through.
    if $base-style {
        font_size($form-label-font-size)
        color: $form-label-font-color
        cursor: $form-label-pointer
        display: block
        font-weight: $form-label-font-weight
        line-height: $form-label-line-height
        margin-bottom: $form-label-bottom-margin
        padding-bottom: $form-label-bottom-padding
        text-transform: uppercase

    }

    // Alignment options
    if ($alignment == right) {
        float: none !important
        text-align: right
    }
    else if ($alignment == inline) {
        margin: 0 0 $form-spacing 0
        padding: ($form-spacing / 2 + rem-calc($input-border-width)) 0
    }
}

// We use this mixin to create postfix/prefix form Labels
prefix-postfix-base() {
    display: block
    position: relative
    z-index: 2
    text-align: center
    width: 100%
    padding-top: 0
    padding-bottom: 0
    border-style: $input-prefix-border-type
    border-width: $input-prefix-border-size
    overflow: $input-prefix-overflow
    font_size($form-label-font-size)
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1))
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1))
}

// @MIXIN
//
// We use this mixin to create prefix label styles
// $bg - Default:$input-prefix-bg || scale-color($white, $lightness: -5%) !default
// $is-button - Toggle position settings if prefix is a button. Default:false
//
prefix($bg = $input-prefix-bg, $border = $input-prefix-border-color, $is-button = false) {

    if $bg {
        background: $bg
        border-{$opposite-direction}: none

        // Control the font color based on background brightness
        if (light($bg) || $bg == yellow) {
            color: $input-prefix-font-color
        } else {
            color: $input-prefix-font-color-alt
        }
    }

    if $border {
        border-color: $border
    }

    if $is-button {
        padding-{$default-float}: 0
        padding-{$opposite-direction}: 0
        padding-top: 0
        padding-bottom: 0
        text-align: center
        line-height: rem-calc(34)
        border: none
    }

}

// @MIXIN
//
// We use this mixin to create postfix label styles
// $bg - Default:$input-prefix-bg || scale-color($white, $lightness: -5%) !default
// $is-button - Toggle position settings if prefix is a button. Default: false
postfix($bg = $input-prefix-bg, $border = $input-prefix-border-color, $is-button = false) {

    if $bg {
        background: $bg
        border-{$default-float}: none

        // Control the font color based on background brightness
        if (light($bg) || $bg == yellow) {
            color: $input-prefix-font-color
        } else {
            color: $input-prefix-font-color-alt
        }
    }

    if $border {
        border-color: $border
    }

    if $is-button {
        padding-{$default-float}: 0
        padding-{$opposite-direction}: 0
        padding-top: 0
        padding-bottom: 0
        text-align: center
        line-height: rem-calc(34)
        border: none
    }

}

// We use this mixin to style fieldsets
fieldset() {
    display: inline-block
    padding: $fieldset-padding
    margin: $fieldset-margin
    background: $fieldset-bg-color
    border: $fieldset-border-width $fieldset-border-style darken($fieldset-bg-color,3%)

    // and legend styles
    legend {
        padding: $legend-padding
        margin: 0
        margin-{$default-float}: -(rem-calc(3))
        font-weight: $legend-font-weight
        color: $legend-font-color
        background: $legend-bg
    }
}

// @MIXIN
//
// We use this mixin to control border and background color of error inputs
// $color - Default: $alert-color (found in settings file)
form-error-color($color = $alert-color) {
    border-color: $color
    background-color: rgba($color, 0.1)

    // Go back to normal on focus
    &:focus {
        background: $input-focus-bg-color
        border-color: $input-focus-border-color
    }
}

// @MIXIN
//
// We use this simple mixin to style labels for error inputs
// $color - Default:$alert-color. Found in settings file
form-label-error-color($color = $alert-color) {
    color: $color
}

// @MIXIN
//
// We use this mixin to create error message styles
// $bg - Default: $alert-color (Found in settings file)
form-error-message($bg = $input-error-message-bg-color) {
    // Load critical alert style
    alert-style($bg: lighten($alert-color, 80%), $font-color: $alert-font-color-critical, $border-color: $critical-color)

    display: block
    padding: $input-error-message-padding
    margin-top: $input-error-message-top
    margin-bottom: $form-spacing
    font_size($input-error-message-font-size)
    font-weight: $input-error-message-font-weight
    font-style: $input-error-message-font-style

    // background: $bg
    // if (light($bg) || $bg == yellow) {
    //     color: $input-error-message-font-color
    // } else {
    //     color: $input-error-message-font-color-alt
    // }

}

// We use this mixin to style select elements
form-select()  {
    -webkit-appearance: none !important
    background-color: $white

    // Hide the dropdown arrow shown in newer IE versions
    &::-ms-expand {
        display: none
    }

    // The custom arrow have some fake horizontal padding so we can align it
    // from the right side of the element without relying on CSS3
    // background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+')

    svg-background($file:'arrows_down.svg', $stroke:$input-font-color, $stroke-hover:$input-font-color-hover, $stroke-width:$svg-stroke-width-small)

    padding: ($form-spacing / 2)
    line-height: normal
    font_size($input-font-size)
    font_family($body-font-family)
    font-weight: $input-font-weight
    color: $input-font-color
    border-longhand($width:$input-border-width,$style:$input-border-style,$color:$input-border-color)
    border-top-color: $edge = darken($fieldset-bg-color, 4%)
    border-left-color: $edge
    box-shadow: 1px 1px 1px $select-shadow-color
    cursor: $cursor-pointer-value
    border-radius: 0
    &.radius {
        radius($global-radius)
    }
    &:hover {
        color: $input-font-color-hover
        background-color: $select-hover-bg-color
        border-bottom-color: $input-focus-border-color
        border-right-color: $input-focus-border-color
        border-top-color: $edge = darken($fieldset-bg-color, 7%)
        border-left-color: $edge
        box-shadow: 1px 1px 1px $select-shadow-color-hover
    }
    if $input-include-glowing-effect {
        block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color)
    }
    // Basic focus styles
    &:focus {
        background: $input-focus-bg-color
        border-color: $input-focus-border-color
        outline: none
    }
    // Disabled Styles
    &:disabled {
        background-color: $input-disabled-bg
        opacity: 0.5
        cursor: $input-disabled-cursor
        border-style: dotted
        &:hover {
            color: $input-font-color
            border-color: $input-border-color
            border-top-color: $edge = darken($fieldset-bg-color, 4%)
            border-left-color: $edge
            box-shadow: 1px 1px 1px $select-shadow-color
        }
    }
}

// We use this mixin to turn on/off HTML5 number spinners
html5number($browser, $on = true) {
    if ($on==false) {
        if ($browser==webkit) {
            -webkit-appearance: none
            margin: 0
        } else if ($browser==moz) {
            -moz-appearance: textfield
        }
    }
}

// +exports("form") {
    if $include-html-form-classes {
        /* Standard Forms */
        form {
            margin: 0 0 $form-spacing
        }

        /* Using forms within rows, we need to set some defaults */
        form .row {
            form-row-base()
        }

        /* Label Styles */
        label {
            form-label()
            &.right {
                form-label(right,false)
            }
            &.inline {
                form-label(inline,false)
            }
            /* Styles for required inputs */
            small {
                text-transform: $form-label-small-transform
                color: lighten($form-label-font-color, 15%)
            }
        }

        /* Attach elements to the beginning or end of an input */
        .prefix,
        .postfix {
            prefix-postfix-base() 
        }

        /* Adjust padding, alignment and radius if pre/post element is a button */
        .postfix.btn {
            button-size(false,false)
            postfix(false, false, true)
        }
        .prefix.btn {
            button-size(false,false)
            prefix(false, false, true)
        }

        .prefix.btn.btn--radius {
            radius(0)
            side-radius($default-float, $button-radius)
        }
        .postfix.btn.btn--radius {
            radius(0)
            side-radius($opposite-direction, $button-radius)
        }
        .prefix.btn.btn--round {
            radius(0)
            side-radius($default-float, $button-round)
        }
        .postfix.btn.btn--round {
            radius(0)
            side-radius($opposite-direction, $button-round)
        }

        /* Separate prefix and postfix styles when on span or label so buttons keep their own */
        span.prefix,
        label.prefix {
            prefix()
        }
        span.postfix,
        label.postfix {
            postfix()
        }

        /* We use this to get basic styling on all basic form elements */
        {unquote(join(', ', text-inputs(all, 'input')))} {
            -webkit-appearance: none
            -webkit-border-radius: 0px
            form-element()
            if ($input-include-glowing-effect == false) {
                single-transition(all, 0.15s, linear)
            }
            &--radius {
                radius($input-border-radius)
            }
        }
        textarea {
            form-element()
            height: auto
        }

        form {
            .row {
                .prefix--radius.row.collapse {
                    input,
                    textarea,
                    select {
                        radius(0)
                        side-radius($opposite-direction, $button-radius)
                    }
                    .prefix {
                        radius(0)
                        side-radius($default-float, $button-radius)
                    }
                }
                .postfix--radius.row.collapse {
                    input,
                    textarea,
                    select {
                        radius(0)
                        side-radius($default-float, $button-radius)
                    }
                    .postfix {
                        radius(0)
                        side-radius($opposite-direction, $button-radius)
                    }
                }
                .prefix--round.row.collapse {
                    input,
                    textarea,
                    select {
                        radius(0)
                        side-radius($opposite-direction, $button-round)
                    }
                    .prefix {
                        radius(0)
                        side-radius($default-float, $button-round)
                    }
                }
                .postfix--round.row.collapse {
                    input,
                    textarea,
                    select {
                        radius(0)
                        side-radius($default-float, $button-round)
                    }
                    .postfix {
                        radius(0)
                        side-radius($opposite-direction, $button-round)
                    }
                }
            }
        }

        input[type="submit"] {
            -webkit-appearance: none
            -webkit-border-radius: 0px
            antialiased()
        }

        /* Respect enforced amount of rows for textarea */
        textarea[rows] {
            height: auto
        }

        /* Not allow resize out of parent */
        textarea {
            max-width: 100%
        }

        /* Add height value for select elements to match text input height */
        select {
            form-select()
            height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1))
            antialiased()
        }

        /* Adjust margin for form elements below */
        input[type="file"],
        input[type="checkbox"],
        input[type="radio"],
        select {
            margin: 0 0 $form-spacing 0
        }

        input[type="checkbox"],
        input[type="radio"] {
            visibility: hidden
            opacity: 0
            position: absolute
        }

        input[type="checkbox"] + label,
        input[type="radio"] + label {
            position: relative
            display: inline-block
            margin-{$default-float}: $form-spacing * .5
            margin-{$opposite-direction}: $form-spacing
            margin-bottom: ($form-spacing * .5) // 0
            padding-bottom: 0
            padding-left: ($input-checkbox-width * 1.5)
            font-weight: $form-label-ui-font-weight
            font_size($input-font-size)
            text-transform: none
            color: $input-font-color
            vertical-align: baseline
            cursor: pointer
            &::-moz-selection,
            &::selection {
                background: transparent
            }
            &:before {
                display: inline-block
                width: $input-checkbox-width
                height: $input-checkbox-width
                position: absolute
                left: 0px
                top: ceil((pxify($form-label-line-height+$font-size-normalization) - $input-checkbox-width) / 2) 
                // margin-right: ($w * 2)
                background-color: $input-checkbox-bg
                border: $input-checkbox-inner-padding solid $input-checkbox-bg // is actually our inner padding
                border-top-color: darken($input-checkbox-bg, 6%)
                content: ""
                box-shadow: 0 0 0 $input-checkbox-border-width $input-checkbox-border-color // is actually our border
                single-transition(all)
            }
            &:hover {
                color: darken($input-font-color, 10%)
                &:before {
                    background-color: $input-checkbox-bg-hover
                    box-shadow: 0 0 0 $input-checkbox-border-width $input-checkbox-border-color-hover 
                }
            }
        }
        input[type="radio"] + label:before {
            radius(1000px)
        }
        input[type="radio"]:checked + label,
        input[type="checkbox"]:checked + label {
            &:before {
                background-color: $input-checkbox-bg-checked
                border-top-color: $input-checkbox-bg, 10%
                box-shadow: 0 0 0 $input-checkbox-border-width $input-checkbox-border-color-checked
                text-align: center
            }
            &:hover::before {
                background-color: $input-checkbox-bg-checked
            }
        }

        /* Normalize file input width */
        input[type="file"] {
            width:100%
        }

        /* HTML5 Number spinners settings */
        input[type=number] {
            html5number(moz, $input-number-spinners)
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            html5number(webkit, $input-number-spinners)
        }

        /* We add basic fieldset styling */
        fieldset {
            fieldset()
        }

        /* Error Handling */

        {data('abide')} {
            .error small.error,
            .error span.error,
            span.error,
            small.error {
                form-error-message()
            }
            span.error,
            small.error {
                display: none
            }
        }

        span.error,
        small.error {
            form-error-message()
        }

        .error {
            input,
            textarea,
            select {
                form-error-color($input-error-message-bg-color)
                margin-bottom: 0
            }

            input[type="checkbox"],
            input[type="radio"] {
                margin-bottom: $form-spacing
            }

            label,
            label.error {
                form-label-error-color($input-error-message-font-color)
            }

            small.error {
                form-error-message()
            }

            & > label {
                & > small {
                    color: lighten($form-label-font-color, 15%)
                    background: transparent
                    padding: 0
                    margin: 0
                    text-transform: $form-label-small-transform
                    font-style: normal
                    font_size(0.75rem)
                    display: inline
                }
            }

            span.error-message {
                display: block
            }
        }

        input.error,
        textarea.error,
        select.error {
            margin-bottom: 0
        }
        label.error {
            form-label-error-color()
        }
    }
// }