// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-inline-list-classes ?=         $include-html-classes

// the margins and padding of the inline list.
$inline-list-top-margin ?=                   0
$inline-list-opposite-margin ?=              0
$inline-list-bottom-margin ?=                rem-calc(17)
$inline-list-default-float-margin ?=         -(rem-calc(22))
$inline-list-default-float-list-margin ?=    rem-calc(22)

$inline-list-padding ?=                      0

// the overflow of the inline list.
$inline-list-overflow ?=                     hidden

// the list items
$inline-list-display ?=                      block

// any elements within list items
$inline-list-children-display ?=             inline-block


//
// @mixins
//
// We use this mixin to create inline lists
inline-list() {
    margin: $inline-list-top-margin auto $inline-list-bottom-margin auto
    margin-{$default-float}: $inline-list-default-float-margin
    margin-{$opposite-direction}: $inline-list-opposite-margin
    padding: $inline-list-padding
    list-style: none
    overflow: $inline-list-overflow

    & > li {
        list-style: none
        float: $default-float
        margin-{$default-float}: $inline-list-default-float-list-margin
        display: $inline-list-display
        & > * {
            display: $inline-list-children-display
        }
    }
}

// +exports("inline-list") {
    if $include-html-inline-list-classes {
        .inline-list {
            inline-list()
        }
    }
// }
