// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-label-classes ?=               $include-html-classes

// style the labels
$label-padding ?=                            rem-calc(5 8)
$label-radius ?=                             $global-radius

// style the label text
$label-font-sizing ?=                        0.75
$label-font-weight ?=                        $font-weight-bold
$label-text-transform ?=                     uppercase
$label-font-color ?=                         $charcoal-1
$label-font-color-alt ?=                     $white
$label-font-family ?=                        $font-family-headings

$badge-padding ?=                            rem-calc(3 5)
$badge-radius ?=                             $global-radius
$badge-font-sizing ?=                        0.75
$badge-font-weight ?=                        $font-weight-bold
$badge-font-color ?=                         $white
$badge-font-color-alt ?=                     $charcoal-1
$badge-hover-color ?=                        $badge-font-color
$badge-active-color ?=                       $charcoal-1
$badge-active-bg ?=                          $badge-font-color


//
// @mixins
//
// We use this mixin to create a default label base.
label-base() {
    display: inline-block
    position: relative
    margin-bottom: 0
    min-width: 10px
    line-height: 1
    font-weight: $label-font-weight
    font_family($label-font-family)
    text-align: center
    text-decoration: none
    if ($label-text-transform != false) {
        text-transform: $label-text-transform
    }
    vertical-align: baseline
    white-space: nowrap
}

// @mixins
//
// We use this mixin to add label size styles.
// $padding - Used to determine label padding. Default: $label-padding || rem-calc(3 10 4) !default
// $text-size - Used to determine label text-size. Default: $text-size found in settings
label-size($padding = $label-padding, $text-size = $label-font-sizing) {
    if $padding {
        padding: $padding
    }
    if $text-size {
        font_size($text-size)
    }
}

// @mixins
//
// We use this mixin to add label styles.
// $bg - Default: $primary-color (found in settings file)
// $radius - Default: false, Options: true, sets radius to $global-radius (found in settings file)
label-style($bg = $gray-base, $radius = false, $font-color = $label-font-color, $border-color = false ) {

    // We control which background color comes through
    if $bg {
        background-color: $bg
        // We control the text color for you based on the background color.
        if ($font-color == $label-font-color) {
            color: (lightness($bg) > 75%) ? $font-color : $label-font-color-alt
        } else {
            color: $font-color
        }
    }

    // We use this to control the radius on labels.
    if ($radius == true) {
        radius($label-radius)
    } else if $radius {
        radius($radius)
    }

    // add border or not
    if $border-color{
        border: 1px solid $border-color
    }

}

// @mixins
//
// We use this to add close buttons to alerts
// $padding - Default: $label-padding,
// $text-size - Default: $label-font-sizing,
// $bg - Default: $primary-color(found in settings file)
// $radius - Default: false, Options: true which sets radius to $global-radius (found in settings file)
label($padding = $label-padding, $text-size = $label-font-sizing, $bg = $primary-color, $radius = false) {
    label-base()
    label-size($padding, $text-size)
    label-style($bg, $radius)
}

// +exports("label") {
    if $include-html-label-classes {
        .lbl {
            label-base()
            label-size()
            label-style()

            // Empty badges collapse automatically (not available in IE8)
            &:empty {
                display: none
            }

            // Label Variants
            &--radius {
                label-style(false, true)
            }
            &--round {
                label-style(false, $radius:1000px)
            }

            &--success {
                label-style($success-color)
            }
            &--primary {
                label-style($primary-color)
            }
            &--info {
                label-style($info-color)
            }
            &--alert {
                label-style($bg:$alert-color, $font-color:$critical-font-color)
            }
            &--warning {
                label-style($bg:$warning-color, $font-color:$warning-font-color)
            }
            
            // inverted Label (transparent bg, but border)
            &--inverted {
                label-style($bg:transparent, $font-color:$gray-base, $border-color: $gray-base)
            }

            // Badges
            &--badge {
                label-size($padding:$badge-padding)
                label-style(false, $radius:1000px)
            }

            // Hover state, but only for links
            a& {
                &:hover,
                &:focus {
                  color: $badge-hover-color
                  text-decoration: none
                  cursor: pointer
                }
            }

            // Account for badges in navs
            .list-group-item.active > &,
            .nav-pills > .active > a > & {
                color: $badge-active-color
                background-color: $badge-active-bg
            }
            .list-group-item > & {
                float: right
            }
            .list-group-item > & + & {
                margin-right: rem-calc(5)
            }
            .nav-pills > li > a > & {
                margin-left: rem-calc(3)
            }
        }
    }
// }