// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-pagination-classes ?=               $include-html-classes

// the pagination container
$pagination-height ?=                        rem-calc(20)
$pagination-margin ?=                        -(rem-calc(5))

// set the list-item properties
$pagination-li-float ?=                      $default-float
$pagination-li-height ?=                     rem-calc(20)
$pagination-li-font-color ?=                 $gray-dark-1
$pagination-li-font-size ?=                  fontsize(1rem)
$pagination-li-margin ?=                     0 // rem-calc(1)

// We use these for the pagination anchor links
$pagination-link-pad ?=                      rem-calc(0 10)
$pagination-link-font-color ?=               $pagination-li-font-color
$pagination-link-bg ?=                       none // rgba($black,0.1)
$pagination-font-size ?=                     fontsize(1rem)
$pagination-font-family ?=                   $font-family-custom
$pagination-link-boxshadow ?=                false // 0 1px 1px rgba($black,0.1)
$pagination-link-border ?=                   rgba($black,0.1)
$pagination-link-border-width ?=             0 1px 0 0
$pagination-link-active-bg ?=                $primary-color
$pagination-link-hover-color ?=              $white
$pagination-link-hover-boxshadow ?=          false // 1px 1px 1px rgba($black,0.25)
$pagination-link-hover-border ?=             $white // rgba(0,0,0,0.1)

// We use these for disabled anchor links
$pagination-link-unavailable-cursor ?=       $cursor-disabled-value
$pagination-link-unavailable-font-color ?=   $gray-medium-1
$pagination-link-unavailable-bg-active ?=    none

// We use these for currently selected anchor links
$pagination-link-current-background ?=       $primary-color
$pagination-link-current-font-color ?=       $white
$pagination-link-current-font-weight ?=      $font-weight-bold
$pagination-link-current-cursor ?=           $cursor-default-value
$pagination-link-current-active-bg ?=        $primary-color


// @mixins
//
// Style the pagination container. Currently only used when centering elements.
// $center - Default: false, Options: true
pagination-container($center = false) {
    if $center {
        text-align: center
    }
}

// @mixins
// Style unavailable list items
pagination-unavailable-item() {
    a,
    button {
        cursor: $pagination-link-unavailable-cursor
        color: $pagination-link-unavailable-font-color
    }
    &:hover a,
    & a:focus,
    &:hover button,
    & button:focus { 
        if $pagination-link-border {
            border-color: $pagination-link-border
        }        
        background: $pagination-link-unavailable-bg-active 
    }
}
// @mixins
// Style the current list item. Do not assume that the current item has
// an anchor <a> element.
// $has-anchor - Default: true, Options: false
pagination-current-item($has-anchor = true) {
    if $has-anchor {
        a,
        button {
            background: $pagination-link-current-background
            color: $pagination-link-current-font-color
            font-weight: $pagination-link-current-font-weight
            cursor: $pagination-link-current-cursor
            
            &:hover,
            &:focus {
                background: $pagination-link-current-active-bg
                border-color: $pagination-link-current-background
            }
        }
    } else {
        height: auto
        padding: $pagination-link-pad
        background: $pagination-link-current-background
        color: $pagination-link-current-font-color
        font-weight: $pagination-link-current-font-weight
        cursor: $pagination-link-current-cursor
        radius(0)

        &:hover,
        &:focus {
            background: $pagination-link-current-active-bg
        }
    }
}

// @mixins
//
// We use this mixin to set the properties for the creating Foundation pagination
// $center - Left or center align the li elements. Default: false
// $base-style - Sets base styles for pagination. Default: true, Options: false
// $use-default-classes - Makes unavailable & current classes available for use. Default: true
pagination($center = false, $base-style = true, $use-default-classes = true) {

    if $base-style {
        display: inline-block
        min-height: $pagination-height
        margin: 0
        margin-{$default-float}: $pagination-margin

        li {
            line-height: $pagination-li-height
            color: $pagination-li-font-color
            font-size: $pagination-li-font-size
            margin-{$default-float}: $pagination-li-margin

            a,
            button {
                display: block
                padding: $pagination-link-pad
                color: $pagination-link-font-color
                background: $pagination-link-bg
                font_family($pagination-font-family)
                font-size: $pagination-font-size
                font-weight: normal
                line-height: inherit
                text-transform: uppercase
                if $pagination-link-border {
                    border:1px solid $pagination-link-border
                    border-width: $pagination-link-border-width
                }
                if ($pagination-link-boxshadow != false) {
                    box-shadow: $pagination-link-boxshadow
                }
                radius(0)
                single-transition(background-color)
                single-transition(box-shadow)
            }
            
            &:first-child a,
            &:first-of-type a,
            &:first-child button,
            &:first-of-type button {
                if ($pagination-link-border != false) {
                    border-left: none
                }
            }
            &:last-child a,
            &:last-of-type a,
            &:last-child button,
            &:last-of-type button {
                if ($pagination-link-border != false) {
                    border-right:none
                }
                if ($pagination-link-boxshadow != false) {
                    box-shadow: 1px 1px 1px $pagination-link-border
                }
                
            }
            
            &:hover a,
            a:focus,
            &:hover button,
            button:focus {
                background: $pagination-link-active-bg
                color: $pagination-link-hover-color
                if $pagination-link-hover-border {
                    border-color: $pagination-link-hover-border
                }
                if $pagination-link-hover-boxshadow {            
                    box-shadow: $pagination-link-hover-boxshadow
                }
            }

            if $use-default-classes {
                &.is-disabled {
                    pagination-unavailable-item()
                }
                &.is-current {
                    pagination-current-item()
                }
            }
            
            // Icons for previous and next links
            {$is-svg-support} & {
                &.is-icononly {
                    a {
                        font-size: 0
                        text-indent: -(9999em)
                    }
                    &.pager__prev {
                        padding-right: 0
                    }
                    &.pager__next {
                        padding-left: 0
                    }
                }
                // &.pager__prev a,
                // &.pager__next a {
                //     height: $pagination-li-height
                //     padding: $pagination-link-pad
                // }
                &.pager__prev a {
                    padding-left: rem-calc(30)
                    svg-background($file:'arrows_left.svg', $size:rem-calc(18), $stroke-width:$svg-stroke-width-small, $stroke:$pagination-link-font-color, $stroke-hover:$pagination-link-hover-color, $position-x:left)
                }
                &.pager__next a {
                    padding-right: rem-calc(30)
                    svg-background($file:'arrows_right.svg', $size:rem-calc(18), $stroke-width:$svg-stroke-width-small, $stroke:$pagination-link-font-color, $stroke-hover:$pagination-link-hover-color, $position-x:right)
                }
                
            }
            
        }
    }

    // Left or center align the li elements
    li {
        if $center {
            float: none
            display: inline-block
        } else {
            float: $pagination-li-float
            display: block
        }
    }
}

// +exports("pagination") {
    if $include-pagination-classes {
        ul.pager {
            pagination()
        }

        /* Pagination centred wrapper */
        .pager-centered {
            pagination-container(true)

            ul.pager {
                pagination(true, false)
            }
        }
    }
// }