// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-pricing-classes =             com_css.PRICINGTABLES

// the border color
$price-table-border ?=                       solid 1px $gray-medium-1

// the bottom margin of the pricing table
$price-table-margin-bottom ?=                rem-calc(20)

// the title styles
$price-title-bg ?=                           $charcoal-1
$price-title-padding ?=                      rem-calc(15 20)
$price-title-align ?=                        center
$price-title-color ?=                        $gray-light-3
$price-title-weight ?=                       $font-weight-normal
$price-title-size ?=                         rem-calc(16)
$price-title-font-family ?=                  $body-font-family

// the price styles
$price-money-bg ?=                           $gray-lighter-3  
$price-money-padding ?=                      rem-calc(15 20)
$price-money-align ?=                        center
$price-money-color ?=                        $charcoal-1
$price-money-weight ?=                       $font-weight-normal
$price-money-size ?=                         rem-calc(32)
$price-money-font-family ?=                  $font-family-headings

// the description styles
$price-bg ?=                                 $white
$price-desc-color ?=                         $gray-dark-3
$price-desc-padding ?=                       rem-calc(15)
$price-desc-align ?=                         center
$price-desc-font-size ?=                     rem-calc(12)
$price-desc-weight ?=                        $font-weight-normal
$price-desc-line-height ?=                   1.4
$price-desc-bottom-border ?=                 dotted 1px $gray-medium-1

// the list item styles
$price-item-color ?=                         $charcoal-1
$price-item-padding ?=                       rem-calc(15)
$price-item-align ?=                         center
$price-item-font-size ?=                     rem-calc(14)
$price-item-weight ?=                        $font-weight-normal
$price-item-bottom-border ?=                 dotted 1px $gray-medium-1

// the CTA area styles
$price-cta-bg ?=                             $white
$price-cta-align ?=                          center
$price-cta-padding ?=                        rem-calc(20 20 0)

// Specific prices
$price-line-height ?=                       1.3
$price-old-font-family ?=                   $font-family-custom
$price-old-font-size ?=                     fontsize(0.8rem)
$price-old-font-weight ?=                   $font-weight-bold
$price-old-color ?=                         $gray-darker-2
$price-old-decoration ?=                    line-through
$price-base-font-family ?=                  $body-font-family
$price-base-font-weight ?=                  $font-weight-normal
$price-special-font-family ?=               $font-family-custom
$price-special-font-size ?=                 fontsize(1.5rem)
$price-special-font-weight ?=               $font-weight-bold
$price-special-color ?=                     $primary-color
$price-special-decoration ?=                none
$price-minimal-font-size ?=                 $price-special-font-size
$price-label-font-weight ?=                 $font-weight-normal
$price-label-font-size ?=                   fontsize(0.8rem) // scale factor based on related price
$price-label-text-transform ?=              uppercase

// @mixins
//
// create the container element for the pricing tables
pricing-table-container() {
    border: $price-table-border
    margin-{$default-float}: 0
    margin-bottom: $price-table-margin-bottom

    & * {
        list-style: none
        line-height: 1
    }
}
// @mixins
//
// create the pricing table title styles
pricing-table-title() {
    background-color: $price-title-bg
    padding: $price-title-padding
    text-align: $price-title-align
    color: $price-title-color
    font-weight: $price-title-weight
    font-size: $price-title-size
    font_family($price-title-font-family)
}

// @mixins
//
// control the pricing table price styles
pricing-table-price() {
    background-color: $price-money-bg
    padding: $price-money-padding
    text-align: $price-money-align
    color: $price-money-color
    font-weight: $price-money-weight
    font-size: $price-money-size
    font_family($price-money-font-family)
}

// @mixins
//
// create the description styles for the pricing table
pricing-table-description() {
    background-color: $price-bg
    padding: $price-desc-padding
    text-align: $price-desc-align
    color: $price-desc-color
    font-size: $price-desc-font-size
    font-weight: $price-desc-weight
    line-height: $price-desc-line-height
    border-bottom: $price-desc-bottom-border
}

// @mixins
//
// style the bullet items in the pricing table
pricing-table-bullet() {
    background-color: $price-bg
    padding: $price-item-padding
    text-align: $price-item-align
    color: $price-item-color
    font-size: $price-item-font-size
    font-weight: $price-item-weight
    border-bottom: $price-item-bottom-border
}

// @mixins
//
// style the CTA area of the pricing tables
pricing-table-cta() {
    background-color: $price-cta-bg
    text-align: $price-cta-align
    padding: $price-cta-padding
}

//
// @styles
//

if $include-html-pricing-classes {

    /* Pricing Tables */
    .pricing-table {
        pricing-table-container()

        .title {
            pricing-table-title()
        }
        .price {
            pricing-table-price()
        }
        .description {
            pricing-table-description()
        }
        .bullet-item {
            pricing-table-bullet()
        }
        .cta-button {
            pricing-table-cta()
        }
    }

    // Price-Boxes
    .price-box {
        text-align: right

        .price {
            display: block
            line-height: $price-line-height
            font_family($price-special-font-family)
            font-size: $price-special-font-size
            font-weight: $price-special-font-weight
            color: $price-special-color
            margin: 0

            &--total {
                //color: $price-special-color
            }
            &--special,
            &--minimal {
                text-decoration: $price-special-decoration
            }
            &--old {
                //font_family($price-old-font-family)
                font-size: $price-old-font-size
                font-weight: $price-old-font-weight
                color: $price-old-color
                text-decoration: $price-old-decoration
            }
            &--base {
                font_family($price-base-font-family)
                font-size: ($price-old-font-size - 0.1)
                font-weight: $price-base-font-weight
                color: $price-old-color
                letter-spacing: 0
            }

            // Price labels (e.g. uvp, from)
            &__label {
                margin-right: rem-calc(4)
                font-size: $price-label-font-size // Fallback font size
                font-weight: $price-label-font-weight
                text-transform: $price-label-text-transform
                &--uvp { }
                &--special,
                &--minimal { }
            }
        }
    }
}