@require "_global"
@require "_buttons"
@require "_ribbons"
@require "_pricing-tables"

//
// @variables
//

$include-html-productlist-classes ?=             $include-html-classes

$product-list-padding ?=                         rem-calc(20)
$product-list-bg ?=                              $gray-lighter-3

$product-list-item-padding ?=                    rem-calc(10)
$product-grid-item-padding ?=                    rem-calc(0 10 10 10)
$product-list-item-margin ?=                     rem-calc(8 0)
$product-grid-item-margin ?=                     rem-calc(16)
$product-list-item-bg ?=                         $white
$product-list-item-bg-hover ?=                   darken($product-list-bg,10%) // transparent
$product-list-item-border-width ?=               2px
$product-list-item-border-style ?=               solid
$product-list-item-border-color ?=               transparent
$product-list-item-border-hover-color ?=         transparent
$product-list-item-box-shadow-hover ?=           false // 0 0 10px rgba($black, 0.2)

$product-list-img-bg ?=                          $white
$product-list-img-padding ?=                     rem-calc(5 10)
$product-grid-img-margin ?=                      rem-calc(0 0 10 0)
$product-list-img-margin ?=                      rem-calc(0 15 0 0)
$product-grid-img-height ?=                      120px
$product-list-img-height ?=                      120px
$product-list-img-width ?=                       $product-list-img-height

$product-list-title-font-family ?=               $font-family-custom
$product-grid-title-font-size ?=                 fontsize(0.9rem)
$product-list-title-font-size ?=                 fontsize(1rem)
$product-list-title-color ?=                     $gray-darker-3
$product-list-title-color-hover ?=               $primary-color
$product-list-title-font-weight ?=               $font-weight-bold
$product-list-title-line-height ?=               1.1
$product-grid-title-row-count ?=                 3 // <- how many lines should be visible?
$product-grid-title-height ?=                    round($product-grid-title-font-size*$product-grid-title-row-count*$product-list-title-line-height)
$product-list-title-padding ?=                   0
$product-list-title-margin ?=                    rem-calc(0 0 10 0)
$product-grid-title-margin ?=                    rem-calc(0 0 2 0)

$product-list-manu-font-size ?=                  fontsize(0.8rem) // 0.9rem, if we do not use uppercase transform
$product-list-manu-color ?=                      $gray-dark-1
$product-grid-manu-font-weight ?=                $font-weight-normal
$product-list-manu-font-weight ?=                $font-weight-normal
$product-grid-manu-height ?=                     round($product-list-manu-font-size*$product-list-title-line-height)
$product-grid-manu-text-transform ?=             uppercase
$product-list-manu-text-transform ?=             $product-grid-manu-text-transform

$product-list-desc-margin ?=                     rem-calc(0 0 20 0)
$product-grid-desc-margin ?=                     rem-calc(0 0 5 0)
$product-list-desc-padding ?=                    0
$product-grid-desc-padding ?=                    0
$product-list-desc-font-family ?=                $font-family-custom
$product-list-desc-font-size ?=                  fontsize(0.9rem)
$product-grid-desc-font-size ?=                  fontsize(0.8rem)
$product-list-desc-line-height ?=                $product-list-title-line-height
$product-grid-desc-row-count ?=                  4 // <- how many lines should be visible?
$product-grid-desc-height ?=                     round($product-grid-desc-font-size*$product-list-desc-line-height*$product-grid-desc-row-count)
$product-list-desc-color ?=                      $gray-dark-3
$product-list-desc-color-hover ?=                $gray-darker-3

$product-list-opts-line-height ?=                1.3
$product-list-opts-font-family ?=                $font-family-custom
$product-list-opts-font-size ?=                  fontsize(0.75rem)
$product-list-opts-font-weight ?=                $font-weight-normal
$product-list-opts-color ?=                      $gray-darker-3
$product-list-opts-item-padding ?=               rem-calc(2 10)
$product-list-opts-item-margin ?=                rem-calc(0 4 4 0)
$product-list-opts-item-bg ?=                    $white
$product-list-opts-item-selected-bg ?=           $gray-dark-3
$product-list-opts-item-border ?=                1px solid rgba($black, 0.15)
$product-list-opts-item-border-width ?=          0 1px 1px 0
$product-list-opts-item-border-hover ?=          rgba($black, 0.15)
$product-list-opts-label-padding ?=              rem-calc(2 0)
$product-list-opts-label-margin ?=               rem-calc(0 10 5 0)
$product-list-opts-label-border ?=               false // 1px solid rgba($black, 0.15)
$product-list-opts-label-bg ?=                   transparent
$product-list-opts-label-color ?=                $gray-darker-1

$product-list-opts-link-color ?=                 $charcoal-1
$product-list-opts-link-font-size ?=             fontsize(0.8rem)
$product-list-opts-link-color-hover ?=           $charcoal-2
$product-list-opts-link-bg-hover ?=              $gray-light-3

$product-grid-pricebox-height ?=                 round(($price-special-font-size*$price-line-height)+($price-old-font-size*$price-line-height))
$product-grid-pricebox-padding ?=                0
$product-grid-pricebox-margin ?=                 rem-calc(3 0)
$product-list-button-size ?=                     $button-sml
$product-list-button-pseudo-size ?=              rem-calc(20) // needed for container height calculation. 20 = tiny button, 27 = small button
$product-list-button-bg-hover ?=                 $primary-color
$product-list-button-color ?=                    $gray-dark-1
$product-list-button-ico-size ?=                 rem-calc(18)
$product-list-button-ico-color ?=                $product-list-button-color
$product-list-button-ico-color-hover ?=          $white

$product-list-ribbon-offset-top ?=               ($product-list-item-padding + rem-calc(5))

$product-grid-sml-font-size ?=                   fontsize(0.8rem)
$product-grid-sml-img-height ?=                  rem-calc(50)


//
// @mixins
//
// Mixins for product listings pages e.g. categories in ecommerce

prd-opts() {
    text-transform: uppercase
    line-height: $product-list-opts-line-height
    font_family($product-list-opts-font-family)
    font-weight: $product-list-opts-font-weight
    color: $product-list-opts-color

    .lbl {
        float: none // left
        margin: $product-list-opts-label-margin
        padding: $product-list-opts-label-padding
        line-height: $product-list-opts-line-height
        if ($product-list-opts-label-border) {
            border: $product-list-opts-label-border
        }
        background-color: $product-list-opts-label-bg
        color: $product-list-opts-label-color
        font-size: $product-list-opts-font-size
    }

    ul {
        margin: 0
        list-style-type: none
        li {
            list-style-type: none
            display: inline-block
            padding: $product-list-opts-item-padding
            margin: $product-list-opts-item-margin
            background: $product-list-opts-item-bg

            font-size: $product-list-opts-font-size
            
            &:first-child {
                margin-left: 0
            }
            &.is-disabled {
                opacity: 0.5
            }
            &.is-selected {      
                a, a:hover {
                    border-color: transparent
                    background-color: $product-list-opts-item-selected-bg
                    color: $white
                    cursor: $cursor-default-value
                }
            }
            a {
                display: inline-block
                padding: $product-list-opts-item-padding
                font-size: $product-list-opts-link-font-size
                color: $product-list-opts-link-color
                if ($product-list-opts-item-border) {
                    border: $product-list-opts-item-border
                    border-width: $product-list-opts-item-border-width
                }
                &:hover {
                    if $product-list-opts-link-bg-hover {
                        background: $product-list-opts-link-bg-hover
                    }
                    color: $product-list-opts-link-color-hover
                }
            }
        }
    }
    // simple option info list without links inside
    .lst--plain li {
        border-{$opposite-direction}: $product-list-opts-item-border
    }
}

//
// @styles
//

if $include-html-productlist-classes {
    
    // Wrapper (ul)
    .prdlist {
        clearfix()
        padding: $product-list-padding
        margin: 0
        background-color: $product-list-bg
        
            
        // List item (li)
        .prd {
            position: relative
            list-style-type: none
            margin: 0
            padding: $product-list-item-padding
            background-color: $product-list-item-bg
            if ($product-list-item-border) {
                border-longhand($width:$product-list-item-border-width,$style:$product-list-item-border-style,$color:$product-list-item-border-color)
            }
            z-index: 1

            &__inner {
                // clearfix()
            }

            &__link {
                // clearfix()
                display: block

                &:hover {
                    .btn {
                        background-color: $product-list-button-bg-hover
                        svg-background($file:'arrows_right.svg', $size:$product-list-button-ico-size, $stroke-width:$svg-stroke-width-small, $stroke:$product-list-button-ico-color-hover, $stroke-hover:$product-list-button-ico-color-hover)
                    }
                }
            }
            // Images (wrapper)
            &__img {
                display: block
                background: $product-list-img-bg
                padding: $product-list-img-padding
                margin: $product-grid-img-margin
                width: auto
                height: $product-grid-img-height
                line-height: $product-grid-img-height
                text-align: center

                img {
                    padding: 0
                    margin: 0
                    max-height: 100%
                    border: none
                }
            }

            // Product Manufacturer (optional)
            &__brand {
                display: block
                padding: 0
                margin: 0
                line-height: $product-list-title-line-height
                overflow: hidden
                color: $product-list-manu-color
                font_family($product-list-title-font-family)
                font-size: $product-list-manu-font-size
                font-weight: $product-grid-manu-font-weight
                text-transform: $product-grid-manu-text-transform
            }

            // Product title (h3)
            &__title {
                display: block
                margin: $product-list-title-margin
                padding: $product-list-title-padding
                line-height: $product-list-title-line-height
                color: $product-list-title-color 
                font_family($product-list-title-font-family)
                font-size: $product-grid-title-font-size
                font-weight: $product-list-title-font-weight
                text-decoration: none
                text-transform: uppercase
                overflow: hidden
            }
            a:hover .prd__title {
                color: $product-list-title-color-hover
                single-transition(color,$ease:ease)
            }

            &__sdesc,
            &__sdesc p {
                margin: $product-list-desc-margin
                padding: $product-list-desc-padding
                font_family($product-list-desc-font-family)
                font-size: $product-list-desc-font-size
                color: $product-list-desc-color
                line-height: $product-list-desc-line-height
            }

            // Buttons
            .btn {
                margin-bottom: 0
                &__details {
                    button-size($padding:$product-list-button-size)
                    button-flat($font-color:$product-list-button-color)
                    svg-background($file:'arrows_right.svg', $size:$product-list-button-ico-size, $stroke-width:$svg-stroke-width-small, $stroke:$product-list-button-ico-color, $stroke-hover:$product-list-button-ico-color-hover, $position-x:center)
                }
            }

            .ribbon {
                top: $product-list-ribbon-offset-top
            }

            // sorty ribbons if we have more than one ribbon
            &--special.prd--new {
                .ribbon--primary,
                .ribbon--special {
                    top: ($product-list-ribbon-offset-top + rem-calc(32))
                }
            }

            &:hover {
                background-color: $product-list-item-bg-hover
                overflow: visible
                border-color: $product-list-item-border-hover-color
                if $product-list-item-box-shadow {
                    box-shadow: $product-list-item-box-shadow-hover
                }
                single-transition($speed:300ms)
            
                .prd__sdesc,
                .prd__sdesc p {
                    color: $product-list-desc-color-hover
                    single-transition(color)
                }
            }

        } // eof .product

        // GRID VIEW
        // In grid-view, some elements like title and price-box have a fixed height, to achieve a symmetric position of all items!
        &--grid {
            .prd {
                margin: $product-list-item-margin
                padding: 0
                
                @media $small-up {
                    col(1/2, cycle:2)
                }
                @media $medium-up {
                    col(1/3, uncycle:2, cycle:3)
                }
                @media $large-up {
                    col(1/4, uncycle:3, cycle:4)
                }
                @media $small-only {
                    span(1/1)
                }

                &__link {
                    padding: $product-grid-item-padding
                }

                &__img {
                    @media $small-only {
                        col(1/3)
                    }
                }

                &__brand {
                    @media $medium-up {
                        height: ($product-grid-manu-height - remify(0.1rem))
                    }
                }
                &__title {
                    margin: $product-grid-title-margin
                    @media $medium-up {
                        height: ($product-grid-title-height - remify(0.1rem))
                        overflow: hidden
                    }
                }
                &__brand,
                &__title {
                    @media $small-only {
                        col(2/3)
                    } 
                }
                &__sdesc {
                    margin: $product-grid-desc-margin
                    padding: $product-grid-desc-padding
                    font-size: $product-grid-desc-font-size
                    @media $medium-up {
                        height: ($product-grid-desc-height - remify(0.1rem))
                        overflow: hidden
                    }
                }

                .price-box {
                    @media $medium-up {
                        height: $product-grid-pricebox-height
                    }
                    @media $small-only {
                        span(1/3)
                        text-align: right
                    }
                    padding: $product-grid-pricebox-padding
                    margin: $product-grid-pricebox-margin
                }

                .btn {
                    font-size: 0
                    text-indent: -(9999em)
                    width: $product-grid-pricebox-height
                    height: $product-grid-pricebox-height
                    float: left
                }
            }

            // SMALLER GRID VIEW (e.g. in MINICARTS, PROMO-BOXES a.so.)
            &--sml {
                .prd {
                    &__title,
                    &__sdesc,
                    &__brand,
                    .price-box {
                        height: auto
                        font-size: $product-grid-sml-font-size
                    }
                    &__img {
                        height: $product-grid-sml-img-height
                        line-height: $product-grid-sml-img-height
                    }
                    .price,
                    .price--special {
                        font-size: inherit
                    }
                }
            }
        }

        // LIST VIEW
        &--line {
            .prd {
                clear: both
                padding: 0
                margin: $product-list-item-margin

                &.first,
                &:first-of-type,
                &:first-child {
                    margin-top: 0
                }
                &.last,
                &:last-of-type,
                &:last-child {
                    margin-bottom: 0
                }

                &__link {
                    padding: $product-list-item-padding
                }

                // Wrapper for img, manufacturer, title and shortdesc
                &__info {
                    @media $medium-up {
                        col(3/4, gutter:0)
                    }
                }

                &__img {
                    margin: $product-list-img-margin
                    margin-left :0
                    width: $product-list-img-width
                    height: $product-list-img-height
                    line-height: ($product-list-img-height - 10px)
                    float: left
                }
                
                &__brand {
                    display: block
                    font-weight: $product-list-manu-font-weight
                    text-transform: $product-list-manu-text-transform
                }
                &__title {
                    display: block
                    font-size: $product-list-title-font-size
                }

                &__sdesc {
                    // display: block
                }

                .price-box {
                    @media $medium-up {
                        col(1/4, gutter:0)
                        margin-right: 0
                        float: right
                        text-align: right
                    }
                    @media $small-only {
                        span(1/1)
                        text-align: right
                    }
                }

                .btn {

                    text-align: center
                    svg-background($file:false, $position-x:right)

                    @media $medium-up {
                        // col(1/4,gutter:0)
                        padding-right: (2*$product-list-button-ico-size)
                        position: absolute
                        margin-right: 0
                        right: $product-list-item-padding
                        bottom: $product-list-item-padding
                        color: $product-list-item-bg // hides text in normal state
                    }
                    // padding-right: rem-calc(20)
                    @media $small-only {
                        clear: both
                        span(1/1)
                    }
                }
                
                // Align ribbons left
                .ribbon {
                    ribbon-left()
                }

            } // EOF - product
        } // eof &--list


    }

    // PRODUCT VARIANTS/OPTIONS
    .prd__opts {
        prd-opts()
    }

} // EOF - if $include-html-productlist-classes