// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"


// @mixins
//
// We use this to set up the progress bar container
progress-container() {
    background-color: $progress-bar-color
    height: $progress-bar-height
    border: $progress-bar-border-size $progress-bar-border-style $progress-bar-border-color
    padding: $progress-bar-pad
    margin-bottom: $progress-bar-margin-bottom
}

// @mixins
//
// $bg - Default: $progress-meter-color || $primary-color
progress-meter($bg = $progress-meter-color) {
    background: $bg
    height: 100%
    display: block
}


// +exports("progress-bar") {
    if $include-html-media-classes {

        /* Progress Bar */
        .progress {
            progress-container()

            // Meter
            .meter {
                progress-meter()
            }
            &.progress--secondary .meter {
                progress-meter($bg:$progress-meter-secondary-color)
            }
            &.progress--success .meter {
                progress-meter($bg:$progress-meter-success-color)
            }
            &.progress--alert .meter {
                progress-meter($bg:$progress-meter-alert-color)
            }

            &.progress--radius {
                radius($progress-bar-border-radius)
                .meter {
                    radius(($progress-bar-border-radius - 1))
                }
            }

            &.progress--round {
                radius(1000px)
                .meter {
                    radius(999px)
                }
            }

        }

    }
// }