// LM Foundation by LUXMEDIA - based on ZURB
// lux-media.de - foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-slickslider-classes ?= $include-html-classes

$slick-font-path ?=                 "./fonts/"
$slick-font-family ?=               "slick"
$slick-loader-path ?=               "./"
$slick-arrow-color ?=               $gray-base
$slick-arrow-color-hover ?=         $primary-color
$slick-dot-color ?=                 $charcoal-2
$slick-dot-color-alt ?=             $gray-base
$slick-dot-color-active ?=          $primary-color
$slick-dot-color-hover ?=           $slick-dot-color
$slick-dot-color-hover-alt ?=       $white
$slick-prev-character ?=            '\2190'
$slick-next-character ?=            '\2192'
$slick-dot-character ?=             '\2022'
$slick-dot-size ?=                  rem-calc(6)
$slick-opacity-default ?=           .75
$slick-opacity-on-hover ?=          1
$slick-opacity-not-active ?=        .25
$slick-opacity-active ?=            1

$slick-nav-button-size ?=           rem-calc(34)
$slick-dot-margin-bottom ?=         rem-calc(30)
$slick-dot-sensitive-size ?=        rem-calc(20)
$slick-dot-sensitive-size-block ?=  rem-calc(10)
$slick-dot-margin ?=                rem-calc(0 5)
$slick-dot-padding ?=               rem-calc(5)

$slick-dot-blockstyle ?=            false

$slick-cursor-drag ?=               $cursor-grab-value
$slick-cursor-dragging ?=           $cursor-grabbing-value


//
// @mixins
//

slick-image-url($url) {
    if image-url is defined {
        return image-url($url)
    } else {
        return unquote("url("+$slick-loader-path + $url+")")
    }
}

slick-font-url($url) {
    if font-url is defined {
        return font-url($url)
    } else {
        return unquote("url("+$slick-font-path + $url+")")
    }
}


//
// @styles
//

if $include-html-slickslider-classes {

    .slick {

        &__slider {
            position: relative
            display: block
            box-sizing: border-box
            -moz-box-sizing: border-box
            -webkit-touch-callout: none
            -webkit-user-select: none
            -khtml-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            -ms-touch-action: pan-y
            touch-action: pan-y
            -webkit-tap-highlight-color: transparent
        }
        &__list {
            position: relative
            overflow: hidden
            display: block
            margin: 0
            padding: 0
            cursor($slick-cursor-drag)

            &:focus {
                outline: none
            }

            .is-loading & {
                background: $white slick-image-url("ajax-loader.gif") center center no-repeat
            }

            &.is-dragging {
                cursor($slick-cursor-dragging)
            }
        }
        &__slider .slick__track,
        &__slider .slick__list {
            -webkit-transform: translate3d(0, 0, 0)
            -moz-transform: translate3d(0, 0, 0)
            -ms-transform: translate3d(0, 0, 0)
            -o-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
        }

        &__track {
            position: relative
            left: 0
            top: 0
            display: block

            &:before,
            &:after {
                content: ""
                display: table
            }

            &:after {
                clear: both
            }

            .is-loading & {
                visibility: hidden
            }
        }
        &__slide {
            float: left
            height: 100%
            min-height: 1px
            
            [dir="rtl"] & {
                float: right
            }

            img {
                display: block
            }

            &.is-loading img {
                display: none
            }

            display: none

            &.dragging img {
                pointer-events: none
            }

            .is-init & {
                display: block
            }

            .is-loading & {
                visibility: hidden
            }

            .slick--vertical & {
                display: block
                height: auto
                border: 1px solid transparent
            }
        }

        // Icons
        if ($slick-font-family == "slick") {
            @font-face {
                font-family:"slick"
                src: slick-font-url("slick.eot")
                src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
                      slick-font-url("slick.woff") format("woff"),
                      slick-font-url("slick.ttf") format("truetype"),
                      slick-font-url("slick.svg#slick") format("svg")
                font-weight: normal
                font-style: normal
            }
        }

        // Arrows
        &__prev,
        &__next {
            position: absolute
            display: block
            height: $slick-nav-button-size
            width: $slick-nav-button-size
            line-height: 0
            font-size: 0
            cursor: pointer
            background-color: transparent
            color: transparent
            top: 50%
            margin-top: -($slick-nav-button-size/2)
            padding: 0
            border: none
            outline: none

            &:hover,
            &:focus {
                outline: none
                opacity: $slick-opacity-on-hover
            }

            &.is-disabled {
                opacity: $slick-opacity-not-active
            }
        }

        &__prev {
            {$default-float}: -($slick-nav-button-size+rem-calc(5))

            svg-background($file:'arrows_'+$default-float+'.svg', $size:rem-calc(20), $stroke-width:$svg-stroke-width-small, $stroke:$slick-arrow-color, $stroke-hover:$slick-arrow-color-hover, $scale-x:1, $position-x:center)
        }
        &__next {
            {$opposite-direction}: -($slick-nav-button-size+rem-calc(5))

            svg-background($file:'arrows_'+$opposite-direction+'.svg', $size:rem-calc(20), $stroke-width:$svg-stroke-width-small, $stroke:$slick-arrow-color, $stroke-hover:$slick-arrow-color-hover, $scale-x:1, $position-x:center)
        }

        // Dots
        if $slick-dot-blockstyle {
            // Squaretype fullwidth "block-dots"
            &__dots--block {
                position: relative
                display: block
                width: 100%
                margin: 0 0 $slick-dot-margin-bottom 0
                padding: 0
                list-style: none

                li {
                    display: block
                    float: left
                    height: $slick-dot-sensitive-size-block

                    button {
                        display: block
                        width: 100%
                        height: $slick-dot-sensitive-size-block
                        margin: 0
                        padding: 0
                        font-size: 0
                        background: $slick-dot-color-alt
                        border: none
                        box-shadow: none
                        outline: none
                        cursor($cursor-pointer-value)
                    }

                    &:nth-child(even) button {
                        background: ($slick-dot-color-alt != $white ) ? lighten($slick-dot-color-alt,20%) : $slick-dot-color-alt
                    }
                    &:hover button {
                        background: $slick-dot-color-hover-alt
                    }
                    &:nth-child(even):hover button {
                        background: ($slick-dot-color-hover-alt != $white ) ? lighten($slick-dot-color-hover-alt,20%) : $slick-dot-color-hover-alt
                    }
                    &.is-active button,
                    &.is-active:hover button {
                        background: $slick-dot-color-active
                        cursor($cursor-default-value)
                    }
                }
            }
        } else {
            // Single Dots
            &__dots {
                // position: absolute
                // bottom: -(($slick-dot-sensitive-size*2)+rem-calc(5))
                position: relative
                display: block
                width: 100%
                margin: 0 0 $slick-margin-bottom 0
                padding: 0
                list-style: none
                text-align: center

                li {
                    position: relative
                    display: inline-block
                    height: $slick-dot-sensitive-size
                    width: $slick-dot-sensitive-size
                    margin: $slick-dot-margin
                    padding: 0
                    cursor: pointer
                    radius(1000px)

                    button {
                        margin: 0
                        padding: $slick-dot-padding
                        display: block
                        height: $slick-dot-sensitive-size
                        width: $slick-dot-sensitive-size
                        line-height: 0
                        font-size: 0
                        background: transparent
                        color: transparent
                        border: none
                        box-shadow: none
                        outline: none
                        cursor($cursor-pointer-value)

                        radius(1000px)

                        &:hover,
                        &:focus {
                            outline: none
                            border: none
                            box-shadow: none

                            &:before {
                                color: $slick-dot-color-hover
                                opacity: $slick-opacity-on-hover
                            }
                        }

                        &:before {
                            position: absolute
                            top: 50%
                            left: 50%
                            width: $slick-dot-size
                            height: $slick-dot-size
                            line-height: $slick-dot-size
                            margin: (-($slick-dot-size/2)) 0 0 (-($slick-dot-size/2))
                            content: $slick-dot-character
                            font-family: $slick-font-family
                            font-size: $slick-dot-size
                            text-align: center
                            background-color: $slick-dot-color
                            opacity: $slick-opacity-not-active
                            
                            antialiased()
                            
                            radius(1000px)
                        }
                    }

                    &.is-active button:before,
                    &.is-active button:before:hover {
                        background-color: $slick-dot-color-active
                        color: $slick-dot-color-active
                        opacity: $slick-opacity-active
                        cursor($cursor-default-value)
                    }
                }
            }
        }
    }
}