// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"
@require "_buttons"
@require "_dropdown-buttons"

//
// @variables
//

$include-html-button-classes ?=              $include-html-classes

// different shared styles for Split Buttons
$split-button-function-factor ?=             10%
$split-button-pip-color ?=                   $white
$split-button-pip-color-alt ?=               $charcoal-1
$split-button-active-bg-tint ?=              rgba($black,0.1)
$split-button-border-color ?=                rgba($white,0.5)

// tiny split buttons
$split-button-padding-tny ?=                 ($button-pip-tny * 10)
$split-button-span-width-tny ?=              ($button-pip-tny * 6)
$split-button-pip-size-tny ?=                ($button-pip-tny)
$split-button-pip-top-tny ?=                 ($button-pip-tny * 2)
$split-button-pip-default-float-tny ?=       -(rem-calc(6))

// small split buttons
$split-button-padding-sml ?=                 ($button-pip-sml * 10)
$split-button-span-width-sml ?=              ($button-pip-sml * 6)
$split-button-pip-size-sml ?=                ($button-pip-sml)
$split-button-pip-top-sml ?=                 ($button-pip-sml * 1.5)
$split-button-pip-default-float-sml ?=       -(rem-calc(6))

// medium split buttons
$split-button-padding-med ?=                 ($button-pip-med * 9)
$split-button-span-width-med ?=              ($button-pip-med * 5.5)
$split-button-pip-size-med ?=                ($button-pip-med - rem-calc(3))
$split-button-pip-top-med ?=                 ($button-pip-med * 1.5)
$split-button-pip-default-float-med ?=       -(rem-calc(6))

// large split buttons
$split-button-padding-lrg ?=                 ($button-pip-lrg * 8)
$split-button-span-width-lrg ?=              ($button-pip-lrg * 5)
$split-button-pip-size-lrg ?=                ($button-pip-lrg - rem-calc(6))
$split-button-pip-top-lrg ?=                 ($button-pip-lrg + rem-calc(5))
$split-button-pip-default-float-lrg ?=       -(rem-calc(6))


//
// @mixins
//

// We use this mixin to create split buttons that build upon the button mixins
//
// $padding - Type of padding to apply. Default: medium. Options: tiny, small, medium, large.
// $pip-color - Color of the triangle. Default: $split-button-pip-color.
// $span-border - Border color of button divider. Default: $primary-color.
// $base-style - Apply base style to split button. Default: true.
split-button($padding = medium, $pip-color = $split-button-pip-color, $span-border = $primary-color, $base-style = true) {

    // With this, we can control whether or not the base styles come through.
    if $base-style {
        position: relative

        // Styling for the split arrow clickable area
        span.toggler {
            display: block
            height: 100%
            position: absolute
            {$opposite-direction}: 0
            top: 0
            border-{$default-float}: solid 1px

            {$is-svg-support} & {
                // use svg for arrow
                svg-background($file:'arrows_down.svg', $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-small, $position-x:center)
            }
            {$is-no-svg-support} & {
                // Building the triangle pip indicator
                &:after {
                    position: absolute
                    content: ""
                    width: 0
                    height: 0
                    display: block
                    border-style: inset
                    top: 50%

                    {$default-float}: 50%
                }
            }

            &:active {
                background-color: $split-button-active-bg-tint
            }
        }
    }

    // Control the border color for the span area of the split button
    if $span-border {
        span.toggler {
            border-{$default-float}-color: $split-button-border-color
        }
    }

    // Style of the button and clickable area for tiny sizes
    if ($padding == tiny) {
        padding-{$opposite-direction}: $split-button-padding-tny

        span.toggler {
            width: $split-button-span-width-tny
            {$is-svg-support} & {
                // use svg for arrow
                svg-background($file:'arrows_down.svg', $size:rem-calc(16), $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-tiny, $position-x:center)
            }
            {$is-no-svg-support} & {
                &:after {
                    border-top-style: solid
                    border-width: $split-button-pip-size-tny
                    top: 48%
                    margin-{$default-float}: $split-button-pip-default-float-tny
                }
            }
        }
    } else if ($padding == small) {
    // Style of the button and clickable area for small sizes
        padding-{$opposite-direction}: $split-button-padding-sml

        span.toggler {
            width: $split-button-span-width-sml
            {$is-no-svg-support} & {
                &:after {
                    border-top-style: solid
                    border-width: $split-button-pip-size-sml
                    top: 48%
                    margin-{$default-float}: $split-button-pip-default-float-sml
                }
            }
        }
    } else if ($padding == medium) {
    // Style of the button and clickable area for default (medium) sizes
        padding-{$opposite-direction}: $split-button-padding-med

        span.toggler {
            width: $split-button-span-width-med
            {$is-no-svg-support} & {
                &:after {
                    border-top-style: solid
                    border-width: $split-button-pip-size-med
                    top: 48%
                    margin-{$default-float}: $split-button-pip-default-float-med
                }
            }
        }
    } else if ($padding == large) {
    // Style of the button and clickable area for large sizes
        padding-{$opposite-direction}: $split-button-padding-lrg

        span.toggler {
            width: $split-button-span-width-lrg
            {$is-svg-support} & {
                // use svg for arrow
                svg-background($file:'arrows_down.svg', $size:rem-calc(20), $stroke:$pip-color, $stroke-hover:$pip-color, $stroke-width:$svg-stroke-width-medium, $position-x:center)
            }
            {$is-no-svg-support} & {
                &:after {
                    border-top-style: solid
                    border-width: $split-button-pip-size-lrg
                    top: 48%
                    margin-{$default-float}: $split-button-pip-default-float-lrg
                }
            }
        }
    }

    // Control the color of the triangle pip
    if $pip-color {
        {$is-no-svg-support} & {
            span.toggler:after {
                border-color: $pip-color transparent transparent transparent
            }
        }
    }
}

// +exports("split-button") {
    if $include-html-button-classes {

        .btn--split {
            split-button()

            &--secondary {
                split-button(false, $split-button-pip-color, $secondary-color, false)
            }
            &--alert {
                split-button(false, false, $alert-color, false)
            }
            &--success {
                split-button(false, false, $success-color, false)
            }

            &--tiny {
                split-button(tiny, false, false, false)
            }
            &--small {
                split-button(small, false, false, false)
            }
            &--large {
                split-button(large, false, false, false)
            }
            &--expand {
                padding-left: 2rem
            }

            // &--secondary {
            //     split-button(false, $split-button-pip-color-alt, false, false)
            // }

            &--radius span {
                side-radius($opposite-direction, $global-radius)
            }
            &--round span {
                side-radius($opposite-direction, 1000px)
            }
            &--nopip{
                span:before,
                span:after {
                    border-style:none
                }
                span { padding-top:$split-button-pip-top-med; }
                &.btn--tiny { span { padding-top: $split-button-pip-top-tny; } }
                &.btn--small { span { padding-top: $split-button-pip-top-sml; } }
                &.btn--large { span { padding-top: $split-button-pip-top-lrg; } }
            }
        }

    }
// }