// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"
@require "_grid"
@require "_buttons"
@require "_forms"


// Accessibility mixins for hiding and showing the menu dropdown items
topbar-hide-dropdown() {
    // Makes an element visually hidden by default, but visible when focused.
    display: block
    element-invisible()
}

topbar-show-dropdown() {
    display: block
    element-invisible-off()
    position: absolute !important // Reset the position from static to absolute
}

// +exports("top-bar") {

    if $include-html-top-bar-classes {

        // Used to provide media query values for javascript components.
        // This class is generated despite the value of $include-html-top-bar-classes
        // to ensure width calculations work correctly.
        meta.foundation-mq-topbar {
            font-family: ("/" + unquote($topbar-media-query) + "/")
            width: $topbar-breakpoint
        }

        /* Wrapped around .top-bar to contain to grid width */
        .contain-to-grid {
            width: 100%
            background-color: $topbar-bg

            .top-bar {
                margin-bottom: $topbar-margin-bottom
            }
        }

        // Wrapped around .top-bar to make it stick to the top
        .top-bar__cont {
            background-color: $topbar-bg
            @media $small-only {
                .row .columns,
                .row .column {
                    width: 100%
                    padding: 0 !important
                }
            }

            &--fixed {
                width: 100%
                {$default-float}: 0
                position: fixed
                top: 0
                z-index: $zindex-topbar

                &.expanded:not(.top-bar) {
                    overflow-y: auto
                    height: auto
                    width: 100%
                    max-height: 100%

                    .logo-wrap {
                        position: fixed
                        width: 100%
                        z-index: $zindex-topbar
                    }
                    // Ensure you can scroll the menu on small screens
                    .top-bar-section {
                        z-index: ($zindex-topbar - 1)
                        margin-top: $topbar-height
                    }
                }
            }
        }

        // Offcanvas menu
        .tab-bar {
            @media $medium-up {
                display: none !important
            }
            @media $small-only {
                display: block !important
                float: left
            }
        }

        // Main top nav section
        .top-bar {
            overflow: hidden
            height: $topbar-height
            line-height: $topbar-height
            position: relative
            background-color: $topbar-bg
            margin-bottom: $topbar-margin-bottom
            
            @media $small-only {
                .row {
                    max-width: none
                }
            }
            // Topbar Global list Styles
            ul {
                margin-bottom: 0
                list-style: none
            }

            form,
            input {
                margin-bottom: 0
            }

            input,
            input[type="text"],
            input[type="search"] { 
                height: $topbar-input-height
                padding-top: $ptop = 0 // (.35rem + rem-calc(1))
                padding-bottom: $ptop
                font_size($topbar-button-font-size)
                if ($topbar-input-border-width) {
                    border-color: $topbar-input-border-color
                    border-width: $topbar-input-border-width
                } else {
                    border: none
                }
                box-shadow: none
                box-sizing: border-box
            }

            .btn,
            button {
                padding-top: $ptop = 0 //  (.35rem + rem-calc(1))
                padding-bottom: $ptop
                margin-bottom: 0
                font_size($topbar-button-font-size)
                border-color: darken($topbar-bg, 20%)

                // Corrects a slight misalignment when put next to an input field
                @media $small-only {
                    position: relative
                    top: -1px
                }
            }

            // Title Area
            .logo-wrap {
                position: relative
                margin: 0
                @media $medium-up {
                    col(2/12, gutter: 0)   
                }
                @media $small-only {
                    col(1/3, gutter: 0)
                }
            }

            .logo {
                height: $topbar-height
                margin: 0
                background-color: $topbar-logo-bg
                font_size($ref-font-size)

                h1, h2, h3, h4, p, span {
                    display: block
                    line-height: $topbar-height
                    font_size($topbar-logo-font-size)
                    margin: 0
                    text-align: center
                    a {
                        // width: 75%
                        display: block
                        padding: 0 $topbar-link-padding
                        @media $small-only {
                            padding: 0
                        }
                        font-weight: $topbar-logo-weight
                        color: $topbar-link-color
                        &:hover {
                            background-color: $topbar-logo-bg-hover
                            single-transition(background-color)
                        }
                    }
                }
            }

            // search form in top-bar
            .site-search {
                padding: $topbar-site-search-padding
                @media $medium-up {
                    col(4/12, gutter:0)
                }
                @media $small-only {
                    col(2/3, gutter:0)
                    padding-left: 0.6rem
                    padding-right: 0.6rem
                }
                input[type="text"],
                input[type="search"] {
                    @media $medium-up {
                        col(5/6, gutter:0)
                    }
                    @media $small-only {
                        col(1/1, gutter:0)
                    }
                    font_size($topbar-site-search-font-size)
                    color: $topbar-site-search-font-color
                    text-transform: $topbar-site-search-text-transform
                }
                .btn,
                button {
                    col(1/6, gutter:0)
                    @media $small-only {
                        display: none
                    }
                    // use svg background if browser is capable
                    {$is-svg-support} & {
                        font-size: 0!important
                        text-indent: -9999em
                        svg-background($file:'basic_magnifier.svg', $shapes:all, $stroke:$gray-dark-1, $stroke-hover:$primary-color, $stroke-width:$svg-stroke-width-small, $position-x:center)
                    }

                    background-color: $input-bg-color
                    border-left: 1px solid darken($input-bg-color,10%)
                    &:focus,
                    &:hover {
                        background-color: darken($input-bg-color,10%)
                    }
                }
            }

            // Menu toggle button on small devices
            .toggle-topbar {
                position: absolute
                {$opposite-direction}: 0
                top: 0

                a {
                    color: $topbar-link-color
                    text-transform: $topbar-menu-link-transform
                    font_size($topbar-menu-link-font-size)
                    font-weight: $topbar-menu-link-weight
                    position: relative
                    display: block
                    padding: 0 $topbar-link-padding
                    height: $topbar-height
                    line-height: $topbar-height

                }

                // Adding the class "menu-icon" will add the 3-line icon people love and adore.
                &.menu-icon {
                    top: 50%
                    margin-top: -16px

                    a {
                        if ($text-direction == rtl) {
                            text-indent: -58px
                        }
                        height: 34px
                        line-height: 33px
                        padding: 0 ($topbar-link-padding + 25) 0 $topbar-link-padding
                        color: $topbar-menu-link-color
                        position: relative

                        & {
                            // @include hamburger icon
                            //
                            // We use this to create the icon with three lines aka the hamburger icon, the menu-icon or the navicon
                            // $width - Width of hamburger icon
                            // $left - If false, icon will be centered horizontally || explicitly set value in rem
                            // $top - If false, icon will be centered vertically || explicitly set value in rem
                            // $thickness - thickness of lines in hamburger icon, set value in px
                            // $gap - spacing between the lines in hamburger icon, set value in px
                            // $color - icon color
                            // $hover-color - icon color during hover, here it isn't set b/c it would override $topbar-menu-icon-color-toggled
                            // $offcanvas - Set to false of @include in topbar
                            hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, "", false)
                        }
                    }
                }
            }

            // Change things up when the top-bar is expanded
            &.expanded {
                height: auto
                background-color: transparent

                .logo-wrap {
                    background-color: $topbar-logo-bg
                }

                .toggle-topbar {
                    a {
                        color: $topbar-menu-link-color-toggled
                        span::after {
                            // Shh, don't tell, but box-shadows create the menu icon :)
                            // Change the color of the bars when the menu is expanded, using given thickness from hamburger() above
                            box-shadow: 0 0px 0 1px $topbar-menu-icon-color-toggled, 0 7px 0 1px $topbar-menu-icon-color-toggled, 0 14px 0 1px $topbar-menu-icon-color-toggled
                        }
                    }
                }
            }
        }

        // Right and Left Navigation that stacked by default
        .top-bar-section {
            {$default-float}: 0
            position: relative
            width: auto
            single-transition($default-float, $topbar-transition-speed)

            ul {
                padding: 0
                width: 100%
                height: auto
                display: block
                font_size($ref-font-size)
                margin: 0
            }

            .divider,
            [role="separator"] {
                border-top: $topbar-divider-border-top
                clear: both
                height: 1px
                width: 100%
            }

            ul li {
                background-color: $topbar-dropdown-bg
                & > a {
                    display: block
                    width: 100%
                    color: $topbar-link-color
                    padding: 12px 0 12px 0
                    padding-{$default-float}: $topbar-link-padding
                    font_family($topbar-link-font-family)
                    font_size($topbar-link-font-size)
                    font-weight: $topbar-link-weight
                    text-transform: $topbar-link-text-transform
                    
                    single-transition(background-color)

                    &.btn {
                        font_size($topbar-link-font-size)
                        padding-{$opposite-direction}: $topbar-link-padding
                        padding-{$default-float}: $topbar-link-padding
                        button-style($primary-color)
                        &--secondary {
                            button-style($bg:$secondary-color)
                        }
                        &--success {
                            button-style($bg:$success-color)
                        }
                        &--warning {
                            button-style($bg:$warning-color, $font-color:$warning-font-color)
                        }
                        &--alert {
                            button-style($bg:$alert-color, $font-color:$critical-font-color)
                        }
                    }
                    
                }

            & > button {
                font_size($topbar-link-font-size)
                padding-{$opposite-direction}: $topbar-link-padding
                padding-{$default-float}: $topbar-link-padding
                button-style($bg:$primary-color)

                &.btn--secondary {
                    button-style($bg:$secondary-color)
                }
                &.btn--success {
                    button-style($bg:$success-color)
                }
                &.btn--warning {
                    button-style($bg:$warning-color, $font-color:$warning-font-color)
                }
                &.btn--alert {
                    button-style($bg:$alert-color, $font-color:$critical-font-color)
                }
            }

            // Apply the hover link color when it has that class
            &:hover:not(.has-form) > a {
                
                if ($topbar-link-bg-hover) {
                    background-color: $topbar-link-bg-hover
                } else {
                    background-color: $topbar-link-bg-color-hover
                }
                color: $topbar-link-color-hover

            }

            // Apply the active link color when it has that class
            &.is-active > a {
                background-color: $topbar-link-bg-active
                color: $topbar-link-color-active
                &:hover {
                    background-color: $topbar-link-bg-active-hover
                    color: $topbar-link-color-active-hover
                }
            }
        }

        // Add some extra padding for list items contains buttons
        .has-form {
            padding: $topbar-link-padding
        }

        // Styling for list items that have a dropdown within them.
        .has-dropdown {
            position: relative

            & > a {
                if ($topbar-arrows){
                    {$is-svg-support} & {
                        // use svg for arrow
                        svg-background($file:'arrows_down.svg', $shapes:all, $stroke:darken($topbar-link-color,25%), $stroke-hover:$topbar-link-color-hover, $stroke-width:$svg-stroke-width-small)
                    }
                    {$is-no-svg-support} & {
                        // use css pseudo class for arrow
                        &:after {
                            css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), $default-float)
                            margin-{$opposite-direction}: $topbar-link-padding
                            margin-top: -($topbar-dropdown-toggle-size / 2) - 2
                            position: absolute
                            top: 50%
                            {$opposite-direction}: 0
                        }
                    }
                }
            }

            &.moved {
                position: static
                & > .dropdown {
                    topbar-show-dropdown()
                    width: 100%
                }
                & > a:after {
                    display: none
                }
            }
        }

        // Styling elements inside of dropdowns
        .dropdown {
            padding: 0
            position: absolute
            {$default-float}: 100%
            top: 0
            z-index: 99
            topbar-hide-dropdown()

            li {
                width: 100%
                height: auto

                a {
                    font-weight: $topbar-dropdown-link-weight
                    padding: 8px $topbar-link-padding
                    text-transform: uppercase
                    &.parent-link {
                        font-weight: $topbar-link-weight
                    }
                }

                &.title h5,
                &.parent-link {
                    // Back Button
                    margin-bottom: 0
                    margin-top: 0
                    font_size($topbar-back-link-size)
                    a {
                        color: $topbar-link-color
                        // line-height: $topbar-height / 2
                        display: block
                        &:hover {
                            background-color: transparent
                        }
                    }
                }
                &.has-form {
                    padding: 8px $topbar-link-padding
                }
                button,
                .btn {
                    top: auto
                }
            }

            label {
                padding: 8px $topbar-link-padding 2px
                margin-bottom: 0
                text-transform: $topbar-dropdown-label-text-transform
                color: $topbar-dropdown-label-color
                font-weight: $topbar-dropdown-label-font-weight
                font_size($topbar-dropdown-label-font-size)
            }
        }
    }

    .js-generated {
        display: block
    }


    // Top Bar styles intended for screen sizes above the breakpoint.
    @media $topbar-media-query {
        .top-bar {
            background-color: $topbar-bg
            clearfix()
            overflow: visible

            .toggle-topbar {
                display: none
            }

            .logo-wrap {
                float: $default-float
            }
            .logo h1 a {
                width: auto
            }

            input,
            button,
            .btn {
                font_size($topbar-button-font-size)
                position: relative
                top: $topbar-button-top
                height: $topbar-input-height
                line-height: $topbar-input-height
                padding-top: 0
                padding-bottom: 0
            }

            &.expanded {
                background-color: $topbar-bg
            }
        }

        .contain-to-grid .top-bar {
            max-width: $row-width
            margin: 0 auto
            margin-bottom: $topbar-margin-bottom
        }

        .top-bar-section {
            single-transition(none,0,0)
            {$default-float}: 0 !important

            ul {
                width: auto
                height: auto !important
                display: inline

                li {
                    float: $default-float
                    .js-generated {
                        display: none
                    }
                }
            }

            li {
                &.hover {
                    > a:not(.btn) {
                        if ($topbar-link-bg-hover) {
                            background-color: $topbar-link-bg-hover
                        } else {
                            background-color: $topbar-link-bg-color-hover
                        }
                        color: $topbar-link-color-hover
                    }
                }
                &:not(.has-form) {
                    a:not(.btn) {
                        padding: 0 $topbar-link-padding
                        line-height: $topbar-height
                        background-color: $topbar-link-bg
                        &:hover {
                            if ($topbar-link-bg-hover) {
                                background-color: $topbar-link-bg-hover
                            } else {
                                background-color: $topbar-link-bg-color-hover
                            }
                        }
                    }
                }
                &.is-active:not(.has-form) {
                    a:not(.btn) {
                        padding: 0 $topbar-link-padding
                        line-height: $topbar-height
                        color: $topbar-link-color-active
                        background-color: $topbar-link-bg-active
                        &:hover {
                            background-color: $topbar-link-bg-active-hover
                            color: $topbar-link-color-active-hover
                        }
                    }
                }
                // Second Level
                &:not(.has-form) li,
                &.is-active:not(.has-form) li,
                li {
                    a,
                    a:not(.btn) {
                        line-height: 1.4rem
                        padding-bottom: 0.35rem
                        padding-top: 0.35rem
                    }
                }                
            }

            .has-dropdown {

                if($topbar-arrows){

                    & > a {
                        padding-{$opposite-direction}: rem-calc($topbar-link-padding + $topbar-link-dropdown-padding) !important
                        {$is-svg-support} & {
                            svg-background($file:'arrows_down.svg', $stroke:darken($topbar-link-color,25%), $stroke-hover:$topbar-link-color-hover, $stroke-width:$svg-stroke-width-small)
                        }
                        {$is-no-svg-support} & {
                            &:after {
                                css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), top)
                                margin-top: -($topbar-dropdown-toggle-size / 2)
                                top: round($topbar-height / 2)
                            }
                        }
                    }

                }

                &.moved {
                    position: relative
                    & > .dropdown {
                        topbar-hide-dropdown()
                    }
                }

                &.hover,
                &.not-click:hover {
                    & > .dropdown {
                        topbar-show-dropdown()
                    }
                }
                > a:focus + .dropdown {
                    topbar-show-dropdown()
                }

                .dropdown li.has-dropdown {
                    & > a {
                        if ($topbar-dropdown-arrows){
                            &:after {
                                border: none
                                content: "\00bb"
                                top: 1rem
                                margin-top: -1px
                                {$opposite-direction}: 5px
                                line-height: 1.2
                            }
                        }
                    }
                }

            }

            .dropdown {
                {$default-float}: 0
                top: auto
                background-color: transparent
                min-width: 100%

                li {
                    a {
                        color: $topbar-dropdown-link-color
                        line-height: $topbar-height
                        white-space: nowrap
                        padding: 12px $topbar-link-padding
                        background-color: $topbar-dropdown-link-bg
                    }

                    &:not(.has-form):not(.is-active) {
                        & > a:not(.btn) {
                            color: $topbar-dropdown-link-color
                            background-color: $topbar-dropdown-link-bg
                        }

                        &:hover > a:not(.btn) {
                            color: $topbar-dropdown-link-color-hover
                            
                            if ($topbar-dropdown-link-bg-hover) {
                                background-color: $topbar-dropdown-link-bg-hover
                            } else {
                                background-color: $topbar-link-bg-color-hover
                            }
                        }
                    }

                    label {
                        white-space: nowrap
                        background-color: $topbar-dropdown-label-bg
                    }

                    // Second Level Dropdowns
                    .dropdown {
                        {$default-float}: 100%
                        top: 0
                    }
                }
            }

            & > ul > .divider,
            & > ul > [role="separator"] {
                border-bottom: none
                border-top: none
                border-{$opposite-direction}: $topbar-divider-border-bottom
                clear: none
                height: $topbar-height
                width: 0
            }

            .has-form {
                background-color: $topbar-link-bg
                padding: 0 ($topbar-height / 3)
                height: $topbar-height
            }

            // Position overrides for ul.right and ul.left
            .{$opposite-direction} {
                li .dropdown {
                    {$default-float}: auto
                    {$opposite-direction}: 0

                    li .dropdown {
                        {$opposite-direction}: 100%
                    }
                }
            }
            .{$default-float} {
                li .dropdown {
                    {$opposite-direction}: auto
                    {$default-float}: 0

                    li .dropdown {
                        {$default-float}: 100%
                    }
                }
            }
        }

        // Degrade gracefully when Javascript is disabled. Displays dropdown and changes
        // background & text color on hover.
        .no-js .top-bar-section {
            ul li {
                // Apply the hover link color when it has that class
                &:hover > a {
                    
                    if ($topbar-link-bg-hover) {
                        background-color: $topbar-link-bg-hover
                    } else {
                        background-color: $topbar-link-bg-color-hover
                    }
                    color: $topbar-link-color-hover
                }

                // Apply the active link color when it has that class
                &:active > a {
                    background-color: $topbar-link-bg-active
                    color: $topbar-link-color-active
                }
            }

            .has-dropdown {
                &:hover {
                    & > .dropdown {
                        topbar-show-dropdown()
                    }
                }
                > a:focus + .dropdown {
                    topbar-show-dropdown()
                }
            }
        }
    }
    }
// }