// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"
@require "_grid"
@require "_buttons"
@require "_forms"

//
// @variables
//

$include-html-topbar-classes =               com_js.TOPBAR

// Background color for the top bar
$topbar-bg-color ?=                          $charcoal-1
$topbar-bg ?=                                $topbar-bg-color

// Height and margin
$topbar-height ?=                            rem-calc(45)
$topbar-margin-bottom ?=                     0

// Controlling the styles for the title in the top bar
$topbar-logo-weight ?=                       $font-weight-normal
$topbar-logo-font-size ?=                    fontsize(1rem)
$topbar-logo-bg ?=                           $primary-color
$topbar-logo-bg-hover ?=                     darken($primary-color, 10%)

$topbar-link-hover-lightness ?=              15% // -10% !default

// Set the link colors and styles for top-level nav
$topbar-link-color ?=                        $white
$topbar-link-color-hover ?=                  $white
$topbar-link-color-active ?=                 $white
$topbar-link-color-active-hover ?=           $white
$topbar-link-weight ?=                       $font-weight-bold
$topbar-link-font-size ?=                    fontsize(0.8rem)
$topbar-link-bg ?=                           $topbar-bg
$topbar-link-bg-hover ?=                     darken($topbar-link-bg, $topbar-link-hover-lightness)
$topbar-link-bg-color-hover ?=               darken($topbar-link-bg, $topbar-link-hover-lightness)
$topbar-link-bg-active ?=                    $primary-color
$topbar-link-bg-active-hover ?=              darken($primary-color, $topbar-link-hover-lightness)
$topbar-link-font-family ?=                  $font-family-custom
$topbar-link-text-transform ?=               uppercase
$topbar-link-padding ?=                      ($topbar-height / 3)
$topbar-back-link-size ?=                    fontsize(1.3rem)
$topbar-link-dropdown-padding ?=             rem-calc(20)

$topbar-button-top ?=                        rem-calc(7)
$topbar-button-font-size ?=                  fontsize(1rem)
$topbar-input-height ?=                      ($topbar-height - (2*$topbar-button-top))
$topbar-button-search-width ?=               rem-calc(40)
$topbar-button-search-border-left ?=         1px solid darken($input-bg-color,10%)
$topbar-button-search-svg-color ?=           $gray-dark-1
$topbar-button-search-svg-color-hover ?=     $primary-color
$topbar-button-search-svg-stroke-width ?=    $svg-stroke-width-small
$topbar-input-border-width ?=                false // 1px 0 0 1px
$topbar-input-border-color ?=                darken($topbar-bg, 20%)
$topbar-button-font-size ?=                  fontsize(0.8rem)

$topbar-site-search-padding ?=               rem-calc(7 (3*7)) // 7 is based on $topbar-button-top
$topbar-site-search-font-size ?=             fontsize(1rem)
$topbar-site-search-font-color ?=            $black
$topbar-site-search-text-transform ?=        lowercase

// Style the top bar dropdown elements
$topbar-dropdown-bg ?=                       $topbar-link-bg-hover
$topbar-dropdown-link-color ?=               $white
$topbar-dropdown-link-color-hover ?=         $primary-color
$topbar-dropdown-link-bg ?=                  $topbar-dropdown-bg
$topbar-dropdown-link-bg-hover ?=            darken($topbar-dropdown-link-bg, $topbar-link-hover-lightness)
$topbar-dropdown-link-weight ?=              $font-weight-bold
$topbar-dropdown-toggle-size ?=              5px
$topbar-dropdown-toggle-color ?=             $white
$topbar-dropdown-toggle-alpha ?=             0.4

$topbar-dropdown-label-color ?=              darken($topbar-link-bg-hover, 25%) // $gray-dark-3
$topbar-dropdown-label-text-transform ?=     uppercase
$topbar-dropdown-label-font-weight ?=        $font-weight-bold
$topbar-dropdown-label-font-size ?=          fontsize(0.8rem)
$topbar-dropdown-label-bg ?=                 transparent // $charcoal-1

// Top menu icon styles
$topbar-menu-link-transform ?=               uppercase
$topbar-menu-link-font-size ?=               fontsize(1rem)
$topbar-menu-link-weight ?=                  $font-weight-bold
$topbar-menu-link-color ?=                   $white
$topbar-menu-icon-color ?=                   $white
$topbar-menu-link-color-toggled ?=           $gray-dark-2
$topbar-menu-icon-color-toggled ?=           $gray-dark-2
$topbar-menu-icon-position ?=                $opposite-direction // Change to $default-float for a left menu icon

// Transitions and breakpoint styles
$topbar-transition-speed ?=                  300ms

// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint ?=                        lower-bound($medium-range) // Change to 9999px for always mobile layout
$topbar-media-query ?=                       $medium-up

// Divider Styles
$topbar-divider-border-bottom ?=             solid 1px lighten($topbar-bg-color, 13%)
$topbar-divider-border-top ?=                solid 1px darken($topbar-bg-color, 50%)

// Sticky Class
$topbar-sticky-class ?=                      ".sticky"
$topbar-arrows ?=                            true //Set false to remove the triangle icon from the menu item
$topbar-dropdown-arrows ?=                   true //Set false to remove the \00bb >> text from dropdown subnavigation li// 


//
// @mixins
//

// Accessibility mixins for hiding and showing the menu dropdown items
topbar-hide-dropdown() {
    // Makes an element visually hidden by default, but visible when focused.
    display: block
    element-invisible()
}

topbar-show-dropdown() {
    display: block
    element-invisible-off()
    position: absolute !important // Reset the position from static to absolute
}


//
// @styles
//

if $include-html-topbar-classes {

    // Used to provide media query values for javascript components.
    // This class is generated despite the value of $include-html-topbar-classes
    // to ensure width calculations work correctly.
    meta.foundation-mq-topbar {
        font-family: ("/" + unquote($topbar-media-query) + "/")
        width: $topbar-breakpoint
    }

    /* Wrapped around .topbar to contain to grid width */
    .contain-to-grid {
        width: 100%
        background-color: $topbar-bg

        .topbar {
            margin-bottom: $topbar-margin-bottom
        }
    }

    // Wrapped around .topbar to make it stick to the top
    .topbar__wrap {
        background-color: $topbar-bg

        &--fixed {
            width: 100%
            {$default-float}: 0
            position: fixed
            top: 0
            z-index: $zindex-navbar-fixed

            &.expanded:not(.topbar) {
                overflow-y: auto
                height: auto
                width: 100%
                max-height: 100%

                .logo-wrap {
                    position: fixed
                    width: 100%
                    z-index: $zindex-navbar-fixed
                }
                // Ensure you can scroll the menu on small screens
                .topbar-section {
                    z-index: ($zindex-topbar - 1)
                    margin-top: $topbar-height
                }
            }
        }
    }
    // EOF - .topbar__wrap

    // Offcanvas menu
    .tab-bar {
        @media $medium-up {
            display: none !important
        }
        @media $small-only {
            display: block !important
            float: left
        }
    }

    // Main top nav section
    .topbar {
        overflow: hidden
        height: $topbar-height
        line-height: $topbar-height
        position: relative
        background-color: $topbar-bg
        margin-bottom: $topbar-margin-bottom
        
        // Topbar Global list Styles
        ul {
            margin-bottom: 0
            list-style: none
        }

        form,
        input {
            margin-bottom: 0
        }

        input,
        input[type="text"],
        input[type="search"] { 
            height: $topbar-input-height
            padding-top: $ptop = remify(.35rem) // 0 // (.35rem + rem-calc(1))
            padding-bottom: $ptop
            font-size: $topbar-button-font-size
            if ($topbar-input-border-width) {
                border-color: $topbar-input-border-color
                border-width: $topbar-input-border-width
            } else {
                border: none
            }
            box-shadow: none
            box-sizing: border-box
        }

        .btn,
        button {
            //padding-top: $ptop = 0 //  (.35rem + rem-calc(1))
            //padding-bottom: $ptop
            margin-bottom: 0
            //font-size:$topbar-button-font-size
            //border-color: darken($topbar-bg, 20%)

            // Corrects a slight misalignment when put next to an input field
            @media $small-only {
                position: relative
                //top: -1px
            }
        }

        // Title Area
        .logo-wrap {
            position: relative
            margin: 0
            @media $medium-up {
                col(2/12, gutter: 0)   
            }
            @media $small-only {
                col(1/3, gutter: 0)
            }
        }

        .logo {
            height: $topbar-height
            margin: 0
            background-color: $topbar-logo-bg
            font-size: $topbar-logo-font-size
            if ($topbar-menu-icon-position == $default-float) {
              float: $opposite-direction
            }

            h1, h2, h3, h4, p, span {
                display: block
                line-height: $topbar-height
                font-size: $topbar-logo-font-size
                margin: 0
                text-align: center
                a {
                    // width: 75%
                    display: block
                    padding: 0 $topbar-link-padding
                    @media $small-only {
                        padding: 0
                    }
                    font-weight: $topbar-logo-weight
                    color: $topbar-link-color
                    &:hover {
                        background-color: $topbar-logo-bg-hover
                        single-transition(background-color)
                    }
                }
            }
        }

        // search form in topbar
        .site-search {
            padding: $topbar-site-search-padding
            @media $small-only {
                col(2/3, gutter:0)
                padding-left: remify(0.6rem)
                padding-right: remify(0.6rem)
            }
            @media $medium-up {
                col(6/12, gutter:0)
            }
            @media $large-up {
                col(4/12, gutter:0)
            }
            input[type="text"],
            input[type="search"] {
                top: auto
                width: 100%
                padding-right: ($topbar-button-search-width + rem-calc(6))
                font-size:$topbar-site-search-font-size
                color: $topbar-site-search-font-color
                text-transform: $topbar-site-search-text-transform
            }
            .btn,
            button {
                top: auto
                float: right
                width: $topbar-button-search-width
                margin-top: -($topbar-input-height) // move in line with search field
                @media $small-only {
                    display: none
                }
                // use svg background if browser is capable
                {$is-svg-support} & {
                    font-size: 0!important
                    text-indent: -9999em
                    svg-background($file:'basic_magnifier.svg', $shapes:('circle' 'line' 'rect'), $stroke:$topbar-button-search-svg-color, $stroke-hover:$topbar-button-search-svg-color-hover, $stroke-width:$topbar-button-search-svg-stroke-width, $position-x:center)
                }

                background-color: $input-bg-color
                border-left: $topbar-button-search-border-left
                &:focus,
                &:hover {
                    background-color: darken($input-bg-color,10%)
                }
            }
        }

        // Menu toggle button on small devices
        .toggle-topbar {
            position: absolute
            {$topbar-menu-icon-position}: 0
            top: 0

            a {
                color: $topbar-link-color
                text-transform: $topbar-menu-link-transform
                font-size:$topbar-menu-link-font-size
                font-weight: $topbar-menu-link-weight
                position: relative
                display: block
                padding: 0 $topbar-link-padding
                height: $topbar-height
                line-height: $topbar-height

            }

            // Adding the class "menu-icon" will add the 3-line icon people love and adore.
            &.menu-icon {
                top: 50%
                margin-top: -16px

                a {
                    if ($text-direction == rtl) {
                        text-indent: -58px
                    }
                    height: 34px
                    line-height: 33px
                    padding: 0 ($topbar-link-padding + 25) 0 $topbar-link-padding
                    color: $topbar-menu-link-color
                    position: relative

                    & {
                        // @include hamburger icon
                        hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, "", false)
                    }
                }
            }
        }

        // Change things up when the topbar is expanded
        &.expanded {
            height: auto
            background-color: transparent

            .logo-wrap {
                background-color: $topbar-logo-bg
            }

            .toggle-topbar {
                a {
                    color: $topbar-menu-link-color-toggled
                    span::after {
                        // Shh, don't tell, but box-shadows create the menu icon :)
                        // Change the color of the bars when the menu is expanded, using given thickness from hamburger() above
                        box-shadow: 0 0 0 1px $topbar-menu-icon-color-toggled, 0 7px 0 1px $topbar-menu-icon-color-toggled, 0 14px 0 1px $topbar-menu-icon-color-toggled
                    }
                }
            }
        }

    }
    // EOF - .topbar

    // Right and Left Navigation that stacked by default
    .topbar-section {
        {$default-float}: 0
        position: relative
        width: auto
        single-transition($default-float, $topbar-transition-speed)

        ul {
            padding: 0
            width: 100%
            height: auto
            display: block
            //font-size:$ref-font-size
            margin: 0
        }

        .divider,
        [role="separator"] {
            border-top: $topbar-divider-border-top
            clear: both
            height: 1px
            width: 100%
        }

        > ul > li {
            // background-color: $topbar-dropdown-bg
            & > a {
                display: block
                width: 100%
                color: $topbar-link-color
                padding: rem-calc(12 0)
                padding-{$default-float}: $topbar-link-padding
                font_family($topbar-link-font-family)
                font-size:$topbar-link-font-size
                font-weight: $topbar-link-weight
                text-transform: $topbar-link-text-transform
                
                single-transition(background-color)

                &.btn {
                    padding-{$opposite-direction}: $topbar-link-padding
                    padding-{$default-float}: $topbar-link-padding
                    font-size:$topbar-link-font-size
                    button-style($primary-color)
                    
                    &--secondary {
                        button-style($bg:$secondary-color)
                    }
                    &--success {
                        button-style($bg:$success-color)
                    }
                    &--warning {
                        button-style($bg:$warning-color, $font-color:$warning-font-color)
                    }
                    &--alert {
                        button-style($bg:$alert-color, $font-color:$critical-font-color)
                    }
                }
                
            }

            > button {
                padding-{$opposite-direction}: $topbar-link-padding
                padding-{$default-float}: $topbar-link-padding
                font-size:$topbar-link-font-size
                button-style($bg:$primary-color)

                &.btn--secondary {
                    button-style($bg:$secondary-color)
                }
                &.btn--success {
                    button-style($bg:$success-color)
                }
                &.btn--warning {
                    button-style($bg:$warning-color, $font-color:$warning-font-color)
                }
                &.btn--alert {
                    button-style($bg:$alert-color, $font-color:$critical-font-color)
                }
            }

            // Apply the hover link color when it has that class
            &:hover:not(.has-form) > a:not(.btn) {
                if ($topbar-link-bg-hover) {
                    background-color: $topbar-link-bg-hover
                } else {
                    background-color: $topbar-link-bg-color-hover
                }
                color: $topbar-link-color-hover
            }

            // Apply the active link color when it has that class
            &.is-active > a {
                background-color: $topbar-link-bg-active
                color: $topbar-link-color-active
                &:hover {
                    background-color: $topbar-link-bg-active-hover
                    color: $topbar-link-color-active-hover
                }
            }
        }

        // Add some extra padding for list items contains buttons
        .has-form {
            padding: $topbar-link-padding
        }

        // Styling for list items that have a dropdown within them.
        .has-dropdown {
            position: relative

            & > a {
                if ($topbar-arrows){
                    {$is-svg-support} & {
                        // use svg for arrow
                        svg-background($file:'arrows_down.svg', $shapes:('polyline'), $stroke:darken($topbar-link-color,25%), $stroke-hover:$topbar-link-color-hover, $stroke-width:$svg-stroke-width-small)
                    }
                    {$is-no-svg-support} & {
                        // use css pseudo class for arrow
                        &:after {
                            css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), $default-float)
                            margin-{$opposite-direction}: $topbar-link-padding
                            margin-top: -(($topbar-dropdown-toggle-size / 2) - 2)
                            position: absolute
                            top: 50%
                            {$opposite-direction}: 0
                        }
                    }
                }
            }

            &.is-moved {
                position: static
                & > .dropdown {
                    topbar-show-dropdown()
                    width: 100%
                }
                & > a:after {
                    display: none
                }
            }
        }

        // Styling elements inside of dropdowns
        // 2nd Level
        .dropdown {
            padding: 0
            position: absolute
            {$default-float}: 100%
            top: 0
            z-index: $zindex-dropdown
            topbar-hide-dropdown()

            li {
                width: 100%
                height: auto

                &:not(.has-form) a:not(.btn):not(.prd__link) {
                    font-weight: $topbar-dropdown-link-weight
                    padding: rem-calc(6) $topbar-link-padding
                    text-transform: uppercase
                    &.parent-link {
                        font-weight: $topbar-link-weight
                    }
                }

                &.title h5,
                &.parent-link {
                    // Back Button
                    margin-bottom: 0
                    margin-top: 0
                    font-size:$topbar-back-link-size
                    a {
                        color: $topbar-link-color
                        // line-height: $topbar-height / 2
                        display: block
                        &:hover {
                            background-color: transparent
                        }
                    }
                }
                &.has-form {
                    padding: rem-calc(8) $topbar-link-padding
                }
                .btn,
                button {
                    top: auto
                }
            }

            label {
                //padding: 8px $topbar-link-padding 2px
                //margin-bottom: 0
                text-transform: $topbar-dropdown-label-text-transform
                color: $topbar-dropdown-label-color
                font-weight: $topbar-dropdown-label-font-weight
                font-size:$topbar-dropdown-label-font-size
            }
        }
    }// EOF - .topbar-section

    .js-generated {
        display: block
    }


    // Top Bar styles intended for screen sizes above the breakpoint.
    @media $topbar-media-query {

        .topbar {
            background-color: $topbar-bg
            clearfix()
            overflow: visible

            .toggle-topbar {
                display: none
            }

            .logo-wrap {
                float: $default-float
            }
            .logo h1 a,
            .logo h2 a,
            .logo h3 a {
                display: block
                width: auto
            }
            
            .topbar-section > ul > li {
                > input,
                > button,
                > .btn {
                    font-size:$topbar-button-font-size
                    position: relative
                    top: $topbar-button-top
                    height: $topbar-input-height
                    line-height: $topbar-input-height
                    padding-top: 0
                    padding-bottom: 0
                }
            }

            &.expanded {
                background-color: $topbar-bg
            }
        }
        // EOF - .topbar

        .contain-to-grid .topbar {
            max-width: $row-width
            margin: 0 auto
            margin-bottom: $topbar-margin-bottom
        }

        .topbar-section {
            single-transition(none,0,0)
            {$default-float}: 0 !important

            > ul {
                width: auto
                height: auto !important
                display: inline

                > li {
                    float: $default-float
                    .js-generated {
                        display: none
                    }
                }
            }
            
            // FIRST LEVEL
            > ul > li {
                &.is-hover {
                    > a:not(.btn) {
                        if ($topbar-link-bg-hover) {
                            background-color: $topbar-link-bg-hover
                        } else {
                            background-color: $topbar-link-bg-color-hover
                        }
                        color: $topbar-link-color-hover
                    }
                }
                &:not(.has-form) {
                    > a:not(.btn) {
                        padding: 0 $topbar-link-padding
                        line-height: $topbar-height
                        background-color: $topbar-link-bg
                        &:hover {
                            if ($topbar-link-bg-hover) {
                                background-color: $topbar-link-bg-hover
                            } else {
                                background-color: $topbar-link-bg-color-hover
                            }
                        }
                        .lbl--badge {
                            margin-{$default-float}: rem-calc(4)
                        }
                    }
                }
                &.is-active:not(.has-form) {
                    > a:not(.btn) {
                        padding: 0 $topbar-link-padding
                        line-height: $topbar-height
                        color: $topbar-link-color-active
                        background-color: $topbar-link-bg-active
                        &:hover {
                            background-color: $topbar-link-bg-active-hover
                            color: $topbar-link-color-active-hover
                        }
                    }
                }

                // Second Level = Dropdown
                li,
                &.is-active li {
                    // give last item a little bottom space
                    &:last-child {
                        margin-bottom: remify(0.35rem)
                    }
                    a:not(.btn) {
                        line-height: remify(1.4rem)
                        padding-bottom: remify(0.35rem)
                        padding-top: remify(0.35rem)
                    }
                }

            } // EOF - li

            .has-dropdown {
                if($topbar-arrows){
                    & > a {
                        padding-{$opposite-direction}: ($topbar-link-padding + $topbar-link-dropdown-padding) !important
                        {$is-svg-support} & {
                            svg-background($file:'arrows_down.svg', $shapes:('polyline'), $stroke:darken($topbar-link-color,25%), $stroke-hover:$topbar-link-color-hover, $stroke-width:$svg-stroke-width-small)
                        }
                        {$is-no-svg-support} & {
                            &:after {
                                css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), top)
                                margin-top: -($topbar-dropdown-toggle-size / 2)
                                top: round($topbar-height / 2)
                            }
                        }
                    }
                }

                &.is-moved {
                    position: relative
                    & > .dropdown {
                        topbar-hide-dropdown()
                    }
                }

                &.is-hover,
                &.is-hoveronly:hover {
                    & > .dropdown {
                        topbar-show-dropdown()
                    }
                }
                > a:focus + .dropdown {
                    topbar-show-dropdown()
                }

                .dropdown li.has-dropdown {
                    & > a {
                        if ($topbar-dropdown-arrows) {
                            &:after {
                                border: none
                                content: "\00bb"
                                top: remify(1rem)
                                margin-top: -(1px)
                                {$opposite-direction}: 5px
                                line-height: 1.2
                            }
                        }
                    }
                }

            } // EOF - .has-dropdown

            // 2nd Level = Dropdowns
            .dropdown {
                {$default-float}: 0
                top: auto
                background-color: $topbar-dropdown-bg
                min-width: 100%

                li {

                    &:not(.has-form) {
                        & > a:not(.btn) {
                            display: block
                            padding: rem-calc(6) $topbar-link-padding
                            line-height: ($topbar-height / 2)
                            font_family($topbar-link-font-family)
                            font-size:$topbar-link-font-size
                            white-space: nowrap
                            
                            .lbl--badge {
                                margin-{$default-float}: rem-calc(4)
                            }
                        }

                    }
                    &:not(.has-form):not(.is-active) {
                        & > a:not(.btn) {
                        color: $topbar-dropdown-link-color
                        background-color: $topbar-dropdown-link-bg
                            &:hover {
                                color: $topbar-dropdown-link-color-hover
                            }
                        }
                        &:hover > a:not(.btn) {
                            color: $topbar-dropdown-link-color-hover
                            
                            if ($topbar-dropdown-link-bg-hover) {
                                background-color: $topbar-dropdown-link-bg-hover
                            } else {
                                background-color: $topbar-link-bg-color-hover
                            }
                        }
                    }

                    label {
                        white-space: nowrap
                        background-color: $topbar-dropdown-label-bg
                    }

                    // 2nd Level Dropdowns
                    .dropdown {
                        {$default-float}: 100%
                        top: 0
                    }
                }

            }

            & > ul > .divider,
            & > ul > [role="separator"] {
                border-bottom: none
                border-top: none
                border-{$opposite-direction}: $topbar-divider-border-bottom
                clear: none
                height: $topbar-height
                width: 0
            }

            .has-form {
                background-color: $topbar-link-bg-hover
                padding: 0 $topbar-link-padding
                height: $topbar-height
            }

            // Position overrides for ul.right and ul.left
            .{$opposite-direction} {
                li .dropdown {
                    {$default-float}: auto
                    {$opposite-direction}: 0

                    li .dropdown {
                        {$opposite-direction}: 100%
                    }
                }
            }
            .{$default-float} {
                li .dropdown {
                    {$opposite-direction}: auto
                    {$default-float}: 0

                    li .dropdown {
                        {$default-float}: 100%
                    }
                }
            }
        }
        // EOF - .topbar-section

        // Degrade gracefully when Javascript is disabled. Displays dropdown and changes
        // background & text color on hover.
        .no-js .topbar-section {
            ul li {
                // Apply the hover link color when it has that class
                &:hover > a {
                    
                    if ($topbar-link-bg-hover) {
                        background-color: $topbar-link-bg-hover
                    } else {
                        background-color: $topbar-link-bg-color-hover
                    }
                    color: $topbar-link-color-hover
                }

                // Apply the active link color when it has that class
                &:active > a {
                    background-color: $topbar-link-bg-active
                    color: $topbar-link-color-active
                }
            }

            .has-dropdown {
                &:hover {
                    & > .dropdown {
                        topbar-show-dropdown()
                    }
                }
                > a:focus + .dropdown {
                    topbar-show-dropdown()
                }
            }
        }

    } // EOF - media topbar-media-query
} // EOF - if $include-html-topbar-classes