// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@require "_global"

//
// @variables
//

$include-html-type-classes ?=        $include-html-classes

// header font styles
$header-font-family ?=               $font-family-headings
$header-font-weight ?=               $font-weight-bold
$header-font-style ?=                normal
$header-font-color ?=                $gray-dark-1
$header-line-height ?=               1.2 // 1.4
$header-top-margin ?=                .2rem
$header-bottom-margin ?=             .5rem
$header-text-rendering ?=            optimizeLegibility

// header font families -  we may have different font families for higher level headings
$h1-font-family ?=                   $font-family-headings
$h2-font-family ?=                   $font-family-headings
$h3-font-family ?=                   $font-family-headings

// header font sizes
$h1-font-size ?=                     1.8rem // rem-calc(44)
$h2-font-size ?=                     1.4rem // rem-calc(37)
$h3-font-size ?=                     1.2rem // rem-calc(27)
$h4-font-size ?=                     1.1rem // rem-calc(23)
$h5-font-size ?=                     1rem // rem-calc(18)
$h6-font-size ?=                     1rem

// header size reduction on small screens
$h1-font-reduction ?=                0.2rem // rem-calc(10)
$h2-font-reduction ?=                0.2rem // rem-calc(10)
$h3-font-reduction ?=                0.1rem // rem-calc(5)
$h4-font-reduction ?=                0.1rem // rem-calc(5)
$h5-font-reduction ?=                0
$h6-font-reduction ?=                0

// header font colors
$h1-font-color ?=                     $primary-color
$h2-font-color ?=                     $header-font-color
$h3-font-color ?=                     $header-font-color
$h4-font-color ?=                     $header-font-color
$h5-font-color ?=                     $header-font-color
$h6-font-color ?=                     $header-font-color

// header font weights
$h1-font-weight ?=                    $header-font-weight
$h2-font-weight ?=                    $header-font-weight
$h3-font-weight ?=                    $header-font-weight
$h4-font-weight ?=                    $header-font-weight
$h5-font-weight ?=                    $header-font-weight
$h6-font-weight ?=                    $header-font-weight

// These control how subheaders are styled.
$subheader-line-height ?=            1.2 // 1.4
$subheader-font-color ?=             lighten($header-font-color, 35%)
$subheader-font-weight ?=            $font-weight-normal
$subheader-top-margin ?=             .2rem
$subheader-bottom-margin ?=          .5rem


// A general <small> styling
$small-font-size ?=                  0.8rem // 60%
$small-font-color ?=                 lighten($header-font-color, 35%)

// style paragraphs
$paragraph-font-family ?=            inherit
$paragraph-font-weight ?=            $font-weight-normal
$paragraph-font-size ?=              1rem
$paragraph-line-height ?=            1.4 // 1.6
$paragraph-margin-bottom ?=          rem-calc(20)
$paragraph-aside-font-size ?=        rem-calc(14)
$paragraph-aside-line-height ?=      1.35
$paragraph-aside-font-style ?=       italic
$paragraph-text-rendering ?=         optimizeLegibility

// lead font sizes
$lead-font-size ?=                   ($paragraph-font-size + rem-calc(3.5))
$lead-line-height ?=                 1.6

// style <code> tags
$code-color ?=                       $charcoal-1
$code-font-family ?=                 $font-family-monospace
$code-font-size ?=                   0.9rem
$code-font-weight ?=                 $font-weight-normal
$code-background-color ?=            lighten($secondary-color, 70%)
$code-border-size ?=                 1px
$code-border-style ?=                solid
$code-border-color ?=                darken($code-background-color, 10%)
$code-padding ?=                     rem-calc(2) rem-calc(5) rem-calc(1)

// style anchors
$anchor-text-decoration ?=           none
$anchor-text-decoration-hover ?=     none
$anchor-font-color ?=                $primary-color
$anchor-font-color-hover ?=          darken($anchor-font-color, 15%)

// style the <hr> element
$hr-border-width ?=                  1px
$hr-border-style ?=                  solid
$hr-border-color ?=                  $gray-medium-1
$hr-margin ?=                        rem-calc(20)

// style lists
$list-font-family ?=                     $paragraph-font-family
$list-font-size ?=                       $paragraph-font-size
$list-line-height ?=                     $paragraph-line-height
$list-margin-bottom ?=                   $paragraph-margin-bottom
$list-style-position ?=                  outside
$list-side-margin ?=                     1.1rem
$list-ordered-side-margin ?=             1.4rem
$list-side-margin-no-bullet ?=           0
$list-nested-margin ?=                   rem-calc(20)
$definition-list-header-weight ?=        $font-weight-bold
$definition-list-header-margin-bottom ?= .3rem
$definition-list-margin-bottom ?=        rem-calc(12)

// style blockquotes
$blockquote-font-color ?=                lighten($header-font-color, 35%)
$blockquote-padding ?=                   rem-calc(9 20 0 19)
$blockquote-border ?=                    1px solid $gray-medium-1
$blockquote-cite-font-size ?=            rem-calc(13)
$blockquote-cite-font-color ?=           lighten($header-font-color, 23%)
$blockquote-cite-link-color ?=           $blockquote-cite-font-color

// Acronym styles
$acronym-underline ?=                    1px dotted $gray-medium-1

// padding and margin
$microformat-padding ?=                  rem-calc(10 12)
$microformat-margin ?=                   rem-calc(0 0 20 0)

// the border styles
$microformat-border-width ?=             1px
$microformat-border-style ?=             solid
$microformat-border-color ?=             $gray-medium-1

// full name font styles
$microformat-fullname-font-weight ?=     $font-weight-bold
$microformat-fullname-font-size ?=       rem-calc(15)

// the summary font styles
$microformat-summary-font-weight ?=      $font-weight-bold

// abbr padding
$microformat-abbr-padding ?=             rem-calc(0 1)

// abbr font styles
$microformat-abbr-font-weight ?=         $font-weight-bold
$microformat-abbr-font-decoration ?=     none

// Text alignment class names
$align-class-names = (small-only small medium-only medium large-only large xlarge-only xlarge xxlarge-only xxlarge)

// Text alignment breakpoints
$align-class-breakpoints = $small-only, $small-up, $medium-only, $medium-up, $large-only, $large-up, $xlarge-only, $xlarge-up, $xxlarge-only, $xxlarge-up

//
// @mixins
//

// Generates text align and justify classes
align-classes() {
    .text-left    {
        text-align: left !important
    }
    .text-right   {
        text-align: right !important
    }
    .text-center  {
        text-align: center !important
    }
    .text-justify {
        text-align: justify !important
    }

    for $i in 1..length($align-class-names) {
        @media $align-class-breakpoints[$i] {
            .{$align-class-names[$i]}-text-left {
                text-align: left !important
            }
            .{$align-class-names[$i]}-text-right {
                text-align: right !important
            }
            .{$align-class-names[$i]}-text-center {
                text-align: center !important
            }
            .{$align-class-names[$i]}-text-justify {
                text-align: justify !important
            }
        }
    }
}

//
// Typography Placeholders
//

// These will throw a deprecation warning if used within a media query.
lead() {
    font_size($lead-font-size)
    line-height: $lead-line-height
}

subheader() {
    line-height: $subheader-line-height
    color: $subheader-font-color
    font-weight: $subheader-font-weight
    margin-top: $subheader-top-margin
    margin-bottom: $subheader-bottom-margin
}


// +exports("type") {
    if $include-html-type-classes {
        // Responsive Text alignment
        align-classes()

        /* Typography resets */
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        form,
        p,
        blockquote,
        th,
        td {
            margin:0
            padding:0
        }

        /* Default Link Styles */
        a {
            color: $anchor-font-color
            text-decoration: $anchor-text-decoration
            line-height: inherit

            &:hover,
            &:focus {
                color: $anchor-font-color-hover
                if ($anchor-text-decoration-hover != $anchor-text-decoration) {
                    text-decoration: $anchor-text-decoration-hover
                }
            }

            img {
                border:none
            }
        }

        /* Default paragraph styles */
        p {
            font_family($paragraph-font-family)
            font-weight: $paragraph-font-weight
            font_size($paragraph-font-size)
            line-height: $paragraph-line-height
            margin-bottom: $paragraph-margin-bottom
            text-rendering: $paragraph-text-rendering

            &.lead {
                lead()
            }

            & aside {
                font_size($paragraph-aside-font-size)
                line-height: $paragraph-aside-line-height
                font-style: $paragraph-aside-font-style
            }
        }

        /* Default header styles */
        h1, h2, h3, h4, h5, h6 {
            font_family($header-font-family)
            font-style: $header-font-style
            text-rendering: $header-text-rendering
            margin-top: $header-top-margin
            margin-bottom: $header-bottom-margin
            line-height: $header-line-height

            small {
                font_size($small-font-size)
                color: $small-font-color
                line-height: 0
            }
        }

        h1 {
            font_family($h1-font-family)
            font_size($h1-font-size - $h1-font-reduction)
            color: $h1-font-color
            font-weight: $h1-font-weight
        }
        h2 {
            font_family($h2-font-family)
            font_size($h2-font-size - $h2-font-reduction)
            color: $h2-font-color
            font-weight: $h2-font-weight
        }
        h3 {
            font_family($h3-font-family)
            font_size($h3-font-size - $h3-font-reduction)
            color: $h3-font-color
            font-weight: $h3-font-weight
        }
        h4 {
            font_size($h4-font-size - $h4-font-reduction)
            color: $h4-font-color
            font-weight: $h4-font-weight
        }
        h5 {
            font_size($h5-font-size - $h5-font-reduction)
            color: $h5-font-color
            font-weight: $h5-font-weight
        }
        h6 {
            font_size($h6-font-size - $h6-font-reduction)
            color: $h6-font-color
            font-weight: $h6-font-weight
        }

        .subheader {
            subheader()
        }

        hr {
            border: $hr-border-style $hr-border-color
            border-width: $hr-border-width 0 0
            clear: both
            margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width))
            height: 0
        }

        /* Helpful Typography Defaults */
        em, i {
            font-style: italic
            line-height: inherit
        }

        strong, b {
            font-weight: $font-weight-bold
            line-height: inherit
        }

        small {
            font_size($small-font-size)
            line-height: inherit
        }

        code,
        kbd,
        pre,
        samp {
            font_family($code-font-family)
            font_size($code-font-size)
            font-weight: $code-font-weight
            color: $code-color
            background-color: $code-background-color
            border-width: $code-border-size
            border-style: $code-border-style
            border-color: $code-border-color
            padding: $code-padding
        }

        /* Lists */
        ul,
        ol,
        dl {
            font_size($list-font-size)
            line-height: $list-line-height
            margin-bottom: $list-margin-bottom
            list-style-position: $list-style-position
            font_family($list-font-family)
        }

        ul {
            margin-{$default-float}: $list-side-margin
            &.no-bullet {
                margin-{$default-float}: $list-side-margin-no-bullet
                li {
                    ul,
                    ol {
                        margin-{$default-float}: $list-nested-margin
                        margin-bottom: 0
                        list-style: none
                    }
                }
            }
        }

        /* Unordered Lists */
        ul {
            li {
                ul,
                ol {
                    margin-{$default-float}: $list-nested-margin
                    margin-bottom: 0
                }
            }
            &.square,
            &.circle,
            &.disc {
                li ul {
                    list-style: inherit
                }
            }

            &.square {
                list-style-type: square
                margin-{$default-float}: $list-side-margin
            }
            &.circle {
                list-style-type: circle
                margin-{$default-float}: $list-side-margin
            }
            &.disc {
                list-style-type: disc
                margin-{$default-float}: $list-side-margin
            }
            &.no-bullet {
                list-style: none
            }
        }

        /* Ordered Lists */
        ol {
            margin-{$default-float}: $list-ordered-side-margin
            li {
                ul,
                ol {
                    margin-{$default-float}: $list-nested-margin
                    margin-bottom: 0
                }
            }
        }

        /* Definition Lists */
        dl {
            dt {
                margin-bottom: $definition-list-header-margin-bottom
                font-weight: $definition-list-header-weight
            }
            dd {
                margin-bottom: $definition-list-margin-bottom
            }
        }

        /* Abbreviations */
        abbr,
        acronym {
            text-transform: uppercase
            font_size(90%)
            color: $body-font-color
            cursor: $cursor-help-value
        }
        abbr {
            text-transform: none
            &[title] {
                border-bottom: $acronym-underline
            }
        }

        /* Blockquotes */
        blockquote {
            margin: 0 0 $paragraph-margin-bottom
            padding: $blockquote-padding
            border-{$default-float}: $blockquote-border

            cite {
                display: block
                font_size($blockquote-cite-font-size)
                color: $blockquote-cite-font-color
                &:before {
                    content: "\2014 \0020"
                }

                a,
                a:visited {
                    color: $blockquote-cite-link-color
                }
            }
        }
        blockquote,
        blockquote p {
            line-height: $paragraph-line-height
            color: $blockquote-font-color
        }

        /* Microformats */
        .vcard {
            display: inline-block
            margin: $microformat-margin
            border: $microformat-border-width $microformat-border-style $microformat-border-color
            padding: $microformat-padding

            li {
                margin: 0
                display: block
            }
            .fn {
                font-weight: $microformat-fullname-font-weight
                font_size($microformat-fullname-font-size)
            }
        }

        .vevent {
            .summary {
                font-weight: $microformat-summary-font-weight
            }

            abbr {
                cursor: $cursor-default-value
                text-decoration: $microformat-abbr-font-decoration
                font-weight: $microformat-abbr-font-weight
                border: none
                padding: $microformat-abbr-padding
            }
        }


        @media $medium-up {
            h1,h2,h3,h4,h5,h6 {
                line-height: $header-line-height
            }
            h1 {
                font_size($h1-font-size)
            }
            h2 {
                font_size($h2-font-size)
            }
            h3 {
                font_size($h3-font-size)
            }
            h4 {
                font_size($h4-font-size)
            }
            h5 {
                font_size($h5-font-size)
            }
            h6 {
                font_size($h6-font-size)
            }
        }

        // Only include these styles if you want them.
        if $include-print-styles {
            /*
            * Print styles.
            *
            * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
            * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
            */
            .print-only {
                display: none !important
            }
            
            @media print {
                * {
                    background: transparent !important
                    color: $black !important /* Black prints faster: h5bp.com/s */
                    box-shadow: none !important
                    text-shadow: none !important
                }

                a,
                a:visited {
                    text-decoration: underline
                }
                a[href]:after {
                    content: " (" attr(href) ")"
                }

                abbr[title]:after {
                    content: " (" attr(title) ")"
                }

                // Don't show links for images, or javascript/internal links
                .ir a:after,
                a[href^="javascript:"]:after,
                a[href^="#"]:after {
                    content: ""
                }

                pre,
                blockquote {
                    border: 1px solid $gray-dark-1
                    page-break-inside: avoid
                }

                thead {
                    display: table-header-group /* h5bp.com/t */
                }

                tr,
                img {
                    page-break-inside: avoid
                }

                img {
                    max-width: 100% !important
                }

                @page {
                    margin: 0.5cm
                }

                p,
                h2,
                h3 {
                    orphans: 3
                    widows: 3
                }

                h2,
                h3 {
                    page-break-after: avoid
                }

                .hide-on-print {
                    display: none !important
                }
                .print-only {
                    display: block !important
                }
                .hide-for-print {
                    display: none !important
                }
                .show-for-print {
                    display: inherit !important
                }
            }
        } // EOF - if $include-print-styles
    } // EOF - if $include-html-type-classes
// }