// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// =========================================================================
// CUSTOM OVERRIDES
// PUT YOUR CUSTOM SETTIGNS AND OVERRIDES HERE
// =========================================================================

// Table of Contents
// OVERRIDE - Foundation Settings
// 
//
// 0-a - GLOBAL VARS
// a. Base
// b. Grid
// c. Global
// d. Media Query Ranges
// e. Typography
// 01. Accordion
// 02. Alert Boxes
// 03. Block Grid
// 04. Breadcrumbs
// 05. Buttons
// 06. Button Groups
// 07. Clearing
// 08. Dropdown
// 09. Dropdown Buttons
// 10. Flex Video
// 11. Forms
// 12. Icon Bar
// 13. Inline Lists
// 14. Joyride
// 15. Keystrokes
// 16. Labels
// 17. Magellan
// 18. Off-canvas
// 19. Orbit
// 20. Pagination
// 21. Panels
// 22. Pricing Tables
// 23. Progress Bar
// 24. Range Slider
// 25. Reveal
// 26. Side Nav
// 27. Split Buttons
// 28. Sub Nav
// 29. Switch
// 30. Tables
// 31. Tabs
// 32. Thumbnails
// 33. Tooltips
// 34. Top Bar
// 36. Visibility Classes

@require "../_global/lm-foundation/_functions"

// =========================================================================
//  0-a - GLOBAL Variables
// Look for more variables in the components stylesheet
// =========================================================================

// =========================================================================
// Folders
// =========================================================================
// Define your relativbe paths here

$dir_themebase =                    "../../.."
$dir_img =                          $dir_themebase+"/src/img"
$dir_js =                           $dir_themebase+"/src/js"
$dir_font =                         $dir_themebase+"/src/fonts"

// =========================================================================
// Grid system (based on jeet.gs)
// =========================================================================
// jeet overrides - requires jeet to be imported before!
jeet.gutter =                       2
jeet.max-width =                    rem-calc(1170)
