// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// =========================================================================
// CUSTOM OVERRIDES
// PUT YOUR CUSTOM SETTIGNS AND OVERRIDES HERE
// =========================================================================


@require "../_global/lm_foundation/_functions"

// =========================================================================
//  0-a - GLOBAL Variables
// Look for more variables in the components stylesheet
// =========================================================================

// =========================================================================
// Folders
// =========================================================================
// Define your relativbe paths here

$dir_themebase =                    "../../.."
$dir_img =                          $dir_themebase+"/src/img"
$dir_js =                           $dir_themebase+"/src/js"
$dir_font =                         $dir_themebase+"/src/fonts"

// =========================================================================
// GRID system (based on jeet.gs)
// =========================================================================
// jeet overrides - requires jeet to be imported before!
jeet.gutter =                       2
jeet.max-width =                    rem-calc(1170)

// =========================================================================
// COLORS
// =========================================================================


// =========================================================================
// FONT SIZES
// =========================================================================



// =========================================================================
// Load classes and modules
// =========================================================================
$include-html-classes =                     true
$include-print-styles =                     true
$include-html-global-classes =              $include-html-classes
$include-html-grid-classes =                $include-html-classes
$include-html-type-classes =                $include-html-classes
$include-html-accordion-classes =           $include-html-classes
$include-html-alert-classes =               $include-html-classes
$include-html-block-grid-classes =          $include-html-classes
$include-html-button-classes =              $include-html-classes
$include-html-clearing-classes =            $include-html-classes
$include-html-dropdown-classes =            $include-html-classes
$include-html-media-classes =               $include-html-classes
$include-html-form-classes =                $include-html-classes
$include-html-icon-bar-classes =            $include-html-classes
$include-html-inline-list-classes =         $include-html-classes
$include-html-joyride-classes =             $include-html-classes
$include-html-keystroke-classes =           $include-html-classes
$include-html-label-classes =               $include-html-classes
$include-html-magellan-classes =            $include-html-classes
$include-html-off-canvas-classes =          $include-html-classes
$include-html-orbit-classes =               $include-html-classes
$include-pagination-classes =               $include-html-classes
$include-html-panel-classes =               $include-html-classes
$include-html-pricing-classes =             $include-html-classes
$include-html-media-classes =               $include-html-classes
$include-html-range-slider-classes =        $include-html-classes
$include-html-reveal-classes =              $include-html-classes
$include-html-nav-classes =                 $include-html-classes
$include-html-button-classes =              $include-html-classes
$include-html-nav-classes =                 $include-html-classes
$include-html-table-classes =               $include-html-classes
$include-html-tabs-classes =                $include-html-classes
$include-html-tooltip-classes =             $include-html-classes
$include-html-top-bar-classes =             $include-html-classes
$include-html-visibility-classes =          $include-html-classes
$include-table-visibility-classes =         true
$include-legacy-visibility-classes =        false // true !default - legacy breakpoints are not longer supported!
$include-accessibility-classes =            true