// =========================================================================
// Folder & Filesystem
// =========================================================================
// We put our path and file structure in some global variables here ...

@require '_json'

//
// @var
//
$base-http ?=                       base_params.httpurl

// NOTE: path is relative to output style.css in dist/css/
$relative-theme-path ?=              base_params.themeroot_relative // path relative from output style.css in "dist/css/"

$base-path-src ?=                    base_params.src
$base-path-svg ?=                    ($base-path-src + '/svg')
$base-path-png ?=                    ($base-path-src + '/png')
$base-path-dist ?=                   base_params.dest

$dir-dist ?=                         'dist' // Name of distribution folder

$absolute-theme-path ?=              'src' // e.g. '/out/mytheme/src/'
$absolute-image-path ?=              'img' // e.g. '/out/mytheme/img'

$dir_font ?=                         ($base-path-dist + '/fonts')
$dir_img ?=                          ($base-path-src + '/img')
$dir_js ?=                           ($absolute-theme-path + $dir-dist + '/js')
$dir_themebase ?=                  	 $relative-theme-path

$relative-paths ?=                   true