// =========================================================================
// Folder & Filesystem
// =========================================================================
// We put our path and file structure in some global varibales here ...

@require '_json'

//
// @var
//
$base-http ?=                       base_params.httpurl


// NOTE: path is relative to output style.css in dist/css/
$relative-theme-path ?=              base_params.themeroot_relative // path relative from output style.css in "dist/css/"
$absolute-theme-path ?=              base_params.themeroot_absolute
$absolute-image-path ?=              $absolute-theme-path + base_params.themeimages_folder

$base-path-src ?=                    base_params.src
$base-path-svg ?=                    $base-path-src+'/svg'
$base-path-png ?=                    $base-path-src+'/png'
$base-path-dist ?=                   base_params.dest

$dir-dist ?=                         'dist' // Name of distribution folder
$dir_img ?=                          $base-path-src + '/img'
$dir_font ?=                         $base-path-dist + '/fonts'

$relative-paths ?=                   true