// =========================================================================
// LOAD PARAMWETERS AND SETTINGS FROM JSON-FILES
// @json
//
base_colors = json('../../json/base__colors.json', { hash: true })
base_params = json('../../json/base__params.json', { hash: true })
com_css = json('../../json/fndtn__com__css.json', { hash: true })
com_js = json('../../json/fndtn__com__js.json', { hash: true })

// The base path is relative and should lead to the project root folder starting from this (styles.styl) file
$base-path = base_params.projectroot_relative
$node-path = $base-path+"node_modules"
$theme-path = base_params.themeroot_relative