/* Category Page ========================================================================= */
	.category-title 					{ border:0; margin:0; }
	img.cat-img 						{ float:left; border:1px solid rgba(0,0,0,0.3); box-shadow: 2px 2px 20px rgba(0,0,0,0.3); }
	.category-description img.cat-img 	{ margin:0 40px 0 0; }
	.category-description 				{ margin:0 0 10px 0; padding:0; font-size:(1.1); text-align:justify; }
	.category-description,
	.shortdesc,
	p									{ hyphenate:auto; }

	.col-main .block 					{ background:none; }
	.col-main .category-block 			{ padding-bottom:20px; margin-bottom:20px; border-bottom:2px solid #aaa; }
	.col-main .block ul					{ list-style:disc; margin-left:30px; }
	.col-main .block ul	li 				{ margin-bottom:.5em; }
	
	.category-description h1			{ display:block; font-size:1.8em!Important; margin:0; text-align: center; }
	.category-description p				{ }
	.category-description .inner 		{ padding:20px 40px; margin:0;}
	.category-description ul			{ margin-left:20px; text-align:left; }
	.category-description ul li			{ list-style-type:disc; }	


/* --- Sub-Category lists ----------------------- */

	.item .subcatPic,
	.item .catPicOnly 					{ margin:0; padding: 10px; background-color:$gray-light-1; text-align:center; }
	.item .subcatPic a 					{ background: #fff; display: block; height: 100px; line-height: 98px; }	
	.item .catPicOnly .subcatPic 		{ left: 0; top: 0; text-align: center; }
	.item .catPicOnly .subcatPic img 	{ vertical-align: middle; }
		
	.subcat-list 						{ margin:0; padding:20px; }
	.subcat-list ul,
	.subcat-list li 					{ padding:0; margin: 0; list-style-type:none; }
	.subcat-list .item 					{ col(1/4, cycle:4, gutter:1); margin-bottom:10px; background:$gray-light-1; }
	.subcat-list h3 					{ padding:0; margin:0; text-transform: uppercase; }
	.subcat-list h3 a 					{ display:block; min-height:50px; padding:5px 10px; background-color: #fff; color: $brand-primary; white-space: normal; border-bottom: 2px solid $brand-primary;}
	.subcat-list .item:hover 			{ box-shadow:0 0 10px rgba(0,0,0,0.3); }	
	.subcat-list .item:hover h3 a,
	.subcat-list h3 a:hover 			{ text-decoration:none; background-color:$brand-primary; color:#fff; }
	.subcat-list .item:hover img 		{ opacity:0.6; }
	.subcat-list .item ul 				{ padding: 10px; margin:0; }
	.subcat-list .item ul li 			{ display:block; float:none; fontCondensed() }
	.subcat-list .item ul li a			{ display:block; padding:3px; font-weight:normal; color:$gray-dark-1; border-top:1px solid rgba(0,0,0,0.1); }
	.subcat-list .item ul li a:hover 	{ color:$brand-primary; text-decoration:none; }
	
	.categoryDescription 				{ background: #ebeae8; padding: 10px 10px 10px 10px; font-size: 0.9em; border-bottom: 1px solid #fff; }
	.categoryTopDescription,
	.categoryTopLongDescription 		{ font-size: 1.2em; line-height: 18px; margin-bottom: 20px; }
	.categoryTopLongDescription p 		{ margin-bottom: 10px; }
	.categoryPicture 					{ margin-bottom: 10px; }

	
	
	.category-products li.item					{ }
	h2.product-name 							{ margin:0; font-weight:bold; font-size:1.20em; color:#000; display:inline-block; }
	.products-grid li.item a.prd-image,
	.products-grid li.item a.prd-image:visited,
	.product-name a,
	.product-name a:visited 					{ color: #000; display:inline-block; text-decoration: none;}
	.product-name a span 						{ padding: 0; display:inline-block; }
	.products-grid li.item a.prd-image:hover h2 span,
	.product-name a:hover span					{ color: #fff; }
	
	
	li.item .baseprice 							{ text-align:right; color:#505050; font-size:0.9em; }
	li.item .baseprice .price 					{  }
	li.item:hover .baseprice 					{ color:#000; }
	
	ul.add-to-links								{ float:left; padding:0;}
	ul.add-to-links > li						{ float:left; width:40px; margin:0; height:30px; position:relative;}
	ul.add-to-links > li > a					{ background: transparent url(../../images/iconbar2.gif) no-repeat center 20px; font-size:0; display:block; width:40px; height:30px; line-height:30px;}
	ul.add-to-links li:hover > a,
	ul.add-to-links li a:hover					{ background-color:#3E4042; color:$brand-primary;}
	ul.add-to-links li a.link-wishlist 			{ font-weight:bold; background-position: center -156px;}
	ul.add-to-links li a.link-compare			{ font-weight:bold; background-position: center -42px; }
	ul.add-to-links li a.link-quickview			{ font-weight:bold; background-position: center -573px; }	
	ul.add-to-links li a.link-quickview:hover	{ /* background:#3E4042 url(../../../images/arrow_up.gif) no-repeat 47% -183px; */}
	ul.add-to-links li a.link-quickview.active	{ background:#3E4042 url(../../../images/arrow_down.gif) no-repeat 47% -83px!Important; cursor:default;}
	ul.add-to-links li a.link-quickview.active:hover	{ background-position:47% -183px!Important; cursor:pointer;}
	ul.add-to-links li a.link-wishlist:hover 	{ background-position: center -194px;}
	ul.add-to-links li a.link-compare:hover		{ background-position: center -80px; }
	/* Quickview */
	.products-grid li.link-quickview h3.product-name		{ color:$brand-primary; font-size:1.2em; padding:0; margin:0;}
	.products-grid li.link-quickview a.link-more		{ position:absolute; right:25px; bottom:10px; color:#808080; display:inline-block; padding-right:12px; text-decoration:none; text-transform:uppercase; font-size:0.9em; line-height:30px; }
	.products-grid li.link-quickview a.link-more:hover	{ color:$brand-primary; background-position:right -181px; }
	ul.add-to-links li ul						{ display:none; position:absolute; left:-80px; bottom:30px; background-color:#3E4042; width:350px; height:267px; z-index:1001;}
	ul.add-to-links li ul li					{ width: auto; display:block; float:none; padding:10px; text-align:left; }
	.category-products .products-grid li.last .add-to-links li.link-quickview ul	{ left:auto; right: -53px;}
	
	.lineView .ratings						{ display:inline; width:auto; height:auto; position:absolute; top:0; right:30%;}
	.category-products .rating-box				{ margin:0;}
	.category-products .ratings a,
	.category-products .ratings .amount			{ color:#8A8A8A; text-shadow:1px 1px #000; font-size:1em;}
	.category-products .rating-links			{ display:none;}
	
	.category-products .price-box .label		{ color: #999; font-size:1em; font-weight: normal; text-align: right;}
	
	.category-products .validation-advice,
	.category-products .tax-details,
	.category-products .delivery-time-details	{ display:none; }
	
	.category-products .item dl dt				{ display:none; }

	img.product-image,
	img.prd-image,
	.header-cart ul li ol#header-cart li a .image	{ /*border:1px solid rgba(0,0,0,0.15); background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.15))); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%); background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%); background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#26ffffff',GradientType=0 );*/ }
	img.product-image:hover,
	img.prd-image:hover							{ /*border:1px solid $brand-primary;*/ }
	.header-cart ul li ol#header-cart li a .image {}

	.add-to-cart 								{ position:relative; overflow:visible; }
	.add-to-cart .loading 						{ position:absolute; left:0; top:0; width:100%; background:#999 url(../../images/opc-ajax-loader.gif) no-repeat center center; }
	.add-to-cart.addto-thin .qty 				{ width:38px; margin:0; padding:0; height:28px; line-height:28px; float:left;}
	.add-to-cart.addto-thin .qty_handler 		{ width:auto; display:inline;}
	.add-to-cart.addto-thin button.increase,
	.add-to-cart.addto-thin button.decrease		{ width:30px; height:40px; float:left; border:none; margin-right:1px;}
	.add-to-cart.addto-thin button.increase,
	.add-to-cart.addto-thin button.decrease 	{ background-position:center -83px;}
	.add-to-cart.addto-thin button.increase:hover,
	.add-to-cart.addto-thin button.decrease:hover { background-color:$brand-primary; }	
	
	div[class*=products] li.item:hover 			{ background:rgba(0,0,0,0.2); }
	div[class*=products] li.item:hover .desc 		{ color:#000; }
	div[class*=products] li.item:hover .regular-price .price,
	div[class*=products] li.item:hover .old-price .price			{  }


	/* View Type: Grid */
	.products-grid							{ position: relative; padding:0;}
	.products-grid li.item					{ float:left; min-width:175px!Important; position:relative; overflow:hidden; padding:0; margin:0; text-align:center;  min-height:235px; height:auto!Important; height:235px; }
	.products-grid.first					{ margin-top:10px;}
	.products-grid.last 					{ margin-bottom:10px; border-bottom-color:transparent;}
	.products-grid li.item:hover			{ overflow:visible; }
	.products-grid li.item .inner			{ width:100%; padding:10px 0 0 0; position:absolute; height:235px; left:0; top:0; overflow:hidden;}
	.products-grid li.item:hover .inner		{ height: 300px; z-index:500; box-shadow:2px 2px 10px #000; }
	.products-grid li.item .inner:hover		{ overflow:visible; }
	.products-grid .rating-box				{ margin-left:35px;}
	.products-grid li h2,
	.products-grid li .ratings,
	.products-grid li .price-box			{ margin:0;}
	.products-grid .availability 			{ line-height:21px; }
	.products-grid li a.product-image		{ padding:10px; float:none;}
	.products-grid .product-name			{ padding:0 5px;}
	.products-grid li > div > a > .product-name		{ margin-top:5px; height:32px; overflow:hidden; }
	.products-grid .price-box				{ float:none; clear:both; display:block; text-align:right; line-height:2em; font-size:1em; padding-right:10px; }
	.products-grid .price-box a				{ float:left;}
	.price-box .special-price,
	.price-box .old-price					{ display: block;}
	.price-box .special-price				{ margin-left:5px; }
	.products-grid li .actions 				{ position:absolute; bottom:0; border-bottom:1px solid rgba(0,0,0,0.2); left:0; height:60px; width:100%; overflow:visible; padding-bottom:6px;}
	.products-grid .add-to-cart,
	.products-grid .add-to-links 			{ display:block; height:30px; clear:both; margin:0 6px; }
	.products-grid .add-to-links 			{ }
	.products-grid .add-to-cart 			{ background: #737575; border:1px solid rgba(0,0,0,0.2); box-sizing:content-box; }
	.products-grid .actions button			{ float:right; width:35px;}
	.products-grid .actions button.btn-cart	{  width:70px; height:30px; line-height:30px; box-shadow:none; }
	.products-grid .actions button.btn-cart>span{ display:block; }
	.col2-left-layout .products-grid,
	.col2-right-layout .products-grid 		{ margin:0 auto; }
	.col1-layout .products-grid 			{ margin:0 auto; }
/* --- Grid View ------------------------------------ */
	.gridView,
	.infogridView 									{ margin: 0; margin-bottom: 20px; }
	.gridView {
		li 									{ 
			col(1/4, cycle: 4); 
			@media $medium-only { col(1/2, uncycle: 4, cycle: 2); }
			@media $small-only { col(1, uncycle: 4, cycle: 0); }

			height: 230px; overflow: hidden; position: relative; list-style: none; padding: 0; list-style: none; background: #ebeae8;
			
			a.titleBlock 						{ 
				padding: 5px 10px; color: #111; line-height: 15px; text-decoration: none; font-weight: bold; display: block; 
				&:hover 						{ 
					color: $brand-primary; 
					.gridPicture img 	{ opacity:0.6; }
				}
				span 					{ display:block; height:36px; }	
				.gridPicture 			{ display: block; margin: 0; padding:0; height: 150px; text-align: center; background:#fff; }
				.gridPicture img 		{  }
			}
			.priceBlock 						{ 
				height: 30px; padding: 5px 10px; font-size: 1.2em; 
				.priceOld 				{ color:#111; }
				.pricePerUnit 			{ font-size: 0.85em; line-height: 1em; display: block; }
				a.toCart 				{ display:none; font-size: 1em; font-weight: bold; text-transform: uppercase; }
			}
		}
	}	

	.titleBox 										{ }
	.titleBox a 									{ display: block; padding: 10px; font-size: 1.2em; font-weight: bold; }

	.priceBox 										{ padding: 10px; text-align: right; }
	.priceBox strong 								{ font-size: 1.2em; padding-right: 5px; color:$brand-primary; }
	.priceBlock 									{ text-align:right; }
	.priceBlock strong								{ color:$brand-primary; }


/* --- InfoGrid -------------------------------- */
.infogridView { margin: 0; padding: 0;}

.infogridView li.productData { col(1/4, cycle:4, gutter:1); background: $gray-light-1;}

.infogridView .listDetails { position: relative; height: 160px; padding-top: 10px; }
.infogridView .titleBox,
.infogridView .selectorsBox,
.infogridView .buttonBox,
.infogridView .priceBox { background: none; padding: 0; }
.infogridView .titleBox { height: 42px; }
.infogridView .selectorsBox { height: 35px; padding-left: 10px; }
.infogridView .priceBox { height: 50px; }
.infogridView .buttonBox { }
.infogridView .titleBox a { padding-top: 10px; }
.infogridView a.compare { font-size: 0.9em; color: $brand-primary; font-weight: bold; text-transform: uppercase; padding-bottom: 3px; }
.infogridView .priceBox .oldPrice { font-size: 9px; }
.infogridView .priceBox .price { font-size: 1.2em; font-weight: bold; }
.infogridView .priceBox .pricePerUnit { font-size: 9px; white-space: nowrap; }
.infogridView .priceBox .content { position: absolute; bottom: 23px; line-height: 10px; }
.infogridView .gridPicture { padding: 5px; background: #fff; float: none;}
.infogridView .gridPicture img { vertical-align: middle; }
.infogridView .deliveryInfo { font-size: 0.9em; }
.infogridView .title { font-size: 1em; }
.infogridView .title:hover { color: #eb6005; text-decoration: none; }	

	/* --- View Type: line view --------------------------- */
	.lineView 							{ margin: 0; }
	.lineView li.item 					{ position:relative; margin:0; padding: 10px 0; list-style: none; position: relative; background:#fff; border-top:2px solid #ebeae8; }
	.lineView li.item:first-child		{ border-top:none; }
	.lineView li.item:hover				{ }
	.lineView li > .inner 				{ padding:10px 20px 20px 10px; padding:0; }
	.lineView a.prd-image 				{ float:left; width:220px; height:135px; margin:0; }
	.lineView .product-shop 			{ margin-left: 170px; position:relative; }	
	.category-products li.item .left 		{ width:70%; float:left; min-height:150px; }	
	.category-products li.item .right 		{ width: 28%; float:right; min-height:150px; padding-bottom:15px; background-color: #999;}	
	.category-products li.item .right > div,
	.category-products li.item .right > span { margin:0 20px; }
	.lineView h3.product-name			{ margin: 0 0 5px 0; padding: 0 0 5px 0; display:block; border-bottom: 1px solid $brand-primary; font-size: 1.2em;}
	.lineView h3.product-name a 		{ display: block; line-height:1.6em; margin-left: 0px; color:$brand-primary; }
	.lineView li.item .right .price-box { text-align:right; font-size:1.2em; margin-top:5px; }
	.lineView li.item .right .price-box .regular-price .price { font-weight:normal; color: #fff;}
	.lineView li.item .right .price-box .minimal-price-link .label,
	.lineView li.item .right .price-box .minimal-price-link .price { color: #ccc; border:none; text-decoration:none; outline:none; }
	.lineView .availability 			{ float:left; margin:3px 0 0; }
	.lineView .tax-details,
	.lineView .delivery-time			{ clear:right; width:140px; float:right; font-size:0.9em; text-align:right; color:#808080; visibility:hidden; opacity:0;}
	.lineView .tax-details a			{ color:#808080; text-decoration:underline;}
	.lineView .tax-details a:hover		{ color:#fff;}
	.lineView .desc 					{ float:none; clear:both; background:none; padding:0; margin:10px 0 0 0; color: #333; line-height:1.5em; font-size:1em; font-weight:normal; text-align:justify; text-transform:none; }
	.lineView a.link-more 				{ position:absolute; right:300px; bottom:1px; color:#3d3d3d; display:inline-block; padding-right:12px; text-decoration:none; text-transform:uppercase; font-size:0.9em; line-height:25px; }
	.lineView a.link-more:hover			{ color:#fff; background-position:right -83px; }
		
	.lineView .opts 					{ position:absolute; bottom:40px; right:10px; width:180px; height:38px; overflow:hidden; }
	.lineView .opts select 				{ float:none; clear:both; display:block; width:100%; }
	.lineView li .actions				{ position:absolute; bottom:0; /*right:-9999em;*/ right:0; width:100%; }
	.lineView li .actions ul 			{ float:right; width:16%; min-width:84px; background:rgba(0,0,0,0.2); height:38px; }
	.lineView li .actions ul.add-to-links li		{ width:50%; float:left; min-width:36px; }
	.lineView li .actions ul li a		{ width:auto; height:38px; display:block; }
	.lineView li:hover .actions			{ /*right:0px;*/ }
	.lineView li .actions .add-to-cart 	{ float:right; width: 28%; height:auto; display:inline-block; margin-left:30px; }	
	.lineView li .actions .add-to-cart .qty,
	.lineView li .actions .add-to-cart .qty_handler,
	.lineView li .actions .add-to-cart .qty_handler button { width:30%!Important; border:none!Important; display:block; margin:0!Important; height:38px!Important; }
	.lineView li .actions .add-to-cart .qty_handler button { width:50%!Important; }
	.lineView li:hover .tax-details,
	.lineView li:hover .delivery-time-details { visibility:visible; opacity:1;}
	.lineView button.btn-cart			{ width: 100%; margin: 0;}
	.lineView button.btn-cart span 		{ }
	.lineView button.btn-cart:hover > span	{ background-position: center -535px; }
	
/* --- line view --------------------------- */

.lineView a.compare { font-size: 0.9em; color: $brand-primary; font-weight: bold; text-transform: uppercase; }
.lineView .pictureBox,
.lineView .info,
.lineView .description { float: left; margin-right: 20px;}
.lineView .infoBox 		{ margin-left: 170px; }
.infoBox { position: relative; }
.lineView .info { min-height: 50px; padding: 0 20px; }
.lineView .description { padding: 0 20px; font-size: 1em; line-height: 1.4em; }
.lineView .functions { padding: 0 0 0px 10px; bottom: 10px; clear: right; float: right; width: 20%; }
.lineView .functions .price { display:block; }
.pictureBox { height: 150px; float: left; text-align: center; line-height: 150px; overflow: hidden; width: 150px;}
.pictureBox img { vertical-align: middle; }
.pictureBox { position: relative; }
.pictureBox .viewAllHover { position: absolute; left: 23px; top: 62px; display: none; }
.pictureBox:hover .viewAllHover { display: block; }
.pictureBox .sliderHover { width: 100%; height: 150px; }
.pictureBox:hover .sliderHover { display: block; }
.pictureBox.gridPicture .sliderHover { margin-top: 10px; height: 150px; }
.pictureBox.gridPicture .viewAllHover { top: 68px; }	

	/* View Type: Fast */
	.faster .cf 							{ height:125px;}
 	.faster .cf .product-shop 				{ margin-left:10px;margin-top:10px; }
	.faster .lineView a.link-more 		{ bottom:10px;}
 
	/* Alle View Types */
	.category-products li.item:hover .inner,
	.product-view .box-related li.item:hover,
	.highlight li.item:hover	{ border-color:#494a4a; background:#616263 url(../../images/bkg_showcase.gif) repeat-x left bottom; background: linear-gradient(top, #3E4042 0%,#737575 100%); background: -webkit-linear-gradient(top, #3E4042 0%,#737575 100%); background: -moz-linear-gradient(top, #3E4042 0%,#737575 100%); background: -ms-linear-gradient(top, #3E4042 0%,#737575 100%); background: -o-linear-gradient(top, #3E4042 0%,#737575 100%);}


/* ================================================================== */
